<div id='tabs-1'>
    <div style="width:100%; height:0px; position: relative;">
        <div class="arrow-down-a"></div> 
    </div>
    {{include 'partials/front/styleview/photo.html'}}
    {{include 'partials/front/styleview/comments.html'}}
    {{include 'partials/front/styleview/galleryphotos.html'}}
</div>
