<div class="tabs-2" id="tabs-2">
    <div style="width:100%; height:0px; position: relative;">
        <div class="arrow-down-b"></div> 
    </div>

    {{ if styles is False:}}
        <div class="inline">User has not created any style yet.</div>
    {{ else: }} 
       {{ for style in styles: }}
            <div class='inline' style="width:276px;">
                <a href="/{{=IS_SLUG.urlify(style.owner_id.username)}}/{{=IS_SLUG.urlify(style.name)}}" class="divLink">Style 1</a>

                {{ if style.stylethumb: }}
                    <div class='imgContainer inline'><img src="{{=URL('default', 'download', args=style.stylethumb)}}" alt='' width='110px' height='110px'/></div>
                {{ else: }}
                    <div class='imgContainer inline'><img src='http://placehold.it/110x110' alt='' width='110px' height='110px'/></div>
                {{ pass }}


                <div class='inline styleFeedInfo'>
                    <span><strong>{{=style.name[0:20]}}</strong></span><br/>

                    {{if style.description:}}
                       <span>{{=style.description[0:32]}}</span></br>
                    {{else:}}
                       <span>No description</span></br>
                    {{pass}}


                    <span>{{=db(db.loves.style_id==style.id).count()}} <i class="icon-heart"></i></span><br/>

                    <span>by {{=A(style.owner_id.username, _href=URL('profile', IS_SLUG.urlify(style.owner_id.username) )) }}</span>
                </div>
            </div>
        {{ pass }}
    {{ pass }}

</div>
