{{extend 'layouts/front.html'}}

{{include 'partials/front/addstylefeed.html'}}
{{include 'partials/front/slider.html'}}

<div class='content'>
    <div class='rightContent'>
        {{include 'partials/front/shopthestyles.html'}}
        {{include 'partials/front/looks.html'}}
        {{include 'partials/front/mostloved.html'}}
        {{include 'partials/front/recentstyles.html'}}
    </div>
    
    <div class='mainContent'>
        {{include 'partials/front/stylefeed.html'}}
    </div>  
</div>