{{extend 'layouts/front.html'}}

<body>
<div class="body_background">
  <div id="header">
    <div class="inner">
      {{ include 'partials/front/top.html' }}
      {{ include 'partials/front/navigation.html' }}
    </div>
    <!-- search feature -->    
    <!-- tooltip element -->
  </div>
</div>

{{ include 'partials/front/tabbed_slides.html' }} 

{{ include 'partials/front/body_block.html' }} 

{{ include 'partials/front/footer.html' }} 

{{ #include 'partials/front/subfooter.html' }} 

{{ include 'partials/front/cufon.html' }} 

