<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login</title>
    <!-- Bootstrap -->
    <link href="{{=URL('static','panel/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{=URL('static','panel/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{=URL('static','panel/assets/styles.css')}}" rel="stylesheet" media="screen">

     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>
  </head>
  <body id="login">
    <div class="container">

   {{=form}}

   {{#form.custom.begin}}
  <!--       <form action="#" class="form-signin" method="post">
          <h2 class="form-signin-heading">Please sign in</h2>
          <input type="text" class="input-block-level" placeholder="Email address">
          <input type="password" class="input-block-level" placeholder="Password">
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        </form> -->
   {{#form.custom.end}}

<!-- 

      <form action="" class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
 -->

      <ul>
        <li><a href="{{=URL(r=request, f='login', vars={'social_media':'twitter'})}}">Twitter</a></li>
        <li><a href="{{=URL(r=request, f='login', vars={'social_media':'facebook'})}}">Facebook</a></li>
      </ul>



    </div> <!-- /container -->
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  </body>
</html>