/* ________________________________________________________________________________________________________________
	                                              01. GLOBAL STRUCTURE 
   ________________________________________________________________________________________________________________ */
body{background:url("classic_white_lights/background.jpg") repeat-x center top #290b23;}
#body_block {background:url("classic_white_lights/body_block.png") repeat-y scroll center top transparent;}
#header{background:url("classic_white_lights/menu.png") no-repeat scroll center bottom transparent;}
.footer_background{background:url("classic_white_lights/footer_background.png") repeat-y scroll center top transparent;}
#footer{background: url("classic_white_lights/footer.png") no-repeat scroll center bottom transparent;}
.footer_trim  {background:url("_shared/opacity_strip.png") repeat-x scroll 0 10% transparent;}
.partial_gradient_slide{background: url("classic_white_lights/gradient_slide.jpg") 0px 0px no-repeat;}

/* ________________________________________________________________________________________________________________
	                                              02. TYPOGRAPHY 
   ________________________________________________________________________________________________________________ */

/* ------- Links ------- */
p a, a:hover, .webtreats_subnav_widget li.current_page_item a, .commentmetadata a, .blog_meta a,
.contact_widget_email,.fancy_link,.download_link,.email_link,.toggle
{
	color:#606;
}

/* ------- Misc ------- */
blockquote, .bullet_list, h5, .rss-date, .date, .awaiting_moderation, .dropcap4{
	color:#333;
}
.inputError{border-color:#93AAB2 !important;}
.fancy_header span{background-color:#93AAB2;}

/* ------- Footer ------- */
#footer{color:#eee;}
#footer a{color:#f0f0f0;}
#footer a:hover{color:#fff;}
/*.footer_widgettitle,.partial_gradient_slide .slider_content,.partial_gradient_slide h2{color:#fff;}*/
.partial_gradient_slide .slider_content,.partial_gradient_slide h2{color:#fff;}
.textwidget ul li a { color: purple !important;}
.textwidget ul li a:hover { color: black !important; font-weight: bold;}


/* ------- Buttons ------- */
input[type=button],input[type=reset],input[type=submit],.fancy_button, .fancy_button span,
.button_link,.button_link span, h6.color_scheme_box_header, h6.color_scheme_box_header span{
	background-image:url("classic_white_lights/button_sprite.png");}

#footer input[type="text"], #footer input[type="password"], #footer textarea  {
	background:url("_shared/opacity_strip.png") repeat-x scroll 0 10% transparent;
	border-bottom:1px solid #8299A1;
	border-right:1px solid #8299A1;}
#sub_footer , #sub_footer  a {color:#ccc;}
/* ________________________________________________________________________________________________________________
	                                              03. ICONS 
   ________________________________________________________________________________________________________________ */

.dropcap1,.dropcap3,blockquote{background-image: url("classic_white_lights/sprite.png");}
ul.arrow_list li,ul.check_list li,ul.star_list li,ul.colored_bullet_list li,a.download_link,a.email_link{background-image: url("classic_white_lights/mini_icons.png");}
.toggle,.active,.toggle_frame .toggle,.toggle_frame .active{background-image: url("classic_white_lights/toggle_sprite.png");}
a.fancy_link{background-image: url("classic_white_lights/fancy_link.png")}
.widget_recent_comments ul li.recentcomments span,
.webtreats_twitter_widget ul li,
.contact_widget_name,
.contact_widget_phone,
.contact_widget_email{background-image: url("classic_white_lights/mini_icons_footer.png");}
.star_list, .check_list, .arrow_list {color:#888;}
#menu_search{background-image:url("classic_white_lights/search.png");}

/* ________________________________________________________________________________________________________________
	                                              04. MENU 
   ________________________________________________________________________________________________________________ */

.jqueryslidemenu ul li a, .jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited 
{line-height:60px;color:#bbb;text-shadow:0 1px 1px #fff;}
.jqueryslidemenu ul li a:hover, .jqueryslidemenu .current_page_parent, .jqueryslidemenu .current_page_item, .jqueryslidemenu ul li:hover a
{background: url("classic_white_lights/menu_hover.png") no-repeat scroll center -5px transparent;}
