@charset "utf-8";
/*
Theme Name: Awake
Description: Designed by <a href="http://themeforest.net/user/Webtreats">WebTreats</a>.
Version: 1.2
Author: <a href="http://themeforest.net/user/Webtreats">WebTreats</a>
Author URI: http://themeforest.net/user/Webtreats
*/


/* --- TOC

01. GENERAL TYPOGRAPHY 
		1. Global Reset
		2. General
		3. Lists /stylesheets
		4. Borders & Dividers
		5. Tables
		6. Forms
		7. Images
		8. Headers
02. GLOBAL STRUCTURE
		1. Shared Structure
		2. Right Sidebar
		3. Left Sidebar
		4. Columns
03. HEADER
		1. Logo & Sitename
		2. Sociables
		3. Intro Blurbs
		4. Breadcrumbs
04. MENU
		1. Top Level
		2. Dropdowns
05. FOOTER
		1. Footer call to action
		2. Footer Body
		3. Sub Footer
06. HOME PAGE SLIDER
		1. Fade Slider
		2. Tabbed Slider
		3. Slider Stageing Effects Shared
		4. Full Slide 
		5. Floating Slide
		6. Staged Slide 
		7. Partial Staged Slide 
		8. Partial Gradient Slide 
07. PORTFOLIO
		1. Preloaders
		2. Hovers
		3. Typography
08. BLOG 
		1. Blog Index
		2. About Author
		3. Popular and Related Posts
		4. Threaded Comments		
09. WIDGETS
		1. General
		2. Sub Navigation
		3. Contact Form
		4. Contact Us Widget
		5. Twitter
		6. Flickr
		7. Custom Post Lists
		8. Calendar
		9. Recent Comments
		10. RSS Widget
		11. Categories, Links, Archives, ETC.
		12. Webtreats Mini Gallery
		13. Search
		14. Tabbed Widgets
10. EXTENDED TYPOGRAPHY
		1. Dropcaps
		2. Pullquotes
		3. Highlight /stylesheets
		4. Fancy Lists
		5. Fancy Link /stylesheets
		6. Alternate Color Buttons & Boxes
		7. Alternate Color Dropcaps 
		8. Alternate Color Mini Icons
		9. Alternate Color Toggles
		10. Alternate Color Fancy Links
		11. Alternate Color Fancy Headers
11. TABS
		1. Shared /stylesheets
		2. Framed Tabs 
		3. Minimal Arrow Tabs
12. TOOLTIPS
		1. Search Tooltip
		2. Share This Post Tooltip
		3. Shortcode Tooltips
13. TOGGLE CONTENT
		1. Minimal
		2. Framed
14. BOX /stylesheets
		1. Simple Box
		2. Fancy Box
		3. Fancy Titled Box
		4. Colorscheme Box
		5. Alert Boxs
15. ADDONS 
		1. WP Pagenavi (built-in)
		2. Video Shortcodes and Slider Support
16. PROGRESSIVE ENHANCEMENTS
		1. Border Radius
		2. CSS Gradients
		3. Drop Shadows
--- */


/* ________________________________________________________________________________________________________________
 										01. GENERAL TYPOGRAPHY
 ________________________________________________________________________________________________________________ */


/* ------- 1. Global Reset ------- */
html, body, div, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote{
	margin:0;
	padding:0;
	vertical-align:baseline;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, fieldset, blockquote,code{
	margin-bottom:5px;
}
img, fieldset { border:0; }
strong, b{ font-weight:bold; }
em, i{ font-style:italic; }
body,textarea{
	font-family:"helvetica neue",Helvetica,Arial,Verdana,sans-serif;
	letter-spacing:0.4px;
	line-height:20px;
	word-spacing:1px;
	font-size:11px;
	color:#666;
}

/* ------- 2. General ------- */
a{
	color:#309;
	outline:0 none;
}
a:link,a:visited,a:hover,a:active,a:focus{ text-decoration:none; outline:0 none; -moz-outline-style:none; }
p a:hover, .blog_meta a:hover{text-decoration:underline;}
code,pre{ font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace; white-space:pre; overflow:auto; display:block; padding:0 20px; }
code{background: url("_shared/code.gif") repeat 0 0;border:1px solid #eee;border-top:0;}
pre{margin:2px 2px 20px; padding:5px; color:#666;}
blockquote {background:url("_shared/sprite.png") no-repeat scroll -168px -170px transparent; font-size:14px; margin:20px 0; padding:5px 5px 5px 45px; }
cite{font-size:10px;color:#aaa;}

/* ------- 3. List /stylesheets ------- */
ul{ list-style:disc outside; }
ol{ list-style:decimal outside; }
li{ margin:2px 0;}
ol li{ margin-top:10px; }
ul, ol, dd{ margin-left:26px; }
ul ul, ol ul, ul ol, ol ol{ margin-bottom:0; }

/* ------- 4. Borders & Dividers ------- */
hr{ border:0px solid transparent !important; background-color:transparent !important; height:1px; }
.divider,.divider_padding{
	clear:both;
	display:block;
	margin-bottom:10px;
	padding-top:0px;
	width:100%;
}
.divider{border-bottom:1px solid #eee;}
.top{ font-size:8px; line-height:10px; margin-bottom:40px; text-align:right; position:relative; }
.top a{ height:20px; position:absolute; right:0; top:15px; width:20px; color:#ccc;background:#fff;}
.clearboth{ clear:both; display:block; font-size:0px; height:0px; line-height:0; width:100%; }


/* ------- 5. Tables ------- */
table.fancy_table,.widget_calendar table { border-collapse:separate; border-spacing:0; width:99%; padding:2px 0; }
table,td,th {
	vertical-align:middle;
	text-align:left;
}
th{ padding:10px; font-size:12px; text-transform:uppercase; letter-spacing:1px;}
td{
	font-size:11px;
	padding:0px;
}
table.fancy_table,.widget_calendar table{margin:20px 2px; }
.fancy_table th,.widget_calendar table th{border-bottom:1px solid #fff;}
.fancy_table td,.widget_calendar table td{color:#888;border-top:1px solid #eee;}
.fancy_table,.widget_calendar table{border:1px solid #fff;}

/* ------- 6. Forms ------- */
fieldset{ padding:20px;border:1px solid #e5e5e5;}
form p{ margin-bottom:10px;}
input[type=text],input[type=password],textarea{color:#666; padding:8px;border: solid 1px #e5e5e5;background:url("_shared/input.png") 0 0 repeat-x #fff;}
.textfield_label{ margin-left:12px; }
textarea{ width:92%; font-size:12px;background:url("_shared/textarea.png") 0 0 repeat-x #fff;overflow:auto;}
input, textarea,input[type="submit"]:focus{outline:0 none;}
input[type="radio"],input[type="checkbox"]{ margin-right:10px; margin-left:10px; }
button::-moz-focus-inner { border: 0; padding: 0;}
input[type="reset"],input[type="submit"],input[type="button"],button{
	background:url("_shared/button_sprite.png") no-repeat scroll center -13px transparent;
	border:none;
	color:#eee;
	font-size:11px;
	letter-spacing:1.6px;
	margin:10px 0;
	outline-width:0;
	padding:9px 13px;
	text-transform:uppercase;}	
input[type="button"]:hover, input[type="button"]:focus,input[type="reset"]:hover,
input[type="reset"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,
button:hover,button:focus,.button_link:hover, .button_link:focus{color:#fff;cursor:pointer;}
#footer input[type=text],#footer input[type=password],#footer textarea{
	background:url("_shared/opacity_strip.png") repeat-x scroll 0 12% transparent;
	border-color:rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.09) rgba(255, 255, 255, 0.12) rgba(0, 0, 0, 0.1);
	border-style:solid;
	border-width:1px;
	color:inherit;
	overflow:hidden;}
#footer input[type=text]:focus,#footer input[type=password]:focus,#footer textarea:focus{opacity:.8;}
.button_link, .fancy_button{
	background:url("_shared/button_sprite.png") no-repeat scroll right -165px transparent;
	color:#eee;
	text-shadow:0 -1px 0 #888888;
	display:inline-block;
	font-size:11px;
	letter-spacing:1.6px;
	margin:5px 10px 5px 0;
	border:0 none;
	padding:0 24px 0 0;
	text-transform:uppercase;}
.button_link span, .fancy_button span{
	background:url("_shared/button_sprite.png") no-repeat scroll -6px -122px transparent;
	display:block;
	line-height:10px;
	padding:15px 0 17px 21px;}
.button_link.large_button{
	background-position:right -61px;
	font-size:24px;
	height:56px;
	padding-right:24px;}
.button_link.large_button span{
	background-position:-6px -3px;
	line-height:20px;
	padding:17px 0 20px 20px;
	text-transform:none;}
.button_link:hover{text-decoration:none;}

/* ------- 7. Images------- */
.alignright{ float:right; margin:2px 2px 2px 16px !important; }
.alignleft,img.alignleft,a img.alignleft { float:left; margin:2px 16px 2px 2px !important; }
.aligncenter,img.aligncenter,a img.aligncenter { display: block; margin:2px auto !important; text-align:center; }
img.framed,.video_frame,.wp-caption,#flickr a img, dl.gallery-item img{ padding:6px;margin:2px; }
p.wp-caption-text{ margin-bottom:0px; text-align:center; }
.wp-caption{ margin-bottom:20px !important; padding-top:12px; text-align:center; }
.avatar{ float:left; margin:1px; padding:4px;background:#fff;}
.small_frame img, img.small_frame { background:#fff;padding:4px; }
.frame img{border:1px solid #fff;}
img.framed,.video_frame, .toggle_frame , .pullquote_right, .pullquote_left,.wp-caption,.webtreats_flickr_widget img, dl.gallery-item img{border:1px solid #fff !important;}

/* ------- 8. Headers ------- */
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-family:"dejavu sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
h1{ font-size:36px;
	line-height:36px;
	letter-spacing:0;}
h2{ font-size:28px; line-height:30px; }
h3{ font-size:22px; line-height:30px; }
h3.widgettitle{
	margin-bottom:10px;
}
h4{
	font-size:16px;
	color:#011d33;
	margin-bottom:3px;
}
h5{
	font-size:14px;
	line-height:0px;
}
h6{
	font-size:11px;
	letter-spacing:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	text-transform:uppercase;
	line-height:20px;
	font-weight:normal;
	color:#666;
}

.date, .awaiting_moderation, legend, label, p.breadcrumb, .cancel-comment-reply a,.logged,
.small_text{ 
	font-size:9px; 
	letter-spacing:1.6px; 
	text-transform:uppercase;
	color:#bbb;}
.fancy_header{margin-bottom:20px;padding-bottom:0;}	
.fancy_header span {
	background-color:#888;
	color:#fff;
	font-size:11px;
	letter-spacing:1.6px;
	padding:4px 12px;
	text-transform:uppercase;}
.teaser{
	color:#999;
	font-size:11px;
	margin-bottom:0px;
}
.teaser_large{line-height:24px;font-size:18px;font-weight:200; letter-spacing:1px; color:#b4b4b4;}
.jqueryslidemenu unitPng{line-height:24px;font-size:18px;font-weight:200; letter-spacing:1px; color:#b4b4b4;}

/* ________________________________________________________________________________________________________________
 										02. GENERAL STRUCTURE 
 ________________________________________________________________________________________________________________ */


/* ------- 1. Shared Structure ------- */
body { min-width:992px; }
#body_block, #main, #sidebar{ position:relative; overflow:hidden; }
* html #main, * html #sidebar{ display:inline; }
* html body{ text-align:center; }
#header,#body_block,#footer,#sub_footer{ width:992px; margin:0 auto;}

#body_block { margin-bottom: 30px;}

.inner{
	width:900px;
	margin:0 auto;
	position:relative;
	padding-left: 0px;
}
.inner2{
	width:940px;
	margin:0 auto;
	position:relative;
	padding-left: 0px;
}

.pad_class{
	padding-top: 5px;
	padding-bottom: 15px;
}


#body_block{ z-index:0;background:url("_shared/body_block.png") repeat-y scroll center top transparent;}
#body_block_background{margin:0 auto;width:980px;overflow:hidden;background:url("_shared/body_block_background.png") repeat-x scroll top left #fff;}
#body_block .inner{ padding-bottom:40px; }
#main{
	padding-top:20px;
}
#sidebar_bottom{ height:20px; }
#sidebar{
	margin-top:20px;
	padding-top:0px;
	min-height:300px;
}

/* ------- 2. Right Sidebar ------- */
.right_sidebar #main{
	float:left;
	/*width:325px;*/
}
.right_sidebar #main2{
	float:left;
	width:605px;
	margin-top:10px;
}
.right_sidebar #sidebar{
	float:left;
	margin-right:0px;
	width:290px;
	background:url("_shared/sidebar-top.png") no-repeat scroll 40px top transparent;
}
.right_sidebar #sidebar .content{
	margin-left:0px;
	background:url("_shared/sidebar-middle.png") repeat-y scroll left top transparent;
}
.right_sidebar #sidebar_bottom{height:20px; background:url("_shared/sidebar-bottom.png") no-repeat scroll 40px bottom transparent}

/* ------- 3. Left Sidebar ------- */
.left_sidebar #main{ float:right; width:665px; }
.left_sidebar #sidebar{ float:right; width:235px; background:url("_shared/sidebarL-top.png") no-repeat scroll 177px top transparent;}
.left_sidebar #sidebar .content{ margin-right:40px; background:url("_shared/sidebarL-middle.png") repeat-y scroll right top transparent;}
.left_sidebar #sidebar_bottom{height:20px; background:url("_shared/sidebarL-bottom.png") repeat-y scroll 177px bottom transparent;}

/* ------- 4. Columns ------- */
.one_half{ width:48%; }
.one_third{
	width:33%;
}
.two_third{ width:65.33%; }
.one_fourth{
	width:135px;
}
.three_fourth{
	width:160px;
}
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{
	width:20%;
}
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{
	position:relative;
	margin-right:0%;
	float:left;
}
.last{
	margin-right:30px !important;
	clear:right;
	padding-top: 7px;
}


/* ________________________________________________________________________________________________________________
										03. HEADER 
 ________________________________________________________________________________________________________________ */


#header{
	z-index:200;
	position:relative;
	height:130px;
}

/* ------- 1. Logo & Sitename ------- */
#logo{
	left:-49px;
	position:absolute;
	top:13px;
	width:200px;
}
#site_name{ left:-38px; position:absolute; top:34px; font-size:34px; }
#site_name a{color:#eee;}

/* ------- 2. Sociables ------- */
#social_header{
	background:url("_shared/social_header.png") no-repeat scroll right -27px transparent;
	line-height:12px;
	position:absolute;
	right:-29px;
	top:30px;
}
.social_header_background{
	background:url("_shared/social_header.png") no-repeat scroll 0 0 transparent;
	height:26px;
	margin-right:8px;
	padding:2px 0 2px 6px;}	
#social_header .fade_hover{float:left;padding:0 2px;}
#logo a,#social_header a{background:transparent;}


/* ------- 2. Header Contact ------- */
.header_contact{
	color:#eee;
	font-size:13px;
	position:absolute;
	right:-37px;
	text-align:right;
	top:58px;}

/* ------- 3. Intro Blurbs ------- */
#intro_blurb{
	margin:0 auto;
	overflow:hidden;
	width:980px;
	background:url("_shared/intro_blurb.png") repeat-x scroll bottom left transparent;
	color:#898C8E;
	text-shadow:1px 1px 1px #fff;}
.minimal #intro_blurb{background:none;}
.minimal #body_block_background{background: url("_shared/divider_shadow_outset.png") no-repeat center top #fff;}
#intro_blurb .inner{
	margin:5px auto;
	padding-bottom:0px;
	overflow:hidden;
	background: url("../images/classic_white_lights/body_block.png") repeat-y scroll center top transparent;
}
#intro_blurb h1{ padding:5px 0;margin-bottom:0;}
#blurb{ font-size:18px; line-height:24px; font-weight:200; letter-spacing:1px; color:#b4b4b4;padding:5px 0;}

/* ------- 4. Breadcrumbs ------- */
.breadcrumb{ margin-bottom:0; padding-top:10px;}
.breadcrumb,.breadcrumb a{color:#d2d2d2;}
.breadarrow{ padding:0 4px; }


/* ________________________________________________________________________________________________________________
 										04. MENU 
 ________________________________________________________________________________________________________________ */


/* ------- 1. Top Level Menu ------- */
#main_navigation{
	font-size:11px;
	height:60px;
	left:-29px;
	position:absolute;
	top:70px;
	letter-spacing:1px;
	/* [disabled]text-transform:uppercase; */
	color: fff;
}
.jqueryslidemenu{ position:relative; z-index:200;}
.jqueryslidemenu ul{ margin: 0; padding: 0; list-style-type: none; }
.jqueryslidemenu ul li{ position: relative; display: inline; float: left; margin:0; list-style:none; }
.jqueryslidemenu ul li a{ 
	display: block; 
	text-decoration: none; 
	height:36px; 
	line-height:36px; 
	overflow:hidden; 
	padding:0 16px; }
* html .jqueryslidemenu ul li a{ display: inline-block; }
/* top level menu link /stylesheets */
.jqueryslidemenu ul li a, .jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
	height:60px;
	line-height:56px;	
	color:#eee;}
/* .jqueryslidemenu li:hover a - creates the "sticky"  */
.jqueryslidemenu ul li a:hover, .jqueryslidemenu .current_page_parent, .jqueryslidemenu .current_page_item, .jqueryslidemenu ul li:hover a{
	background: url("_shared/menu_hover.png") no-repeat scroll center -4px transparent;}
/* turn off hover image on current page sub items as well as   */
.jqueryslidemenu ul li:hover li a, .jqueryslidemenu  ul ul li.current_page_item, .jqueryslidemenu  ul ul li.current_page_parent  {background:none;}

/* ------- 2. Dropdowns ------- */
.jqueryslidemenu ul li ul{ position: absolute; left: 0px; display: block; visibility: hidden; }
.jqueryslidemenu ul li ul li{ display: list-item; float: none; }
.jqueryslidemenu ul li ul li ul{ top:0px; }
.jqueryslidemenu ul li ul li a{ width: 200px; padding: 6px 16px; margin: 0; }
.jqueryslidemenu ul ul li a, .jqueryslidemenu ul ul li a:link, .jqueryslidemenu ul ul li a:visited { height:100%; line-height:20px; }
.jqueryslidemenu ul li ul li a:hover, .jqueryslidemenu ul ul li a:hover{ margin:0 4px; padding:6px 10px; }

/* sub level link /stylesheets */
.jqueryslidemenu ul ul li a, .jqueryslidemenu ul ul li a:link, .jqueryslidemenu ul ul li a:visited{
	color:#aaa;
	text-shadow:0 1px 1px #fff;}
/* sub level hover /stylesheets */
.jqueryslidemenu ul li ul li a:hover, .jqueryslidemenu ul ul li a:hover{
	background:url("_shared/opacity_strip.png") repeat-x scroll 0 4% transparent;
	color:#666;
	padding-left:12px;
}
.jqueryslidemenu ul ul{
	padding-top:4px;
	top:30px;
	padding-bottom:4px;
	background: #f5f5f5; 
	border-top:1px solid #fff;}
.jqueryslidemenu ul ul ul{margin-top:-5px;}

/* ________________________________________________________________________________________________________________
										05. FOOTER 
 ________________________________________________________________________________________________________________ */


/* ------- 1. Footer Call to Action ------- */
#footer_teaser_text{ 
	font-size:18px; 
	line-height:24px; 
	font-weight:200; 
	letter-spacing:1px; 
	margin:0 auto;
	overflow:hidden;
	width:980px;
	border-bottom:1px solid #E8E8E8;
	background:url("_shared/footer_teaser_text.png") 0 0 repeat-x #e0e0e0;
	color:#898C8E;
	text-shadow:1px 1px 1px #fff;}
#footer_teaser_text .inner{margin:20px auto;padding:0;}

/* ------- 2. Footer Body ------- */
#footer_nav li,#footer_nav ul{ margin:0;display:inline; font-weight:normal; text-transform:uppercase; }
#footer_nav a{ padding:0 5px; }
#footer { margin:0 auto; font-size:11px; letter-spacing:.6px; padding-bottom:30px; }
.footer_background{background: #000; padding-top:1px;}
.footer_trim{height:5px;width:980px;margin:0 auto;background:url("_shared/opacity_strip.png") repeat-x scroll 0 25% transparent;}
#footer .inner{ padding:40px 0; overflow:hidden;}

/* ------- 3. Sub Footer ------- */
#sub_footer{
	color:#aaa;
	font-size:9px; 
	margin:5px auto 20px;
	min-height:30px; 
	width:980px; }
#sub_footer .inner{width:980px;}	
#sub_footer ul,#sub_footer li{ margin-left:0; list-style:none;}
#sub_footer .one_half{ margin-bottom:0;}
#sub_footer .last{ text-align:right;}

/* ________________________________________________________________________________________________________________
	 									06. HOME PAGE SLIDERS
 ________________________________________________________________________________________________________________ */

/* ------- 1. Fade Slider ------- */
#webtreats_fading_slider{margin:0 auto;height:420px;width:980px;overflow:hidden;position:relative;background-color:#fff;}
#first_fading_slides{display:block;}
.fading_slides{cursor:pointer;position:relative;}
.fading_slides div.single_fading_slide{
	width:100%;
	display:none;
	position:absolute;
	top:0;
	left:0;		
	height:420px;}
.slidetabs {
	margin:0 auto;
	position:relative;
	text-align:center;
	top:395px;
	z-index:100;}
.slidetabs a {
	width:20px;
	height:20px;
	margin:2px;
	background: url("_shared/nav_dots_sprite.png") 0px 0px no-repeat transparent;
	display:inline-block;
	font-size:1px;}
.slidetabs a:hover {opacity:.7;}
.slidetabs a.current {background-position:0 -34px;}

/* ------- 2. Tabbed Slider ------- */
#webtreats_tabbed_slider{
	background-color:#fff;
	overflow:hidden;
	margin:0 auto;
	height:512px;
	width:980px;
	margin: 0 auto;
	position:relative;}
#tabbed_slides { width:9999em; position:absolute; height:420px; }
.single_tabbed_slide {
	float:left;
	position:relative;
	width:980px;
	height:420px;
	background-repeat:no-repeat;
	background-position:0 0px;
	z-index:1000;}
#thumbs {position:absolute; top:404px; left:38px; z-index:1001;}
.t a {
	background: url("_shared/resting_tab.png") 0px 0px no-repeat;
	height:86px;
	width:72px;
	margin-left:10px;
	display:block;
	float:left;
	cursor:pointer;
	padding-top:31px;
	text-align:center;}
.t a.active {
	cursor:default !important;
	border-color:#aaa;
	background: url("_shared/active_tab.png") 0px 0px no-repeat;}
/*framed intro blurb */
#webtreats_tabbed_slider{background:url("_shared/tabbed_slider_nav.png") repeat-x scroll left bottom;}
.tabbed #intro_blurb,.tabbed #body_block_background{background:none;}
.tabbed  #intro_blurb .inner{margin:35px auto 10px;}
/*minimal intro blurb style */
.minimal #webtreats_tabbed_slider{background:url("_shared/divider_shadow_outset.png") no-repeat scroll center bottom transparent;height:508px;}

/* ------- 3. Slider Stageing Effects Shared ------- */
#loading_slider{
	background:url("_shared/slider_loader.gif") no-repeat scroll 50% 50% transparent;
	display:none;
	height:420px;
	position:relative;
	width:980px;}
.slider_title{font-size:40px;}
.slider_content{
	position:absolute;
	overflow:hidden;
	height:350px;
	width:400px;
	top:0;
	left:0;
	color:#999;
	font-size:12px;
	line-height:24px;
	z-index:2;
}
.positioning{z-index:1;float:right;}

/* ------- 4. Full Slide ------- */
.full_slide{background: url("_shared/sliders/full_slide_background.jpg") 0px 0px no-repeat;}
.full_slide .slider_content{
	height:315px;
	left:40px;
	position:absolute;
	top:30px;
	width:900px;
	z-index:2;}

/* ------- 5. Floating Slide ------- */
.floating_slide{background: url("_shared/sliders/floating_slide_background.jpg") 0px 0px no-repeat;}
.floating_slide .positioning{margin-top:35px;margin-right:40px;}
.floating_slide .slider_content{
	height:315px;
	left:70px;
	position:absolute;
	top:70px;
	width:840px;
	z-index:2;}

/* ------- 6. Staged Slide ------- */
.staged_slide{background: url("_shared/sliders/staged_slide_background.jpg") 0px 0px no-repeat; }
.staged_slide .positioning{margin-top:35px;margin-right:40px;}
.staged_slide .slider_content{
	height:315px;
	left:70px;
	position:absolute;
	top:70px;
	width:840px;
	z-index:2;}

/* ------- 7. Partial Staged Slide ------- */
.partial_staged_slide{background: url("_shared/sliders/half_staged_slide_background.jpg") 0px 0px no-repeat;}
.partial_staged_slide .positioning{
	height:334px;
	margin-right:40px;
	margin-top:36px;
	width:567px;
}
.partial_staged_slide .slider_content{
	color:#666;
	height:350px;
	left:40px;
	top:60px;
	width:300px;
}

/* ------- 8. Partial Gradient Slide ------- */
.partial_gradient_slide{background: url("_shared/sliders/gradient_slide_background.jpg") 0px 0px no-repeat;}
.partial_gradient_slide .positioning{
	height:344px;
	margin-right:43px;
	margin-top:38px;
	width:510px;}
.partial_gradient_slide .slider_content{
	height:300px;
	left:75px;
	top:80px;
	width:320px;}


/* ________________________________________________________________________________________________________________
	 									07. PORTFOLIO /stylesheets
 ________________________________________________________________________________________________________________ */


/* ------- 1. Preloaders ------- */
.gallery_set .load_img { 
	display:inline-block; overflow:hidden; padding:0 0 4px 0; position:relative; width:100%; }
.gallery_set .one_fourth .load_img {
	background:url("_shared/slider_loader.gif") no-repeat scroll 86px 50px transparent; height:128px; }
.gallery_set .one_third .load_img {
	background:url("_shared/slider_loader.gif") no-repeat scroll 121px 78px transparent; height:174px; }
.gallery_set .one_half .load_img {
	background:url("_shared/slider_loader.gif") no-repeat scroll 208px 124px transparent; height:276px; }
.gallery_set .two_third .load_img {
	background:url("_shared/slider_loader.gif") no-repeat scroll 290px 176px transparent; height:372px; }
.portfolio_full_item{
	margin-bottom:20px;width:900px;}
.portfolio_full_item .load_img{
	background:url("_shared/slider_loader.gif") no-repeat scroll 50% 50% transparent; height:534px; }

/* ------- 2. Hovers ------- */
.portfolio_item{ }
.portfolio_item.one_half{ background-position:50% 95px; }
.portfolio_item.one_third{
	background-position:50% 42px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.portfolio_item.one_fourth{ background-position:50% 18px; }
.portfolio_item_media{ background: url("_shared/play.png") 50% 50% no-repeat; }
.portfolio_item_media.one_half{ background-position:50% 95px; }
.portfolio_item_media.one_third{ background-position:50% 42px; }
.portfolio_item_media.one_fourth{ background-position:50% 18px; }

/* ------- 3. Typography ------- */
.gallery_set .clearboth{height:40px;}
.gallery_set p{margin-left:5px;margin-bottom:5px;}
.gallery_set h3{margin-left:4px;margin-bottom:5px;line-height:20px;margin-top:10px;}
.gallery_set h2{margin-top:20px;margin-left:4px;margin-bottom:5px;font-size:24px;} 
.gallery_set .one_fourth h3{font-size:14px;margin-top:5px;}
.gallery_set .one_third h3{ font-size:16px;}
.gallery_set .one_half h3{ font-size:20px;}
.gallery_set a.fancy_link { margin-left:5px; margin-right:0px; }
.gallery_set p.date{margin-top:0px;}



/* ________________________________________________________________________________________________________________
										08. BLOG /stylesheets
 ________________________________________________________________________________________________________________ */


.read_more_link{position:relative;top:-10px;}
.blog_post_image {background:url("_shared/zoom.png") no-repeat scroll 50% 50% transparent; }
.blog_post_image .load_img {background:url("_shared/slider_loader.gif") no-repeat scroll 50% 50% transparent; display:inline-block;  overflow:hidden; padding:0 0 4px 0; position:relative; width:100%;}
.blog_module .blog_post_image {background-image:none;}


/* ------- 1. Blog Index & Main Post Body------- */
.blog_post_image{}
h2.blog_header{ margin-bottom:0px; }
.blog_module h2.blog_header{ margin-bottom:10px; }
.comment_bubble{
	background:url("_shared/comment_bubble.png") no-repeat scroll -6px -1px transparent;
	float:right;
	font-size:10px;
	height:30px;
	margin-top:-4px;
	text-align:center;
	width:32px;
	padding-right: 20px;
}
.blog_module{ 
	clear:both; 
	display:block; 
	margin-bottom:40px; 
	overflow:hidden; }
.blog_meta{ 
	font-size:9px; 
	letter-spacing:.8px;
	word-spacing:1.2px; 
	margin-bottom:19px; 
	color:#888;}
.blog_module .blog_meta{line-height:15px;}

/* ------- 2. About the Author ------- */
#about_the_author p.padding{ padding-left:95px; margin-bottom:0; }
#about_the_author{ display:block; margin-bottom:10px; margin-top:40px; }
#about_the_author img{ float:left; width:60px; }

/* ------- 3. Popular and Related Posts ------- */
#popular_related_posts{ margin-top:40px; }
#popular_related_posts .post_container a,#popular_related_posts .post_container a:hover{color:#bbb;}
.post_container{ width:600px; padding-left:0; margin-left:-5px; }
.post_container img{ margin-bottom:6px; }
.popular_post,.related_post,.recent_post{ 
	list-style:none; 
	float:left; 
	margin-left:7px; 
	width:140px; 
	line-height:16px; 
	font-size:11px; }

/* ------- 4. Threaded Comments ------- */
#comments{ margin-top:40px; }
#comments .date{ 
	line-height:10px; 
	padding:2px 8px; 
	text-transform:uppercase;
	color:#bbb;
	text-shadow:1px 1px 1px #fff;}
.comment-text { 
	left:0; 
	margin:10px 0; 
	min-height:80px; 
	overflow:hidden; 
	padding-left:20px; 
	position:relative;
	color:#888;}
.comment-text p{ margin-bottom:5px; padding-top:5px;}
.commentlist cite { font-style:normal; padding-right:10px; font-size:13px;}
.commentlist cite , .commentlist cite a:link, .commentlist cite a:visited {color: #666;}
.commentmetadata{ 
	float:right; 
	font-size:10px;}
.commentlist { margin:0; }
.commentlist li { 
	margin-left:0; 
	list-style:none;
	padding-bottom:20px; 
	overflow:hidden; 
	clear:both;
	background: url("_shared/comment_divider.png") bottom center no-repeat;}
.commentlist li ul.children li{ background-position:top center; padding-top:20px; }	
.commentlist li ul li { margin-left: 20px; }
.cancel-comment-reply a{ font-size:9px; padding-left:2px; text-transform:uppercase; line-height:15px; }
.comms-navigation, .navigation { clear: both; display: block; margin-bottom:0px; overflow: hidden; }
.children { padding: 0; }
.nocomments { text-align: center; margin: 0; padding: 0; }
#commentform{ padding-top:20px; }
#respond{ clear:both; padding-top:20px; }
#respond h3{ margin-bottom:0px; }
.logged{ margin-bottom:5px; }


/* ________________________________________________________________________________________________________________
										09. WIDGETS 
   ________________________________________________________________________________________________________________ */


/* ------- 1. General ------- */
.right_sidebar #sidebar .widget{
	padding:0 0 20px 30px;
	overflow:hidden;
	position:relative;
}
.left_sidebar #sidebar .widget{ padding:0 30px 40px 0px; overflow:hidden; position:relative;}	
#footer .widget{overflow:hidden;padding-bottom:30px;position:relative;}
.widget ul{margin-bottom:0;}
.textwidget{clear:both;}
#sidebar ul,.thumbnail_list,#footer ul{margin-left:0;list-style:none;}

/* ------- 2. Sub Navigation ------- */
.right_sidebar #sidebar .webtreats_subnav_widget{ padding-left:0;}
.right_sidebar #sidebar .webtreats_subnav_widget .widgettitle{ padding-left:30px; }
.right_sidebar #sidebar .webtreats_subnav_widget li a{ display:block; padding:5px 0 5px 30px; }
.right_sidebar #sidebar .webtreats_subnav_widget li{background: url("_shared/li.png") no-repeat scroll 30px bottom transparent;}
.right_sidebar #sidebar .webtreats_subnav_widget li.current_page_item a{background: url("_shared/subnav_active.png") no-repeat scroll 0px top transparent;}
.left_sidebar #sidebar .webtreats_subnav_widget{ padding-right:0;}
.left_sidebar #sidebar .webtreats_subnav_widget .widgettitle{ padding-right:30px; }
.left_sidebar #sidebar .webtreats_subnav_widget li a{ display:block; padding:5px 30px 5px 0; }
.left_sidebar #sidebar .webtreats_subnav_widget li{background: url("_shared/li.png") no-repeat scroll 0 bottom transparent;}
.left_sidebar #sidebar .webtreats_subnav_widget li.current_page_item a{background: url("_shared/subnavL_active.png") no-repeat scroll right top transparent;}

/* ------- 3. Contact Form ------- */
#commentsTextWidget{height:100px;}
#contactNameWidget,#emailWidget{width:60%;}
.screenReader{display:none;}
.inputError{border:2px solid red !important;}
#commentsText{height:200px;}

/* ------- 4. Contact Us Widget ------- */
.contact_widget_name,
.contact_widget_address,
.contact_widget_city,
.contact_widget_phone,
.contact_widget_email{padding-left:26px;}
.contact_widget_name {background:url("_shared/mini_icons.png") no-repeat scroll -179px -205px transparent;}
.contact_widget_phone {background:url("_shared/mini_icons.png") no-repeat scroll -138px -244px transparent;}
.contact_widget_email {background:url("_shared/mini_icons.png") no-repeat scroll -98px -282px transparent;text-decoration:underline;}

/* ------- 5. Twitter Widget ------- */
.webtreats_twitter_widget ul{list-style:none;margin-left:0;}
.webtreats_twitter_widget li { background:url("_shared/mini_icons.png") no-repeat scroll -299px -77px transparent; padding-left:26px;}
.webtreats_twitter_widget a{padding-left:26px;}
#footer_teaser_text .webtreats_twitter_widget li { background:url("_shared/teaser_text_twitter.png") no-repeat scroll 0 9px transparent !important; padding-left:46px;}

/* ------- 6. Flickr Widget ------- */
.right_sidebar #sidebar .flickr_wrap {width:260px;position: relative;}
.left_sidebar #sidebar .flickr_wrap {width:168px;position: relative;}
.webtreats_flickr_widget img {padding:4px;margin:4px;}
#sidebar .webtreats_flickr_widget img {width:70px;height:70px;margin:2px;}
.flickr_badge_image {padding: 0;float:left;line-height:100%;}

/* ------- 7. Custom Post Lists ------- */
.widget .thumbnail_list li a{padding:0;}
.thumbnail_list li{padding-bottom:5px;position:relative;}
ul.thumbnail_list .alignleft{margin:0 16px 2px 1px;}
.thumbnail_list .small_frame img{width:50px;height:50px;}	

/* ------- 8. Calendar ------- */
.widget_calendar tfoot td{background-image:none;}
td#today{font-weight:bold;}
.widget_calendar td a{text-decoration:underline;}

/* ------- 9. Recent Comments ------- */
.widget_recent_comments ul li.recentcomments span{padding-left:26px !important;background:url("_shared/mini_icons.png") no-repeat scroll -139px -242px transparent;}
#sidebar .widget_recent_comments ul li.recentcomments {padding:4px 0 8px;list-style:none;background:url("_shared/li.png") no-repeat scroll left bottom transparent;}	
#body_block .widget_recent_comments ul li.recentcomments,#body_block a.url{color:#666;}
ul#recentcomments{margin-left:0;}
.widget_recent_comments ul li.recentcomments{list-style:none;}

/* ------- 10. RSS Widget ------- */
.rss-date{font-size:10px;text-transform:uppercase;letter-spacing:1px;display:block;}
.widget_rss ul li {padding:4px 0 8px;}
.widget_rss h3{margin-bottom:0;}	
.widget_rss ul li a {display:block;}

/* ------- 11. Categories, Archives, Etc. ------- */
.webtreats_twitter_widget ul li a, 
.widget_categories ul li a, 
.widget_links ul li a, 
.widget_archive ul li a, 
.widget_meta ul li a,
.widget_pages ul li a,
.widget_recent_entries ul li a{display:block;margin-left:0;padding:5px 0 5px 0;}
#footer .widget ul li a {padding:0;}
/* for two column lists in right sidebar only */
.right_sidebar .widget_archive, .right_sidebar .widget_categories, .right_sidebar .widget_links{width:274px;}
.right_sidebar .widget_archive li, .right_sidebar .widget_categories li, .right_sidebar .widget_links li{display:block;float:left;margin-right:20px;width:117px;}
#sidebar .webtreats_twitter_widget ul li a, 
#sidebar .widget_categories ul li a, 
#sidebar .widget_links ul li a, 
#sidebar .widget_archive ul li a, 
#sidebar .widget_meta ul li a,
#sidebar .widget_pages ul li a,
#sidebar .widget_recent_entries ul li a{background: url("_shared/li.png") no-repeat scroll left bottom transparent;}

/* ------- 12. Webtreats Mini Gallery ------- */
.webtreats_mini_gallery_widget{list-style:none;margin-left:-14px;margin-bottom:0;}
.webtreats_mini_gallery_widget .alignleft{margin:2px 2px 2px 16px !important}
.webtreats_mini_gallery_item{ background: url("_shared/zoom.png") 50% 50% no-repeat; }

/* ------- 13. Search ------- */
input[type="text"].search-field{padding:10px;width:124px;}
.search-box button.fancy_button{ margin-right:0;}
.search-box p{display:inline;padding-left:0;}

/* ------- 14. Tabbed Widgets ------- */
#sidebar .minimal_arrow_tab_set {margin-bottom:0;}
#sidebar .tab_content {padding-bottom:0;}


/* ------- 15. Action Bar ------- */
.actionsbar {
	background: grey;
	min-height: 40px;
	padding: 8px 0 0 56px;
}



/* ________________________________________________________________________________________________________________
										10. EXTENDED TYPOGRAPHY
   ________________________________________________________________________________________________________________ */


/* ------- 1. Dropcaps ------- */
.dropcap1{
	color:#fff;
	float:left;
	font-size:28px;
	height:44px;
	line-height:42px;
	margin-bottom:-5px;
	margin-right:10px;
	text-align:center;
	width:40px;
	background:url("_shared/sprite.png") -5px -151px no-repeat;}
.dropcap2,.dropcap4{display:block;float:left;font-size:40px;line-height:40px;margin:0 8px -5px 0;}
.dropcap3 {
	background:url("_shared/sprite.png") no-repeat scroll -7px -88px transparent;
	color:#fff;
	float:left;
	font-size:15px;
	height:40px;
	line-height:32px;
	margin-right:5px;
	text-align:center;
	width:37px;}
	

/* ------- 2. Pullquotes ------- */
.pullquote_right,.pullquote_left{
	padding:20px;
	float:right;
	font-size:14px;
	letter-spacing:0px;
	line-height:25px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:2px;
	margin-top:20px;
	width:33%;}
.pullquote_left{float:left;margin-left:2px;margin-right:20px;}

/* ------- 3. Highlight /stylesheets ------- */
.highlight1{padding:2px 6px;background-color:#FFFFC7;color:#333;}	
.highlight2{padding:2px 6px;background-color:#333;color:#eee;}	

/* ------- 4. Fancy Lists ------- */
.star_list,.check_list,.arrow_list{margin-left:10px;list-style:none;color:#333;font-size:13px;}
.star_list li,.check_list li,.arrow_list li,.colored_bullet_list li{padding-left:24px;margin:5px 0;list-style:none;}
.arrow_list li{background:transparent url("_shared/mini_icons.png") no-repeat scroll -262px -124px;}
.check_list li{background:transparent url("_shared/mini_icons.png") no-repeat scroll -222px -161px;}
.star_list li{background:transparent url("_shared/mini_icons.png") no-repeat scroll -341px -41px;}
.bullet_list li{font-size:13px;margin:5px 0;}

/* ------- 5. Fancy Links ------- */
a.download_link{padding-left:24px; margin-right:10px; text-decoration:underline;background:url("_shared/mini_icons.png") no-repeat scroll -378px -4px transparent;}
a.email_link{padding-left:24px; margin-right:10px; text-decoration:underline;background:url("_shared/mini_icons.png") no-repeat scroll -99px -282px transparent;}
a.fancy_link{padding-right:15px; margin-right:10px;background:transparent url("_shared/fancy_link.png") no-repeat scroll right top;}
a.fancy_link:hover{text-decoration:underline;}
a.download_link:hover,a.email_link:hover{color:#aaa !important;}

/* ------- 6. Alternate Color Buttons & Box Headers ------- */
.coffee_gradient, .coffee_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/coffee/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.teal_gradient, .teal_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/teal/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.copper_gradient, .copper_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/copper/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.deep_sea_green_gradient, .deep_sea_green_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/deep_sea_green/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.earthy_green_gradient, .earthy_green_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/earthy_green/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.hot_pink_gradient, .hot_pink_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/hot_pink/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.navy_gradient, .navy_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/navy/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.primary_blue_gradient, .primary_blue_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/primary_blue/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.primary_green_gradient, .primary_green_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/primary_green/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.primary_orange_gradient, .primary_orange_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/primary_orange/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.primary_purple_gradient, .primary_purple_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/primary_purple/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.primary_red_gradient, .primary_red_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/primary_red/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.rich_black_gradient, .rich_black_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/rich_black/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.sienna_gradient, .sienna_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/sienna/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.silver_gradient, .silver_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/silver/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.slate_grey_gradient, .slate_grey_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/slate_grey/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.soft_purple_gradient, .soft_purple_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/soft_purple/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.soft_teal_gradient, .soft_teal_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/soft_teal/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_black_gradient, .glossy_black_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_black/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_blue_gradient, .glossy_blue_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_blue/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_green_gradient, .glossy_green_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_green/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_purple_gradient, .glossy_purple_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_purple/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_red_gradient, .glossy_red_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_red/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.glossy_teal_gradient, .glossy_teal_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_teal/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.black_glass_gradient, .black_glass_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/black_glass_space/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.frosted_glass_gradient, .frosted_glass_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/frosted_glass_wood/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.classic_white_lights_gradient, .classic_white_lights_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/classic_white/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.classic_silver_gradient, .classic_silver_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/classic_silver/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
/* (v1.3) */
.soft_orange_gradient, .soft_orange_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/soft_orange/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.olive_gradient, .olive_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/olive/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.wine_gradient, .wine_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/wine/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.blue_gradient, .blue_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/blue/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.steel_blue_gradient, .steel_blue_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/steel_blue/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.tan_gradient, .tan_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/tan/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.lavender_gradient, .lavender_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/lavender/button_sprite.png") !important; color:#eee !important; text-shadow:0 -1px 0 #888 !important;}
.minimal_white_gradient, .minimal_white_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/minimal_white/button_sprite.png") !important; color:#aaa !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_yellow_gradient, .minimal_soft_yellow_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/minimal_soft_yellow/button_sprite.png") !important; color:#ADA785 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_green_gradient, .minimal_soft_green_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/minimal_soft_green/button_sprite.png") !important; color:#A3B094 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_lavender_gradient, .minimal_soft_lavender_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/minimal_soft_lavender/button_sprite.png") !important; color:#9C87A6 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_blue_gradient, .minimal_soft_blue_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/minimal_soft_lavender/button_sprite.png") !important; color:#93AAB2 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}
.minimal_soft_brown_gradient, .minimal_soft_brown_gradient span{background-image: url("http://www.spottinstyle.com/stylesheets/minimal_soft_brown/button_sprite.png") !important; color:#BFB2A7 !important; text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2 !important;}


/* ------- 7. Alternate Color Dropcaps ------- */
.coffee_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/coffee/sprite.png") !important;}
.teal_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/teal/sprite.png") !important;}
.copper_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/copper/sprite.png") !important;}
.deep_sea_green_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/deep_sea_green/sprite.png") !important;}
.earthy_green_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/earthy_green/sprite.png") !important;}
.hot_pink_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/hot_pink/sprite.png") !important;}
.navy_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/navy/sprite.png") !important;}
.primary_blue_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/primary_blue/sprite.png") !important;}
.primary_green_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/primary_green/sprite.png") !important;}
.primary_orange_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/primary_orange/sprite.png") !important;}
.primary_purple_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/primary_purple/sprite.png") !important;}
.primary_red_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/primary_red/sprite.png") !important;}
.rich_black_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/rich_black/sprite.png") !important;}
.sienna_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/sienna/sprite.png") !important;}
.silver_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/silver/sprite.png") !important;}
.slate_grey_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/slate_grey/sprite.png") !important;}
.soft_purple_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/soft_purple/sprite.png") !important;}
.soft_teal_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/soft_teal/sprite.png") !important;}
.glossy_black_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_black/sprite.png") !important;}
.glossy_blue_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_blue/sprite.png") !important;}
.glossy_green_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_green/sprite.png") !important;}
.glossy_purple_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_purple/sprite.png") !important;}
.glossy_red_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_red/sprite.png") !important;}
.glossy_teal_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_teal/sprite.png") !important;}
.frosted_glass_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/frosted_glass_wood/sprite.png") !important;}
.black_glass_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/black_glass_space/sprite.png") !important;}
.classic_silver_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/classic_silver/sprite.png") !important;}
.classic_white_lights_sprite{background-image: url("classic_white_lights/sprite.png") !important;}
/* (v1.3) */
.soft_orange_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/soft_orange/sprite.png") !important;}
.olive_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/olive/sprite.png") !important;}
.wine_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/wine/sprite.png") !important;}
.blue_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/blue/sprite.png") !important;}
.steel_blue_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/steel_blue/sprite.png") !important;}
.tan_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/tan/sprite.png") !important;}
.lavender_sprite{background-image: url("http://www.spottinstyle.com/stylesheets/lavender/sprite.png") !important;}


/* ------- 8. Alternate Color Mini Icons ------- */
.coffee_icons{ vertical-align:middle !important;}
.teal_icons{background-image: url("http://www.spottinstyle.com/stylesheets/teal/mini_icons.png") !important;color:#246677 !important;}
.copper_icons{background-image: url("http://www.spottinstyle.com/stylesheets/copper/mini_icons.png") !important;color:#D65D5D !important;}
.deep_sea_green_icons{background-image: url("http://www.spottinstyle.com/stylesheets/deep_sea_green/mini_icons.png") !important;color:#27757f !important;}
.earthy_green_icons{background-image: url("http://www.spottinstyle.com/stylesheets/earthy_green/mini_icons.png") !important;color:#969F31 !important;}
.hot_pink_icons{background-image: url("http://www.spottinstyle.com/stylesheets/hot_pink/mini_icons.png") !important;color:#C1098B !important;}
.navy_icons{background-image: url("http://www.spottinstyle.com/stylesheets/navy/mini_icons.png") !important;color:#5A7196 !important;}
.primary_blue_icons{background-image: url("http://www.spottinstyle.com/stylesheets/primary_blue/mini_icons.png") !important;color:#2379BF !important;}
.primary_green_icons{background-image: url("http://www.spottinstyle.com/stylesheets/primary_green/mini_icons.png") !important;color:#20770D !important;}
.primary_orange_icons{background-image: url("http://www.spottinstyle.com/stylesheets/primary_orange/mini_icons.png") !important;color:#DA6233 !important;}
.primary_purple_icons{background-image: url("http://www.spottinstyle.com/stylesheets/primary_purple/mini_icons.png") !important;color:#8250C0 !important;}
.primary_red_icons{background-image: url("http://www.spottinstyle.com/stylesheets/primary_red/mini_icons.png") !important;color:#A50000 !important;}
.rich_black_icons{background-image: url("http://www.spottinstyle.com/stylesheets/rich_black/mini_icons.png") !important;color:#000000 !important;}
.sienna_icons{background-image: url("http://www.spottinstyle.com/stylesheets/sienna/mini_icons.png") !important;color:#835E46 !important;}
.silver_icons{background-image: url("http://www.spottinstyle.com/stylesheets/silver/mini_icons.png") !important;color:#C1C1C0 !important;}
.slate_grey_icons{background-image: url("http://www.spottinstyle.com/stylesheets/slate_grey/mini_icons.png") !important;color:#8E959A !important;}
.soft_purple_icons{background-image: url("http://www.spottinstyle.com/stylesheets/soft_purple/mini_icons.png") !important;color:#8E779F !important;}
.soft_teal_icons{background-image: url("http://www.spottinstyle.com/stylesheets/soft_teal/mini_icons.png") !important;color:#267470 !important;}
.glossy_black_icons{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_black/mini_icons.png") !important;color:#000000 !important;}
.glossy_blue_icons{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_blue/mini_icons.png") !important;color:#69707F !important;}
.glossy_green_icons{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_green/mini_icons.png") !important;color:#5F774E !important;}
.glossy_purple_icons{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_purple/mini_icons.png") !important;color:#312739 !important;}
.glossy_red_icons{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_red/mini_icons.png") !important;color:#750A09 !important;}
.glossy_teal_icons{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_teal/mini_icons.png") !important;color:#386876 !important;}
.frosted_glass_icons{background-image: url("http://www.spottinstyle.com/stylesheets/frosted_glass_wood/mini_icons.png") !important;color:#C1C1C0 !important;}
.black_glass_icons{background-image: url("http://www.spottinstyle.com/stylesheets/black_glass_space/mini_icons.png") !important;color:#000000 !important;}
.classic_silver_icons{background-image: url("http://www.spottinstyle.com/stylesheets/classic_silver/mini_icons.png") !important;color:#C1C1C0 !important;}
.classic_white_lights_icons{background-image: url("classic_white_lights/mini_icons.png") !important;color:#93AAB2 !important;}
/* (v1.3) */
.soft_orange_icons{background-image: url("http://www.spottinstyle.com/stylesheets/soft_orange/mini_icons.png") !important; color:#DF9237 !important;}
.olive_icons{background-image: url("http://www.spottinstyle.com/stylesheets/olive/mini_icons.png") !important; color:#A5AC80 !important;}
.wine_icons{background-image: url("http://www.spottinstyle.com/stylesheets/wine/mini_icons.png") !important; color:#6C2057 !important;}
.blue_icons{background-image: url("http://www.spottinstyle.com/stylesheets/blue/mini_icons.png") !important; color:#0281D2 !important;}
.steel_blue_icons{background-image: url("http://www.spottinstyle.com/stylesheets/steel_blue/mini_icons.png") !important; color:#88AEC6 !important;}
.tan_icons{background-image: url("http://www.spottinstyle.com/stylesheets/tan/mini_icons.png") !important; color:#BBAF9B !important;}
.lavender_icons{background-image: url("http://www.spottinstyle.com/stylesheets/lavender/mini_icons.png") !important; color:#AD98B7 !important;}


/* ------- 9. Alternate Toggle Icons ------- */
.coffee_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/coffee/toggle_sprite.png") !important;color:#A49584 !important;}
.teal_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/teal/toggle_sprite.png") !important;color:#246677 !important;}
.copper_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/copper/toggle_sprite.png") !important;color:#D65D5D !important;}
.deep_sea_green_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/deep_sea_green/toggle_sprite.png") !important;color:#27757f !important;}
.earthy_green_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/earthy_green/toggle_sprite.png") !important;color:#969F31 !important;}
.hot_pink_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/hot_pink/toggle_sprite.png") !important;color:#C1098B !important;}
.navy_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/navy/toggle_sprite.png") !important;color:#5A7196 !important;}
.primary_blue_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/primary_blue/toggle_sprite.png") !important;color:#2379BF !important;}
.primary_green_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/primary_green/toggle_sprite.png") !important;color:#20770D !important;}
.primary_orange_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/primary_orange/toggle_sprite.png") !important;color:#DA6233 !important;}
.primary_purple_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/primary_purple/toggle_sprite.png") !important;color:#8250C0 !important;}
.primary_red_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/primary_red/toggle_sprite.png") !important;color:#A50000 !important;}
.rich_black_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/rich_black/toggle_sprite.png") !important;color:#000000 !important;}
.sienna_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/sienna/toggle_sprite.png") !important;color:#835E46 !important;}
.silver_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/silver/toggle_sprite.png") !important;color:#C1C1C0 !important;}
.slate_grey_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/slate_grey/toggle_sprite.png") !important;color:#8E959A !important;}
.soft_purple_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/soft_purple/toggle_sprite.png") !important;color:#8E779F !important;}
.soft_teal_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/soft_teal/toggle_sprite.png") !important;color:#267470 !important;}
.glossy_black_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_black/toggle_sprite.png") !important;color:#000000 !important;}
.glossy_blue_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_blue/toggle_sprite.png") !important;color:#69707F !important;}
.glossy_green_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_green/toggle_sprite.png") !important;color:#5F774E !important;}
.glossy_purple_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_purple/toggle_sprite.png") !important;color:#312739 !important;}
.glossy_red_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_red/toggle_sprite.png") !important;color:#750A09 !important;}
.glossy_teal_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_teal/toggle_sprite.png") !important;color:#386876 !important;}
.frosted_glass_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/frosted_glass_wood/toggle_sprite.png") !important;color:#C1C1C0 !important;}
.black_glass_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/black_glass_space/toggle_sprite.png") !important;color:#000000 !important;}
.classic_silver_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/classic_silver/toggle_sprite.png") !important;color:#C1C1C0 !important;}
.classic_white_lights_toggle{background-image: url("classic_white_lights/toggle_sprite.png") !important;color:#93AAB2 !important;}
/* (v1.3) */
.soft_orange_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/soft_orange/toggle_sprite.png") !important; color:#DF9237 !important;}
.olive_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/olive/toggle_sprite.png") !important; color:#A5AC80 !important;}
.wine_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/wine/toggle_sprite.png") !important; color:#6C2057 !important;}
.blue_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/blue/toggle_sprite.png") !important; color:#0281D2 !important;}
.steel_blue_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/steel_blue/toggle_sprite.png") !important; color:#88AEC6 !important;}
.tan_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/tan/toggle_sprite.png") !important; color:#BBAF9B !important;}
.lavender_toggle{background-image: url("http://www.spottinstyle.com/stylesheets/lavender/toggle_sprite.png") !important; color:#AD98B7 !important;}


/* ------- 10. Alternate Fancy Links ------- */
.coffee_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/coffee/fancy_link.png") !important;color:#A49584 !important;}
.teal_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/teal/fancy_link.png") !important;color:#246677 !important;}
.copper_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/copper/fancy_link.png") !important;color:#D65D5D !important;}
.deep_sea_green_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/deep_sea_green/fancy_link.png") !important;color:#27757f !important;}
.earthy_green_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/earthy_green/fancy_link.png") !important;color:#969F31 !important;}
.hot_pink_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/hot_pink/fancy_link.png") !important;color:#C1098B !important;}
.navy_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/navy/fancy_link.png") !important;color:#5A7196 !important;}
.primary_blue_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/primary_blue/fancy_link.png") !important;color:#2379BF !important;}
.primary_green_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/primary_green/fancy_link.png") !important;color:#20770D !important;}
.primary_orange_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/primary_orange/fancy_link.png") !important;color:#DA6233 !important;}
.primary_purple_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/primary_purple/fancy_link.png") !important;color:#8250C0 !important;}
.primary_red_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/primary_red/fancy_link.png") !important;color:#A50000 !important;}
.rich_black_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/rich_black/fancy_link.png") !important;color:#000000 !important;}
.sienna_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/sienna/fancy_link.png") !important;color:#835E46 !important;}
.silver_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/silver/fancy_link.png") !important;color:#C1C1C0 !important;}
.slate_grey_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/slate_grey/fancy_link.png") !important;color:#8E959A !important;}
.soft_purple_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/soft_purple/fancy_link.png") !important;color:#8E779F !important;}
.soft_teal_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/soft_teal/fancy_link.png") !important;color:#267470 !important;}
.glossy_black_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_black/fancy_link.png") !important;color:#000000 !important;}
.glossy_blue_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_blue/fancy_link.png") !important;color:#69707F !important;}
.glossy_green_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_green/fancy_link.png") !important;color:#5F774E !important;}
.glossy_purple_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_purple/fancy_link.png") !important;color:#312739 !important;}
.glossy_red_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_red/fancy_link.png") !important;color:#750A09 !important;}
.glossy_teal_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/glossy_teal/fancy_link.png") !important;color:#386876 !important;}
.frosted_glass_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/frosted_glass_wood/fancy_link.png") !important;color:#C1C1C0 !important;}
.black_glass_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/black_glass_space/fancy_link.png") !important;color:#000000 !important;}
.classic_silver_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/classic_silver/fancy_link.png") !important;color:#C1C1C0 !important;}
.classic_white_lights_fancy{background-image: url("classic_white_lights/fancy_link.png") !important;color:#93AAB2 !important;}
/* (v1.3) */
.soft_orange_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/soft_orange/fancy_link.png") !important; color:#DF9237 !important;}
.olive_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/olive/fancy_link.png") !important; color:#A5AC80 !important;}
.wine_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/wine/fancy_link.png") !important; color:#6C2057 !important;}
.blue_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/blue/fancy_link.png") !important; color:#0281D2 !important;}
.steel_blue_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/steel_blue/fancy_link.png") !important; color:#88AEC6 !important;}
.tan_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/tan/fancy_link.png") !important; color:#BBAF9B !important;}
.lavender_fancy{background-image: url("http://www.spottinstyle.com/stylesheets/lavender/fancy_link.png") !important; color:#AD98B7 !important;}


/* ------- 11. Alternate Fancy Headers ------- */
.coffee_background{background-color:#A49584 !important;}
.teal_background{background-color:#246677 !important;}
.copper_background{background-color:#D65D5D  !important;}
.deep_sea_green_background{background-color:#27757f !important;}
.earthy_green_background{background-color:#969F31 !important;}
.hot_pink_background{background-color:#C1098B !important;}
.navy_background{background-color:#5A7196 !important;}
.primary_blue_background{background-color:#2379BF !important;}
.primary_green_background{background-color:#20770D !important;}
.primary_orange_background{background-color:#DA6233 !important;}
.primary_purple_background{background-color:#8250C0 !important;}
.primary_red_background{background-color:#A50000 !important;}
.rich_black_background{background-color:#000000 !important;}
.sienna_background{background-color:#835E46 !important;}
.silver_background{background-color:#C1C1C0 !important;}
.slate_grey_background{background-color:#8E959A !important;}
.soft_purple_background{background-color:#8E779F !important;}
.soft_teal_background{background-color:#267470 !important;}
.glossy_black_background{background-color:#000000 !important;}
.glossy_blue_background{background-color:#69707F !important;}
.glossy_green_background{background-color:#5F774E !important;}
.glossy_purple_background{background-color:#312739 !important;}
.glossy_red_background{background-color:#750A09 !important;}
.glossy_teal_background{background-color:#386876 !important;}
.classic_white_lights_background{background-color:#93AAB2 !important;}
/* (v1.3) */
.soft_orange_background{background-color:#DF9237 !important;}
.olive_background{background-color:#A5AC80 !important;}
.wine_background{background-color:#6C2057 !important;}
.blue_background{background-color:#0281D2 !important;}
.steel_blue_background{background-color:#88AEC6 !important;}
.tan_background{background-color:#BBAF9B !important;}
.lavender_background{background-color:#AD98B7 !important;}


/* ------- 12. Alternate Color Text ------- */
.coffee_color{color:#A49584 !important;}
.teal_color{color:#246677 !important;}
.copper_color{color:#D65D5D  !important;}
.deep_sea_green_color{color:#27757f !important;}
.earthy_green_color{color:#969F31 !important;}
.hot_pink_color{color:#C1098B !important;}
.navy_color{color:#5A7196 !important;}
.primary_blue_color{color:#2379BF !important;}
.primary_green_color{color:#20770D !important;}
.primary_orange_color{color:#DA6233 !important;}
.primary_purple_color{color:#8250C0 !important;}
.primary_red_color{color:#A50000 !important;}
.rich_black_color{color:#000000 !important;}
.sienna_color{color:#835E46 !important;}
.silver_color{color:#C1C1C0 !important;}
.slate_grey_color{color:#8E959A !important;}
.soft_purple_color{color:#8E779F !important;}
.soft_teal_color{color:#267470 !important;}
.glossy_black_color{color:#000000 !important;}
.glossy_blue_color{color:#69707F !important;}
.glossy_green_color{color:#5F774E !important;}
.glossy_purple_color{color:#312739 !important;}
.glossy_red_color{color:#750A09 !important;}
.glossy_teal_color{color:#386876 !important;}
.classic_white_lights_color{color:#93AAB2 !important;}
/* (v1.3) */
.soft_orange_color{color:#DF9237 !important;}
.olive_color{color:#A5AC80 !important;}
.wine_color{color:#6C2057 !important;}
.blue_color{color:#0281D2 !important;}
.steel_blue_color{color:#88AEC6 !important;}
.tan_color{color:#BBAF9B !important;}
.lavender_color{color:#AD98B7 !important;}


/* ________________________________________________________________________________________________________________
										11. TABS 
   ________________________________________________________________________________________________________________ */


/* ------- 1. Shared /stylesheets ------- */
ul.tabs {margin:0 !important;padding:0;height:30px;clear:left;}
ul.tabs li {float:left;padding:0; margin:0; list-style-type:none;}
ul.tabs a { 
	float:left;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border-bottom:0px;
	height:18px;
	margin-right:2px;
	position:relative;
	top:1px;
	font-size:10px;
	letter-spacing:3px;
	text-transform:uppercase;}
ul.tabs a.current{cursor:default;}
.tab_content{display:none;padding:20px 30px;overflow:hidden;}

/* ------- 2. Framed Tabs ------- */
.framed_tab_set ul.tabs {border-bottom:1px solid #E5E5E5;}
.framed_tab_set ul.tabs a { 
	border:1px solid #E5E5E5;
	background:#fafafa;
	color:#ccc;}
.framed_tab_set ul.tabs a:hover {background: #fff;color:#999;}
.framed_tab_set ul.tabs a.current {
	border-bottom:2px solid #fff;
	color:#333;	}
.framed_tab_set .tab_content{
	background-color:#fff !important;
	border:1px solid #E5E5E5;
	border-width:0 1px 1px 1px;}
.framed_tab_set{margin-bottom:40px;}

/* ------- 3. Minimalist Arrow Tabs ------- */
.minimal_arrow_tab_set ul.tabs {padding:5px 1px;height:30px;background: url("_shared/divider_shadow_inset.png") no-repeat scroll right bottom;}
.minimal_arrow_tab_set ul.tabs a {height:25px;letter-spacing:2px;margin-right:20px;padding:0 0 10px 1px;}
.minimal_arrow_tab_set ul.tabs a:hover {color:#444;}
.minimal_arrow_tab_set ul.tabs a.current {color:#333;cursor:default;background: url("_shared/up-arrow.png") no-repeat scroll center bottom transparent;}
.minimal_arrow_tab_set{margin-bottom:40px;}
.minimal_arrow_tab_set .tab_content{padding:20px 0;}


/* ________________________________________________________________________________________________________________
										12. TOOLTIPS 
   ________________________________________________________________________________________________________________ */


.tooltip,.tool_tip{display:none;z-index:100000;position:relative;cursor:pointer;}

/* ------- 1. Search Tooltip ------- */
#menu_search{
	/*	background:url("_shared/search.png") no-repeat scroll 22px 38px transparent;- 
	cursor:pointer;*/
	height:90px;
	left:18px;
	position:absolute;
	top:1182px;
	width:60px;
}
.search_tooltip{
	height:78px;
	padding:18px 30px 10px;
	/*background:url("_shared/search_tooltip.png") no-repeat scroll top right transparent;}
input.tooltip_search_field,input.tooltip_search_field:focus{border:none;background:none;*/}
.tooltip_search_field{width:150px;}
.tooltip_search_button{display:none;}

/* ------- 2. Share This Post Tooltip ------- */	
.share_this_post_tooltip{
	display:none;
	position:absolute;
	height:70px;
	background:url("_shared/share_this_post_tooltip.png") no-repeat scroll top left transparent;
	padding:10px 20px;}
.share_this_post{
	background:transparent url("_shared/share_this_post.png") no-repeat -4px 0;
	display:block;
	height:28px;
	width:180px;
	padding-bottom: 10px;
}
.share_this_post_icons{padding:0px 6px 0;}
.share_this_post_icons img{margin:8px 4px 0;width:31px;}

/* ------- 3. Shortcode Tooltips ------- */
.tooltip_sc{cursor:pointer;}
.tooltip_body,.tooltip{
	overflow:auto;
	padding:10px 20px;
	border:1px solid #eee;
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	box-shadow:0px 2px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, .2);
	-o-box-shadow:0px 2px 3px rgba(0, 0, 0, .2);
	background: url("_shared/tooltip_gradient.png") bottom left repeat-x #fff;
	background-image: -moz-linear-gradient(top,  rgba(255, 255, 255, 1), rgba(229, 229, 229, 1));
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #fff),color-stop(1, #e5e5e5))}
.tooltip_tip{
	background: url("_shared/tooltip-tip.png") no-repeat scroll 50% -2px transparent;
	height:30px;
	position:relative;
	top:-1px;
	overflow:auto;
	width:100%;}
/* So tooltips don't get cut-off */
#body_block.overflow_visible, .overflow_visible #main, .overflow_visible #sidebar, .overflow_visible #body_block_background {overflow:visible;}




/* ________________________________________________________________________________________________________________
										13. Toggle Content 
   ________________________________________________________________________________________________________________ */


/* ------- 1. Minimal Toggles ------- */
.toggle {
	background: url("_shared/toggle_sprite.png") no-repeat scroll -121px 5px;
	font-size:16px;
	line-height:30px;
	position:relative;
	margin-top:15px;
	margin-bottom:15px;
	padding:0 0 0 30px;}
.toggle a {text-decoration: none;display: block;color:inherit;}
.active {background:url("_shared/toggle_sprite.png") no-repeat scroll -81px -35px}
.toggle_content {clear:both;margin:0 0 20px 30px;overflow:hidden;}

/* ------- 2. Framed Toggles ------- */
.toggle_frame{padding:0 20px;margin:15px 2px;}
.toggle_frame .toggle_content{border:0;padding:0px;}
.toggle_frame .toggle_content .block {padding:0px;}
.toggle_frame .toggle {background-position: -41px -75px;}
.toggle_frame .active {background-position: -1px -115px;}


/* ________________________________________________________________________________________________________________
										14. Box /stylesheets 
   ________________________________________________________________________________________________________________ */

.simple_box,.fancy_box,.fancy_titled_box_content,.color_scheme_box_content,.download_box,.warning_box,.info_box,.note_box{
	position:relative;
	overflow:hidden;
	clear:both;
	padding:20px;
	margin-bottom:20px;}

/* ------- 1. Simple Box ------- */
.simple_box{
	padding:20px;
	position:relative;
	margin:4px 4px 20px;}

/* ------- 2. Fancy Box ------- */
.fancy_box{
	border:1px solid #fff;
	margin:2px;
	color:#888;
	margin-bottom:20px;
	padding:20px;}

/* ------- 3. Fancy Titled Box ------- */
.fancy_titled_box{
	border:1px solid #fff;
	margin:2px;
	color:#888;}
h3.fancy_titled_box_header{
	font-size:12px; 
	text-transform:uppercase; 
	letter-spacing:1px;
	border-bottom:1px solid #fff;
	margin:0;
	padding:3px 3px 3px 20px;
	text-transform:uppercase;}
.fancy_titled_box_content{padding:20px;border-top:1px solid #eee;}

/* ------- 3. Fancy Colorscheme Box ------- */
.color_scheme_box{margin:2px;color:#888;}
.color_scheme_box_content{padding:20px;border:1px solid #e5e5e5;margin:0;}
h6.color_scheme_box_header{
	background:url("_shared/button_sprite.png") no-repeat scroll right -165px transparent;
	color:#eee;
	text-shadow:0 -1px 0 #888888;
	border-bottom:1px solid #fff;
	font-size:11px;
	line-height:10px;
	margin:0 -4px 0 0;
	padding-bottom:0;
	padding-right:24px;
	text-transform:uppercase;}
h6.color_scheme_box_header span{
	background:url("_shared/button_sprite.png") no-repeat scroll -7px -122px transparent;
	display:block;padding:15px 0 11px 20px;}

/* ------- 4. Alert Boxes ------- */
.download_box,.warning_box,.info_box,.note_box{padding-left:55px;background:#eee;padding-bottom:25px;padding-top:20px;}
.info_box{
	background:#bfe4f9 url("http://www.spottinstyle.com/stylesheets/_shared/icons/info.png") no-repeat scroll 10px 15px;
	border:1px solid #68a2cf;
	border-color:#A4D4EF;
	color:#2e6093;}
.warning_box{
	background:#ffcccc url("http://www.spottinstyle.com/stylesheets/_shared/icons/stop.png") no-repeat scroll 10px 15px;
	border:1px solid #ff9999;
	color:#c31b00;}
.download_box{
	background:#dee3ab url("http://www.spottinstyle.com/stylesheets/_shared/icons/down_alt.png") no-repeat scroll 10px 15px;
	border:1px solid #a3c159;
	color:#5e6f33;}
.note_box{
	background:#fdebae url("http://www.spottinstyle.com/stylesheets/_shared/icons/notebook.png") no-repeat scroll 10px 15px;
	border:1px solid #e6c555;
	color:#9e660d;}

/* ________________________________________________________________________________________________________________
	 										16. ADDONS
 ________________________________________________________________________________________________________________ */


/* ------- 1. WP Pagenavi ------- */
.wp-pagenavi{font-size:9px;letter-spacing:1.6px;text-transform:uppercase;clear:both;padding-top:10px;height:40px;text-align:left;}
.wp-pagenavi .pages{margin-right:4px;}
.wp-pagenavi a, .wp-pagenavi a:link,.wp-pagenavi a:visited,.wp-pagenavi a:active,.wp-pagenavi span.current,.wp-pagenavi span.extend {
	margin:2px;
	padding:4px 5px;
	text-shadow:1px 1px 1px #fff;
	border:1px solid #fff;}

/* ------- 2. Video Support ------- */
.blog_post_video{height:282px;}
.vvqbox {display: block;max-width: 100%;visibility: visible !important;}
.vvqbox img {max-width: 100%;height: 100%;}
.vvqbox object {max-width: 100%;}



/* ________________________________________________________________________________________________________________
	 										17. PROGRESSIVE ENHANCEMENTS
 ________________________________________________________________________________________________________________ */


/* ------- 1. Border Radius ------- */
.simple_box,.fancy_box,.download_box,.warning_box,.info_box,.note_box,
.fancy_titled_box,.color_scheme_box,
table.fancy_table,.widget_calendar table,
fieldset,
input[type=text],input[type=password],input[type=file],textarea,select,
input[type="button"],input[type="reset"],input[type="submit"],
.framed, .toggle_frame , .pullquote_right, .pullquote_left,.wp-caption,#flickr a img, dl.gallery-item img,
#comments .date,
.jqueryslidemenu ul li ul li a:hover, .jqueryslidemenu ul ul li a:hover,
.jqueryslidemenu ul ul ul,button,.tooltip_body,.tooltip
{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.avatar,.webtreats_flickr_widget img,
.wp-pagenavi a,.wp-pagenavi span.current,.wp-pagenavi span.extend,
.small_frame img, img.small_frame,.highlight1,.highlight2,.fancy_header span{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.jqueryslidemenu ul ul,.fancy_titled_box_content,.color_scheme_box_content,.tab_content{
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-radius:0 0 4px 4px;}	
ul.tabs a,.color_scheme_box_header{
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-top-right-radius:4px;
	-webkit-border-top-left-radius:4px;
	border-radius:4px 4px 0 0;}	

/* ------- 2. CSS Gradients ------- */
img.framed,.video_frame, .toggle_frame , .pullquote_right, .pullquote_left,.wp-caption,.webtreats_flickr_widget img, dl.gallery-item img,
.wp-pagenavi a:hover ,.wp-pagenavi span.current,.wp-pagenavi a,.wp-pagenavi span.extend{
	background-color:#f5f5f5;
	background:-moz-linear-gradient(bottom, #F2F2F2 0px, #fff 100%);
	background:-webkit-gradient(linear,left bottom,left top, color-stop(0, #f2f2f2),color-stop(1, #fff))}
.jqueryslidemenu ul ul{
	background-color:#f5f5f5;
	background: -moz-linear-gradient(top,  rgba(255, 255, 255, 1), rgba(229, 229, 229, 1));
	background:-webkit-gradient(linear,left top,left bottom, color-stop(0, #fff),color-stop(1, #e5e5e5))}
.fancy_table,.widget_calendar table,
.fancy_titled_box,.fancy_box,.color_scheme_box_content,.framed_tab_set .tab_content{
	background-color:#f8f8f8;
	background:-moz-linear-gradient(bottom ,#f6f6f6 0px, #fff 100%);
	background:-webkit-gradient(linear,left bottom,left top, color-stop(0, #f6f6f6),color-stop(100%, #fff))}
h3.fancy_titled_box_header,h3.color_scheme_box_header,.fancy_table th,.widget_calendar table th,.fancy_table tr:hover{
	background: #f3f3f3 url("_shared/th.png") 0 0 repeat-x;}
#comments .date{ background-color:#f3f3f3;background:-moz-linear-gradient(center bottom , #F0F0F0 0px, #F5F5F5 100%);}
.framed_tab_set ul.tabs a.current,.wp-pagenavi a:hover {
	background: -moz-linear-gradient(bottom , #fff 0px, #f6f6f6 90%) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear,left bottom,left top, color-stop(0, #fff),color-stop(90%, #f6f6f6));}




/* ------- 3. CSS Box Shadows ------- */
.wp-pagenavi a,.wp-pagenavi span.current,.wp-pagenavi span.extend {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);}
.fancy_table,.widget_calendar table,.fancy_titled_box,.fancy_box,
img.framed,.video_frame, .toggle_frame , .pullquote_right, .pullquote_left,.wp-caption,
.webtreats_flickr_widget img, dl.gallery-item img,
.avatar, .small_frame img, img.small_frame{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);}
.color_scheme_box{
	box-shadow:0 0 2px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.12);
	-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.12);
	-o-box-shadow:0 0 2px rgba(0, 0, 0, 0.12);}
.jqueryslidemenu ul ul,input[type="button"],input[type="reset"],input[type="submit"],button{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);}
img.fade_hover:hover,img.portfolio_hover:hover{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .45);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .45);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .45);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .45);}
input:focus,textarea:focus{
	-moz-box-shadow:1px 1px 5px rgba(0,0,0,.1);
	box-shadow:1px 1px 5px rgba(0,0,0,.1);
	-webkit-box-shadow:1px 1px 5px rgba(0,0,0,.1);
	-o-box-shadow:1px 1px 5px rgba(0,0,0,.1)}
pre,.simple_box{
	-moz-box-shadow:0px 1px 4px #ddd;
	box-shadow:0px 1px 4px #ddd;
	-webkit-box-shadow:0px 1px 4px #ddd;
	-o-box-shadow:0px 1px 4px #ddd;}

button.fancy_button,input.tooltip_search_field,input.tooltip_search_field:focus,
#footer input[type=text]:focus,#footer input[type=password]:focus,#footer textarea:focus{
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;}

/* fix cufon optical illusion of text not lining up */
h1,h2,h3{margin-left:-1px;}
p,h5,h6,.read_more_link,.blog_meta{
	padding-left:0px;
	margin-right: 20px;
}
p .button_link{margin-left:-1px;}
