<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=390228231100178";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class='content'>

  <div class='rightContent'>
    {{include 'partials/front/shopthestyles.html'}}
    {{include 'partials/front/looks.html'}}
    {{include 'partials/front/mostloved.html'}}
    {{include 'partials/front/recentstyles.html'}}

  </div>

  <div class='mainContent'>

    {{include 'partials/front/styleview/newstyle.html'}}


    {{ if auth.is_logged_in(): }}
         <!--if isUserProfile-->
         {{ if auth.user.slug == request.args[0]: }}
     
           {{include 'partials/front/profileview/myprofile/usersettings.html'}}
           {{include 'partials/front/profileview/myprofile/userinfo.html'}}
     
         <!--else-->
         {{ else: }}
           {{include 'partials/front/profileview/userinfo.html'}}
         {{ pass }}

    {{ else: }}
      {{include 'partials/front/profileview/userinfo.html'}}
    {{ pass }}



    {{ pass }}
     
    <div id="tabs">
      <ul>
          <li><a href="#tabs-1">Photos</a></li>
          <li><a href="#tabs-2">Styles</a></li>
          <li><a href="#tabs-3">Looks</a></li>
      </ul>


    {{ if auth.is_logged_in(): }}
         {{ if auth.user.slug == request.args[0]: }}
             {{include 'partials/front/profileview/myprofile/tab1.html'}}
             {{include 'partials/front/profileview/myprofile/tab2.html'}}
             {{include 'partials/front/profileview/myprofile/tab3.html'}}
         {{ else: }}
             {{include 'partials/front/profileview/tab1.html'}}
             {{include 'partials/front/profileview/tab2.html'}}
             {{include 'partials/front/profileview/tab3.html'}}
         {{ pass }}
    {{ else: }}
         {{include 'partials/front/profileview/tab1.html'}}
         {{include 'partials/front/profileview/tab2.html'}}
         {{include 'partials/front/profileview/tab3.html'}}
    {{ pass }}


  </div>

</div>

</div>



