{{extend 'layouts/front.html'}}

<div class='content'>

  <div class='rightContent'>
    {{include 'partials/front/shopthestyles.html'}}
    {{include 'partials/front/looks.html'}}
    {{include 'partials/front/mostloved.html'}}
    {{include 'partials/front/recentstyles.html'}}

  </div>

  <div class='mainContent'>

    {{include 'partials/front/styleview/newstyle.html'}}

    <!--if isUserProfile-->

      {{include 'partials/front/userview/myprofile/usersettings.html'}}
      {{include 'partials/front/userview/myprofile/userinfo.html'}}

    <!--else-->

      {{#include 'partials/front/userview/userinfo.html'}}

    <div id="tabs">
      <ul>
          <li><a href="#tabs-1">Photos</a></li>
          <li><a href="#tabs-2">Styles</a></li>
          <li><a href="#tabs-3">Looks</a></li>
      </ul>

      <!--if isUserProfile-->

        {{include 'partials/front/userview/myprofile/tab1.html'}}
        {{include 'partials/front/userview/myprofile/tab2.html'}}
        {{include 'partials/front/userview/myprofile/tab3.html'}}

      <!--else-->

        {{#include 'partials/front/userview/tab1.html'}}
        {{#include 'partials/front/userview/tab2.html'}}
        {{#include 'partials/front/userview/tab3.html'}}

    {{include 'partials/front/styleview/comments.html'}}

  </div>

</div>

