<div class="row-fluid">
	<div class="block span6">
		<!-- Block title breadcrump -->
		<div class="navbar navbar-inner block-header">
			<div class="muted pull-left">Following Styles</div>
			<div class="pull-right"><span class="badge badge-info">{{=len(followingstyles)}}</span></div>
		</div>
		<!-- Input Form -->
		<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
					<ul style="list-style-type: none;">
						{{for follow in followingstyles:}}
								<a href="{{=URL('panel', 'style', args=str(follow.id))}}">
									<span class="label label-info">{{=follow.owner_id.username}}/{{=follow.name}}</span>
								</a>
						{{pass}}
					</ul>
				</div>
		</div>
	</div>

	<div class="block span6">
		<!-- Block title breadcrump -->
		<div class="navbar navbar-inner block-header">
			<div class="muted pull-left">Following Users</div>
			<div class="pull-right"><span class="badge badge-info">{{=len(followingusers)}}</span></div>
		</div>
		<!-- Input Form -->
		<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
					<ul style="list-style-type: none;">
						{{for follow in followingusers:}}
								<a href="{{=URL('panel', 'user', args=str(follow.username))}}">
									<span class="label label-info">{{=follow.username}}</span>
								</a>
						{{pass}}
					</ul>
				</div>
		</div>
	</div>
</div>