<div class="row-fluid">
	<div class="block span12">

		<!-- Block title breadcrump -->
		<div class="navbar navbar-inner block-header">
			<div class="muted pull-left">Owned Photos</div>
			<div class="pull-right"><span class="badge badge-info">{{=photoscount}}</span></div>
		</div>
	
		<div class="block-content collapse in">
			<div class="row-fluid padd-bottom">
				<div class="span12">
					{{for photo in photos:}}
					  <div class="span1">
							<a href="{{=URL('panel','photo', args=(photo.id))}}" class="thumbnail">
								<img src="{{=URL('default','download',args=photo.thumb)}}" />
							</a>
						</div>
					{{pass}}
				</div>
			</div>
		</div>

        {{print len(photos)}}

        {{if len(photos)!=0:}}
			<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
					<div class="span12">
						<div class="pagination pagination-small" style="text-align: center;">
							<ul>
								<li><a href="#">First</a></li>
								<li><a href="#">1</a></li>
								<li class="disabled"><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		{{pass}}

	</div>
</div>