<div class="row-fluid">
	<div class="block span12">
		<!-- Block title breadcrump -->
		<div class="navbar navbar-inner block-header">
			<div class="muted pull-left">Owned Styles</div>
			<div class="pull-right"><span class="badge badge-info">{{=len(styles)}}</span></div>
		</div>
		<!-- Input Form -->
		<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
						<ul style="list-style-type: none;">
							{{for style in styles:}}
								<a href="{{=URL(f='style', args=str(style.id))}}">
									<!-- <span class="label label-info">{{=style.owner_id.username}}/{{=style.name}}</span> -->
									<span class="label label-info">{{=style.name}}</span>
								</a>
							{{pass}}
						</ul>
				</div>
		</div>
	</div>
</div>