<div class="row-fluid">
	<div class="block">

		<!-- Block title breadcrump -->
		<div class="navbar navbar-inner block-header">

			<div class="muted pull-left">
				<!-- Hide Panel Arrow -->
				<i class="icon-chevron-left hide-sidebar"><a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a></i>
				<i class="icon-chevron-right show-sidebar" style="display: none;"><a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a></i>
				<!-- Breadcump -->
				<a href="{{=URL(c='panel', f='index')}}">Dashboard</a> <span class="divider">/</span>  
				<a href="{{=URL(c='panel', f=('users') )}}">Users</a> <span class="divider">/</span> 
				{{=user.username}}
			</div>

			<div class="pull-right"><span class="badge badge-info"></span></div>
		</div>

		<!-- Input Form -->
		<div class="block-content collapse in">

			<!-- info -->
			<div class="row-fluid padd-bottom">

				<div class="span2">
					<a href="{{=URL(c='panel', f='user', args=('edit', user.id))}}">
						{{if user.avatar != None:}}
							<img src="{{=URL('default','download',args=user.avatar)}}" alt="" class="thumbnail">
						{{else:}}
							<img src="{{=URL('static','panel/assets/defaultavatar.jpg')}}" alt="" class="thumbnail">
						{{pass}}
					</a>
				</div>

				<div class="span10">
					<span style="font-size: 22px; margin-top: 8px;">{{=user.username}}</span>
					<br>
					<span style="font-size: 12px;">{{=user.email}}</span>
					<br>
					Total Loves: <span class="badge badge-warning">{{=totalloves}}</span>
					</br>
					User ID: <b>{{=user.id}}</b>
					<br>
					<a href="{{=URL('panel','user', request.args[0])}}" follower="{{=auth.user.id}}" following="{{=user.id}}">
						{{if following:}}
							<button class="btn btn-success btn-mini following" style="width: 80px;">Following</button>
						{{else:}}
							<button class="btn btn-mini follow" style="width: 80px;">Follow</button>
						{{pass}}
					</a>
				</div>

			</div>
		</div>
	</div>
</div>