<!DOCTYPE html>
<!-- 
        __                         __                
       (_ ` _   _  _)_ _)_ o  _   (_ ` _)_     )  _  
      .__) )_) (_) (_  (_  ( ) ) .__)  (_ (_( (  )_) 
          (                                 _)  (_   
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Spottinstyle.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="{{=URL('static','front/favicon.ico')}}" />
        <link rel="stylesheet" href="{{=URL('static','front/css/00_style.css')}}">
        <link rel="stylesheet" href="{{=URL('static','front/css/dropzone.css')}}">

        <!-- Meta -->
        <meta property="og:url" content="http://{{=request.env.http_host}}">
        <meta property="og:title" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:image" content="http://{{=request.env.http_host}}{{=URL('static', 'images/spottinstyle.png')}}"/>

        <!-- Google Webfont -->
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css">

        <!-- Icon Font -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">
        
        <!-- Modernizr -->
        <script src="{{=URL('static','front/js/vendor/modernizr-2.6.2.min.js')}}"></script>

        <!-- web2py ajax -->
        {{include 'web2py_ajax.html'}}


    </head>
    
    <body>
        {{include 'partials/front/overlay.html'}}


        <div>
        
            {{include 'partials/front/header.html'}}

            <div class='contentWrap fadeIn'>


                    {{include 'partials/front/topbar.html'}}

                    {{include}}
         

                {{include 'partials/front/bottomjavascript.html'}}
                
                {{#include 'partials/front/debug.html'}}
                
                {{include 'partials/front/footer.html'}}
            </div>



        </div>
    </body>
</html>
