<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="disable_cufon" content=""/>
  <meta name="slider_speed" content="7000"/>
  <meta name="slider_disable" content="false"/>
  <meta name="slider_type" content="tabbed"/>
  <title>SpottinStyle.com</title>

  <!-- javascript -->
  <!-- <script src="{{=URL('static','javascript/jquery.min-1309405380.js')}}" type="text/javascript"></script> -->
  <!-- <script src="{{=URL('static','javascript/rails-1309405380.js')}}" type="text/javascript"></script> -->
  <!-- <script src="{{=URL('static','javascript/application-1309405380.js')}}" type="text/javascript"></script> -->
  
  <script src="{{=URL('static','javascript/jquery-1.7.2.min.js')}}" type="text/javascript"></script>
  <script src="{{#URL('static','javascript/spine.js')}}" type="text/javascript"></script>
  <script src="{{#URL('static','javascript/handlebars.js')}}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/monocle.js')}}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/app.js')}}" type="text/javascript"></script>

  <meta name="csrf-param" content="authenticity_token"/>
  <meta name="csrf-token" content="smQWSxF5HtVUcZMDgKNWLHxKjcKNqFYnW6pLlex6C78="/>

  <link rel="shortcut icon" href="{{=URL('static','images/icon.png')}}" type="/images/x-icon"/>

  <!-- css -->
  <link rel="stylesheet" href="{{=URL('static','javascript/prettyPhoto/css/prettyPhoto.css')}}" type="text/css" media="screen"/>
  <link href="{{=URL('static','stylesheets/style.css')}}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static','stylesheets/classic_white_lights.css')}}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static','stylesheets/lightbox-1310954050.css')}}" media="screen" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
      /* <![CDATA[ */
      //document.write('<style type="text/css">h1,h2,h3,h4,h5,#blurb,#site_name,#intro_blurb_title,#call_to_action,.light_gradient.dropcap1,.widgettitle,.dropcap2,.dark_gradient,th{text-indent:-9999px;}.noscript{display:none;}.bg_hover{background:none;}</style>');
      /* ]]> */
  </script>

  <!-- <script src="{{=URL('static','javascript/swfobject.js') }}" type="text/javascript"></script> -->
  <!-- <script src="{{=URL('static','javascript/jquery.easing.js') }}" type="text/javascript"></script> -->
  <script src="{{=URL('static','javascript/cufon-yui.js') }}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/DejaVu_Sans_Condensed_400.font.js') }}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/prettyPhoto/js/jquery.prettyPhoto.js') }}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/jquery.tools.min.js') }}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/galleria/galleria.js') }}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/galleria/themes/classic/galleria.classic.js') }}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/custom.js') }}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/sliders.js') }}" type="text/javascript"></script>
  <script src="{{=URL('static','javascript/jquery.okShortcut.min.js') }}" type="text/javascript"></script>


  <script type="text/javascript">
      /* <![CDATA[ */
   //   var vvqflashvars = {};
   //   var vvqparams = { wmode: "opaque", allowfullscreen: "true", allowscriptacess: "always" };
   //   var vvqattributes = {};
   //   var vvqexpressinstall = "/javascripts/expressinstall.swf";
      /* ]]> */
  </script>

  <!--[if IE 8]>
    <link href="stylesheets/_shared/ie8-1309405380.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->

  <!--[if IE 7]>
    <link href="stylesheets/_shared/ie7-1309405380.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>

  {{include 'partials/front/adminbar.html'}}

  {{include}}

<div id="copyright" style="text-align: center;">
  &copy; 2013 Spottinstyle.com - All Rights Reserved - Terms and Conditions
</div>

</body>




</html>
