<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>Admin Home Page</title>
        <!-- Bootstrap -->
        <link href="{{=URL('static','panel/bootstrap/css/bootstrap.css')}}" rel="stylesheet" media="screen">
        <link href="{{=URL('static','panel/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" media="screen">
        <link href="{{=URL('static','panel/vendors/easypiechart/jquery.easy-pie-chart.css')}}" rel="stylesheet" media="screen">
        <link href="{{=URL('static','panel/assets/styles.css')}}" rel="stylesheet" media="screen">

        <link href="{{=URL('static','panel/vendors/shadowbox/shadowbox.css')}}" rel="stylesheet" media="screen">


        <link rel="shortcut icon" href="{{=URL('static','images/icon.png')}}" type="/images/x-icon"/>


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{=URL('static','panel/vendors/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>

    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            {{ include 'partials/panel/topbar.html'}}
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                {{ include 'partials/panel/nav_menu.html'}}
           
                {{ include }}
            </div>


            <footer>
                <!-- <p>SpotInStyle.com &copy; Albert Abril 2013</p> -->            
            </footer>
        </div>
        <!--/.fluid-container-->
        <script src="{{=URL('static','panel/vendors/jquery-1.9.1.min.js')}}"></script>
        <script src="{{=URL('static','panel/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{=URL('static','panel/vendors/easypiechart/jquery.easy-pie-chart.js')}}"></script>
        <script src="{{=URL('static','panel/vendors/shadowbox/shadowbox.js')}}"></script>
        <script src="{{=URL('static','panel/assets/scripts.js')}}"></script>

        <script>
        $(function() {
            // Easy pie charts
            $('.chart').easyPieChart({animate: 1000});

            //Add Button
            $('.add-gallery-button').click(function(){ 
                $('.add-gallery').toggle('slow'); 
                if ( $('.add-gallery-button').children().attr('class') == 'icon-plus' ){
                     $('.add-gallery-button').children().attr('class', 'icon-arrow-up');
                }else{
                     $('.add-gallery-button').children().attr('class', 'icon-plus');
                }
            })

            Shadowbox.init({
                handleOversize: "drag",
                modal: true
            });


        });
        </script>

    </body>



</html>