<div class="actionsbar">

      <div class="one_third">
        <input type="text" value="Search">
      </div>

      <div class="one_third">
        <input type="text" value="Upload">
      </div>

      <div class="one_third">
        <input type="text" value="Sign in">
      </div>

</div>
