  <!-- info front admin bar -->
  <style>
  #adminbar{
    background: #ebebeb;
    height: 30px;
    border-top:    3px solid purple;
    border-bottom: 4px solid purple;
    border-right:  0px dotted #f0F;
    border-left:   0px solid  #09f;
  }

  #adminbar .inner{
    margin-left: 20px;
    padding-top: 4px;
  }

  #adminbar .inner ul li{
    list-style-type: none;
    display: inline;
    margin-right: 30px;
  }

  </style>
  <div id="adminbar">
    <div class="inner">

      {{if auth.is_logged_in(): }}
        <ul>
          <li><b>DEBUG BAR</b></li>
          <li><b>{{=A('Panel', _href=URL(c='panel')) }}</b></li>
          <li><b>{{=A('DB', _href=URL(c='appadmin')) }}</b></li>
          <li><b><a href="http://127.0.0.1:8000/admin">web2pyAdmin</a></b></li>
          <li><b>{{=A('Logout', _href=URL('default', 'user', args='logout')) }}</b></li>
          <li>User: <b>{{=auth.user.email}}</b></li>
        </ul>
      {{else:}}
        <ul>
          <li>DEBUG BAR</li>
          <li><b>There's not any user logged in.</b></li>
          <li><b>{{=A('Panel', _href=URL(c='panel')) }}</b></li>
          <li><b>{{=A('DB', _href=URL(c='appadmin')) }}</b></li>
          <!-- <li><b><a href="http://127.0.0.1:8000/admin">web2pyAdmin</a></b></li> -->
          <li><b>{{=A('Login', _href=URL('default', 'user', args='login')) }}</b></li>
        </ul>
      {{pass}}

    </div>
  </div>
  <!-- end front admin bar -->