{{ include 'partials/front/actionbar.html' }} 


<div id="body_block" class="right_sidebar framed classic_white_lights">
  <div class="clearboth"></div>

  <div id="body_block_background">

    <div class="inner2">
      {{ include 'partials/front/galleries_feed.html' }} 
      <div id="sidebar" class="one_third last">
        <div class="content">
          {{ include 'partials/front/shop_the_styles.html' }}
          {{ include 'partials/front/most_loved.html' }}
          {{ include 'partials/front/recent_trends.html' }}
          {{ include 'partials/front/calendar.html' }}
        </div>
        <div id="sidebar_bottom"></div>
      </div>
    </div>
  </div>
</div>






