<div class="widget webtreats_twitter_widget">
  <h3 class="widgettitle">Calendar</h3>
  <ul>
<!-- 
    <iframe src="calendario.html" width="100%" height="320" frameborder="0" align="left">
      <p>Your browser does not support iframes.</p>
    </iframe>
     -->
  </ul>
</div>
          <br/>