<div id="footer">
  <div class="footer_background">
    <div class="footer_trim"></div>
    <div class="inner">

      <div class="one_half">
        <div id="text-9" class="widget widget_text">
          <h6 class="footer_widgettitle">Home</h6>
          <div class="textwidget">
            <ul>
                  <li><a href="#">Most Loved Cities</a></li>
                  <li><a href="#">Most Loved Styles</a></li>
                  <li><a href="#">Most Loved Looks</a></li>
                  <li><a href="#">Most Loved Style Spotters</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="one_half">
        <div id="text-9" class="widget widget_text">
          <h6 class="footer_widgettitle">Network</h6>
          <div class="textwidget">
            <ul>
              <li><a href="">Facebook</a></li>
              <li><a href="">Twitter</a></li>
              <li><a href="">Pinterest</a></li>
              <li><a href="">Instagram</a></li>
              <li><a href="">YouTube</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>.
          </div>
        </div>
      </div>
<!-- 
      <div class="one_sixth">
        <div id="text-3" class="widget widget_text">
          <h6 class="footer_widgettitle">Photos</h6>
          <div class="textwidget">
            <ul>
              <li><a href="photos/new_york/3.html">New York</a></li>
              <li><a href="photos/paris/7.html">Paris</a></li>
              <li><a href="photos/london/8.html">London</a></li>
              <li><a href="photos/milan/10.html">Milan</a></li>
              <li><a href="photos/miami/11.html">Miami</a></li>
              <li><a href="photos/l_a/9.html">L.A</a></li>
              <li><a href="photos/tokyo/13.html">Tokyo</a></li>
              <li><a href="photos/berlin/14.html">Berlin</a></li>
              <li><a href="photos/barcelona/15.html">Barcelona</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="one_sixth">
        <div id="text-6" class="widget widget_text">
          <h6 class="footer_widgettitle">Videos</h6>
          <div class="textwidget">
            <ul>
              <li><a href="videos/new_york/3.html">New York</a></li>
              <li><a href="videos/paris/7.html">Paris</a></li>
              <li><a href="videos/london/8.html">London</a></li>
              <li><a href="videos/milan/10.html">Milan</a></li>
              <li><a href="videos/miami/11.html">Miami</a></li>
              <li><a href="videos/l_a/9.html">L.A</a></li>
              <li><a href="videos/tokyo/13.html">Tokyo</a></li>
              <li><a href="videos/berlin/14.html">Berlin</a></li>
              <li><a href="videos/barcelona/15.html">Barcelona</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="one_sixth">
        <div id="text-5" class="widget widget_text">
          <h6 class="footer_widgettitle">Network</h6>
          <div class="textwidget">
            <ul>
              <li><a href="http://www.facebook.com/pages/SpottinStyle/154993761236106?ref=ts">Facebook</a></li>
              <li><a href="http://twitter.com/#!/SpottinStyle">Twitter</a></li>
              <li><a href="http://www.youtube.com/user/SpottinStyle">YouTube</a></li>
              <li><a href="mailto:action@spottinstyle.com">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
 -->
<!--       <div class="clearboth"></div>
 -->
    </div>
    <!-- inner -->
  </div>
  <!-- background -->
</div>
<!-- footer -->