<div id="main">

  <h3 class="widgettitle">Galleries Feed</h3>
  <div style="width: 605px;">
    
    <!-- for galleries as gallery: -->
      <div class="divider_padding"></div>
      <div class="one_fourth">
        <a href="/event/26">
          <img class="alignleft framed" height="110" width="110" alt="" title="" src="">
        </a>
      </div>
      <div class="three_fourth last">
        <h4 style="text-indent: 0px;"><a href="/event/26"><cufon class="cufon cufon-canvas" alt="Trends " style="width: 54px; height: 16px;"><canvas width="63" height="19" style="width: 63px; height: 19px; top: -3px; left: -1px;"></canvas><cufontext>Trends </cufontext></cufon><cufon class="cufon cufon-canvas" alt="of " style="width: 20px; height: 16px;"><canvas width="30" height="19" style="width: 30px; height: 19px; top: -3px; left: -1px;"></canvas><cufontext>of </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Miami!" style="width: 50px; height: 16px;"><canvas width="60" height="19" style="width: 60px; height: 19px; top: -3px; left: -1px;"></canvas><cufontext>Miami!</cufontext></cufon></a></h4>
        <h6>July 19, 2013</h6>
        <p class="teaser">When Miami comes to mind one may think fun in the s...</p>
        <p><a class="fancy_link" href="/gallery/54/photos"><b>SEE PHOTOS</b></a></p>
      </div>
    <!-- pass -->

    <!-- for galleries as gallery: -->
      <div class="divider_padding"></div>
      <div class="one_fourth">
        <a href="/event/26">
          <img class="alignleft framed" height="110" width="110" alt="" title="" src="">
        </a>
      </div>
      <div class="three_fourth last">
        <h4 style="text-indent: 0px;"><a href="/event/26"><cufon class="cufon cufon-canvas" alt="Trends " style="width: 54px; height: 16px;"><canvas width="63" height="19" style="width: 63px; height: 19px; top: -3px; left: -1px;"></canvas><cufontext>Trends </cufontext></cufon><cufon class="cufon cufon-canvas" alt="of " style="width: 20px; height: 16px;"><canvas width="30" height="19" style="width: 30px; height: 19px; top: -3px; left: -1px;"></canvas><cufontext>of </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Miami!" style="width: 50px; height: 16px;"><canvas width="60" height="19" style="width: 60px; height: 19px; top: -3px; left: -1px;"></canvas><cufontext>Miami!</cufontext></cufon></a></h4>
        <h6>July 19, 2013</h6>
        <p class="teaser">When Miami comes to mind one may think fun in the s...</p>
        <p><a class="fancy_link" href="/gallery/54/photos"><b>SEE PHOTOS</b></a></p>
      </div>
    <!-- pass -->
  </div>
 
</div>