<div id="main">
  <h3 class="widgettitle">Last Shots</h3>
      <div class="one_fourth">
        <a href="gallery/156/photos.html">
          <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_gallery05.jpg') }}"/>
        </a>
      </div>
      <div class="three_fourth last">
        <h4><a href="gallery/156/photos.html">IOS Test / London</a></h4>
        <h6>Mar 21, 2013</h6>
        <p class="teaser">Test test... ...</p>
        <p><a class="fancy_link" href="gallery/156/photos.html"><b>SEE PHOTOS</b></a></p>
      </div>

      <div class="clearboth"></div>
      <div class="divider_padding"></div>
      <div class="one_fourth">
        <a href="gallery/155/photos.html">
          <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_gallery45.jpg') }}"/>
        </a>
      </div>
      <div class="three_fourth last">
        <h4><a href="gallery/155/photos.html">London Fashion Week Street Style</a></h4>
        <h6>Feb 19, 2013</h6>

        <p class="teaser">SpottinStyle special guest BreaktheLogic giving us ...</p>

        <p><a class="fancy_link" href="gallery/155/photos.html"><b>SEE PHOTOS</b></a></p>
      </div>

      <div class="clearboth"></div>
      <div class="divider_padding"></div>
      <div class="one_fourth">
        <a href="gallery/149/photos.html">
          <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_gallery08.jpg') }}" />
        </a>
      </div>
      <div class="three_fourth last">
        <h4><a href="gallery/149/photos.html">Barcelona Street Style</a></h4>
        <h6>Mar 18, 2012</h6>

        <p class="teaser">Journey to Catalonia. Somewhere amidst the bustling...</p>

        <p><a class="fancy_link" href="gallery/149/photos.html"><b>SEE PHOTOS</b></a></p>
      </div>

      <div class="clearboth"></div>
      <div class="divider_padding"></div>
      <div class="one_fourth">
        <a href="gallery/146/photos.html">
          <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_gallery10.jpg') }}" /> 

        </a>
      </div>
      <div class="three_fourth last">
        <h4><a href="gallery/146/photos.html">On The Street: Milan</a></h4>
        <h6>Mar  8, 2012</h6>

        <p class="teaser">The Italians as you very well know are a passionate...</p>

        <p><a class="fancy_link" href="gallery/146/photos.html"><b>SEE PHOTOS</b></a></p>
      </div>

      <div class="clearboth"></div>
      <div class="divider_padding"></div>
      <div class="one_fourth">
        <a href="gallery/145/photos.html">
          <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_gallery02.jpg') }}"/>
        </a>
      </div>
      <div class="three_fourth last">
        <h4><a href="gallery/145/photos.html">Paris Fashion Week</a></h4>
        <h6>Mar  6, 2012</h6>

        <p class="teaser">Paris Fashion Week, when the beautiful creatures of...</p>

        <p><a class="fancy_link" href="gallery/145/photos.html"><b>SEE PHOTOS</b></a></p>
      </div>

      <div class="clearboth"></div>
      <div class="divider_padding"></div>
      <div class="one_fourth">
        <a href="gallery/144/photos.html">
          <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_gallery15.jpg') }}"/>
        </a>
      </div>
      <div class="three_fourth last">
        <h4><a href="gallery/144/photos.html">Jardin des Tuileries - Paris FW</a></h4>
        <h6>Mar  3, 2012</h6>

        <p class="teaser">Right before we move into spring, we catch the last...</p>

        <p><a class="fancy_link" href="gallery/144/photos.html"><b>SEE PHOTOS</b></a></p>
      </div>

      <div class="clearboth"></div>
      <div class="divider_padding"></div>
  <!-- content -->
</div>