<div class="widget">
<h3 class="widgettitle">Most Loved</h3>
<table border="0" cellspacing="0" cellpadding="0">
      <tr>

            <td>
              <a href="gallery/17/photos/336.html">
                <img class="framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_pat_size_adit5.jpg')}}"/>
              </a>
            </td>

            <td>
              <a href="gallery/17/photos/242.html">
                <img class="framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_patricia_paris_204.jpg')}}"/>
              </a>
            </td>
      </tr>
      <tr>
            <td>
              <h5 align="right">1633
              <img src="{{=URL('static','images/u/ratings.png')}}" alt="" width="22" height="18"/></h5>
            </td>
            <td>
              <h5 align="right">1236
              <img src="{{=URL('static','images/u/ratings.png')}}" alt="" width="22" height="18"/></h5>
            </td>
      </tr>
<!-- 
      <tr>
            <td>
              <a href="gallery/106/photos/4014.html">
                <img class="framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_home_patricia_gallery33.jpg')}}" />
              </a>
            </td>

            <td>
              <a href="gallery/36/photos/632.html">
              <img class="framed" height="110" width="110" alt="" title="" src="uploads/foto/imagem/632/thumb_home_jp_gautier_site16.jpg"/>
              </a>
            </td>
      </tr>
       -->
      <tr>
            <td>
              <h5 align="right">748
              <img src="{{=URL('static','images/u/ratings.png')}}" alt="" width="22" height="18"/></h5>
            </td>
            <td>
              <h5 align="right">722
              <img src="{{=URL('static','images/u/ratings.png')}}" alt="" width="22" height="18"/></h5>
            </td>
      </tr>
</table>
</div>