      <!-- navigation -->
      <div id="main_navigation" class="jqueryslidemenu unitPng">
        <ul>
          <li><a href="index.html"><h4>Home</h4></a>
            <ul class="sub-menu">
            </ul>
          </li>
          <li><a href="events.html"><h4>Events</h4></a>
            <ul class="sub-menu">
                  <li><a href="events/new_york/3.html">New York</a></li>
                  <li><a href="events/paris/7.html">Paris</a></li>
                  <li><a href="events/london/8.html">London</a></li>
                  <li><a href="events/milan/10.html">Milan</a></li>
                  <li><a href="events/miami/11.html">Miami</a></li>
                  <li><a href="events/l_a/9.html">L.A</a></li>
                  <li><a href="events/tokyo/13.html">Tokyo</a></li>
                  <li><a href="events/berlin/14.html">Berlin</a></li>
                  <li><a href="events/barcelona/15.html">Barcelona</a></li>
            </ul>
          <li><a href="posts.html"><h4>Trends</h4></a>
            <ul class="sub-menu">
            </ul>
          </li>
          <li><a href="photos.html"><h4>Style Photos</h4></a>
            <ul class="sub-menu">
                  <li><a href="photos/new_york/3.html">New York</a></li>
                  <li><a href="photos/paris/7.html">Paris</a></li>
                  <li><a href="photos/london/8.html">London</a></li>
                  <li><a href="photos/milan/10.html">Milan</a></li>
                  <li><a href="photos/miami/11.html">Miami</a></li>
                  <li><a href="photos/l_a/9.html">L.A</a></li>
                  <li><a href="photos/tokyo/13.html">Tokyo</a></li>
                  <li><a href="photos/berlin/14.html">Berlin</a></li>
                  <li><a href="photos/barcelona/15.html">Barcelona</a></li>
            </ul>
          </li>

          <li><a href="videos.html"><h4>Videos</h4></a>
            <ul class="sub-menu">
                  <li><a href="videos/new_york/3.html">New York</a></li>
                  <li><a href="videos/paris/7.html">Paris</a></li>
                  <li><a href="videos/london/8.html">London</a></li>
                  <li><a href="videos/milan/10.html">Milan</a></li>
                  <li><a href="videos/miami/11.html">Miami</a></li>
                  <li><a href="videos/l_a/9.html">L.A</a></li>
                  <li><a href="videos/tokyo/13.html">Tokyo</a></li>
                  <li><a href="videos/berlin/14.html">Berlin</a></li>
                  <li><a href="videos/barcelona/15.html">Barcelona</a></li>
            </ul>
          </li>

        </ul>
      </div>