      <div id="main">
        <h3 class="widgettitle">Next Events</h3>
          <div class="one_fourth">
            <a href="event/29.html">
              <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_april771.jpg') }}"/>
            </a>
          </div>
          <div class="three_fourth last">
            <h4><a href="event/29.html">APRIL 77 FASHION WEEK PARTY Paris</a></h4>
            <h6>Apr 23, 2013</h6>
            <p class="teaser">For the second time, Carmen has the pleasure to hos...</p>
          </div>
          <div class="clearboth"></div>
          <div class="divider_padding"></div>
          <div class="one_fourth">
            <a href="event/28.html">
              <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_vintage_look_site1.jpg') }}"/>
            </a>
          </div>
          <div class="three_fourth last">
            <h4><a href="event/28.html">Vintage Culture New York Launch Party</a></h4>
            <h6>July  7, 2013</h6>
            <p class="teaser">Please join us on JULY 7TH as we launch our online ...</p>
          </div>
          <div class="clearboth"></div>
          <div class="divider_padding"></div>
          <div class="one_fourth">
            <a href="event/26.html">
              <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_miami_fashion_week.png') }}"/>
            </a>
          </div>
            <div class="three_fourth last">
              <h4><a href="event/26.html">Trends of Miami!</a></h4>
              <h6>July 19, 2013</h6>

              <p class="teaser">When Miami comes to mind one may think fun in the s...</p>
                  <p><a class="fancy_link" href="gallery/54/photos.html"><b>SEE PHOTOS</b></a></p>
            </div>

            <div class="clearboth"></div>
            <div class="divider_padding"></div>
            <div class="one_fourth">
              <a href="event/51.html">
                <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_audreysfashionnightout2011.jpg') }} "/>
              </a>
            </div>
            <div class="three_fourth last">
              <h4><a href="event/51.html">Audrey’s Fashion Night Out LA</a></h4>
              <h6>Sept 14, 2013</h6>

              <p class="teaser">Style mavens and fashionistas! For those of you in ...</p>
            </div>

            <div class="clearboth"></div>
            <div class="divider_padding"></div>
            <div class="one_fourth">
              <a href="event/43.html">
                <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_tokyo_mercedes1.jpg') }} "/>
              </a>
            </div>
            <div class="three_fourth last">
              <h4><a href="event/43.html">Mercedes-Benz Fashion Week Tokyo 2012</a></h4>
              <h6>Oct 16, 2013</h6>

              <p class="teaser">Our style-hunting phtographers Thian Pillay and Ste...</p>
            </div>

            <div class="clearboth"></div>
            <div class="divider_padding"></div>
            <div class="one_fourth">
              <a href="event/34.html">
                <img class="alignleft framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/thumb_shibuya_site1.jpg') }}"/>
              </a>
            </div>
            <div class="three_fourth last">
              <h4><a href="event/34.html">Shibuya district of Tokyo</a></h4>
              <h6>Dec 18, 2013</h6>

              <p class="teaser">One of the most fascinating styles in the world wil...</p>
                  <p><a class="fancy_link" href="gallery/55/photos.html"><b>SEE PHOTOS</b></a></p>
            </div>

            <div class="clearboth"></div>
            <div class="divider_padding"></div>

        <!-- content -->
      </div>