<div id="footer">
  <div class="footer_background">
    <div class="footer_trim"></div>
    <div class="inner">
      
      <div class="one_sixth">
        <div id="text-9" class="widget widget_text">
          <h6 class="footer_widgettitle">Events</h6>
          <div class="textwidget">
            <ul>
                  <li><a href="events/new_york/3.html">New York</a></li>
                  <li><a href="events/paris/7.html">Paris</a></li>
                  <li><a href="events/london/8.html">London</a></li>
                  <li><a href="events/milan/10.html">Milan</a></li>
                  <li><a href="events/miami/11.html">Miami</a></li>
                  <li><a href="events/l_a/9.html">L.A</a></li>
                  <li><a href="events/tokyo/13.html">Tokyo</a></li>
                  <li><a href="events/berlin/14.html">Berlin</a></li>
                  <li><a href="events/barcelona/15.html">Barcelona</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="one_sixth">
        <div id="text-2" class="widget widget_text">
          <h6 class="footer_widgettitle">Articles</h6>
          <div class="textwidget">
            <ul>
              <li><a href="posts/month/6.html">June 2013(4)</a></li>
              <li><a href="posts/month/7.html">July 2013(10)</a></li>
              <li><a href="posts/month/8.html">August 2013(11)</a></li>
              <li><a href="posts/month/9.html">September 2013(1)</a></li>
              <li><a href="posts/month/1.html">January 2013(1)</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="one_sixth">
        <div id="text-3" class="widget widget_text">
          <h6 class="footer_widgettitle">Photos</h6>
          <div class="textwidget">
            <ul>
              <li><a href="photos/new_york/3.html">New York</a></li>
              <li><a href="photos/paris/7.html">Paris</a></li>
              <li><a href="photos/london/8.html">London</a></li>
              <li><a href="photos/milan/10.html">Milan</a></li>
              <li><a href="photos/miami/11.html">Miami</a></li>
              <li><a href="photos/l_a/9.html">L.A</a></li>
              <li><a href="photos/tokyo/13.html">Tokyo</a></li>
              <li><a href="photos/berlin/14.html">Berlin</a></li>
              <li><a href="photos/barcelona/15.html">Barcelona</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="one_sixth">
        <div id="text-6" class="widget widget_text">
          <h6 class="footer_widgettitle">Videos</h6>
          <div class="textwidget">
            <ul>
              <li><a href="videos/new_york/3.html">New York</a></li>
              <li><a href="videos/paris/7.html">Paris</a></li>
              <li><a href="videos/london/8.html">London</a></li>
              <li><a href="videos/milan/10.html">Milan</a></li>
              <li><a href="videos/miami/11.html">Miami</a></li>
              <li><a href="videos/l_a/9.html">L.A</a></li>
              <li><a href="videos/tokyo/13.html">Tokyo</a></li>
              <li><a href="videos/berlin/14.html">Berlin</a></li>
              <li><a href="videos/barcelona/15.html">Barcelona</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="one_sixth">
        <div id="text-5" class="widget widget_text">
          <h6 class="footer_widgettitle">Network</h6>
          <div class="textwidget">
            <ul>
              <li><a href="http://www.facebook.com/pages/SpottinStyle/154993761236106?ref=ts">Facebook</a></li>
              <li><a href="http://twitter.com/#!/SpottinStyle">Twitter</a></li>
              <li><a href="http://www.youtube.com/user/SpottinStyle">YouTube</a></li>
              <li><a href="mailto:action@spottinstyle.com">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="clearboth"></div>

    </div>
    <!-- inner -->
  </div>
  <!-- background -->
</div>
<!-- footer -->