<div class="widget">
  <h3 class="widgettitle">Recent Trends</h3>
  <ul class="thumbnail_list">
<!-- 
        <li>
          <a class="alignleft" href="post/34.html" title="Gatsby Fever">
            <span class="small_frame"><img class="fade_hover" src="{{=URL('static','images/u/thumb_gallery1.png')}}" width="60" height="60" alt="Gatsby Fever"/></span>
          </a>
          <a class="thumbnail_title" href="post/34.html">Gatsby Fever</a><br/>
          <a class="date" href="post/34.html">Expertly timed to greet the new movie release of th...</a>

          <div class="clearboth"></div>
        </li>
        <li>
          <a class="alignleft" href="post/32.html" title="Spinning Yarns: Fashion History/Hearsay">
            <span class="small_frame"><img class="fade_hover" src="{{=URL('static','images/u/thumb_gallery765.png')}}" width="60" height="60" alt="Spinning Yarns: Fashion History/Hearsay"/></span>
          </a>
          <a class="thumbnail_title" href="post/32.html">Spinning Yarns: Fashion History/Hearsay</a><br/>
          <a class="date" href="post/32.html">It is extremely difficult to point out the origins ...</a>

          <div class="clearboth"></div>
        </li>
        <li>
          <a class="alignleft" href="post/31.html" title="London Stalkin">
            <span class="small_frame"><img class="fade_hover" src="{{=URL('static','images/u/thumb_gallery12.png')}}" width="60" height="60" alt="London Stalkin"/></span>
          </a>
          <a class="thumbnail_title" href="post/31.html">London Stalkin</a><br/>
          <a class="date" href="post/31.html">From our latest pictures in the UK displayed here, ...</a>

          <div class="clearboth"></div>
        </li>
  -->       
  </ul>
</div>