<div class="widget">
  <h3 class="widgettitle">Shop the Styles</h3>
    <a href="http://tiff.uk.com/" target="_blank">
      <img class="framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/tiff_right.jpg') }}"/>
    </a>
    <a href="http://www.shopittome.co.uk" target="_blank">
      <img class="framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/shopitme.png') }}"/>
    </a>
    <a href="http://www.luisaviaroma.com" target="_blank">
      <img class="framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/luisaviaroma.gif') }}"/>
    </a>
    <a href="http://www.nastygal.com" target="_blank">
      <img class="framed" height="110" width="110" alt="" title="" src="{{=URL('static','images/u/nastygal.png') }}"/>
    </a>

    <div class="ShopStyleSpreadLook" style="width:278px;position:relative;background-color:white;border:0px solid #b9b9b9;padding:0;">
      <div style="width:100%;height:218px;position:relative;overflow:hidden">
        <div style="position:absolute;left:12px;top:1px;padding:0;margin:0">
          <img src="http://resources.shopstyle.com/uim/y2012/d060/2f/2fe8c37406b2e5466b336b3dc0e25349_58.jpg" alt="MSGM, Casadei, Space, Balmain" style="margin:0;padding:0;border:0 none;box-shadow:none;background:none;position:absolute;left:0;top:0"></img>
          <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=319655436&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
            <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:149px;top:115px;width:77px;height:102px;z-index:513;cursor:pointer;border:0 none;background-color:transparent"></img>
          </a>
          <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=323999400&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
            <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:120px;top:46px;width:107px;height:142px;z-index:16;cursor:pointer;border:0 none;background-color:transparent"></img>
          </a>
          <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=312278747&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
            <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:84px;top:118px;width:74px;height:99px;z-index:529;cursor:pointer;border:0 none;background-color:transparent"></img>
          </a>
          <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=317590808&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
            <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:90px;top:71px;width:102px;height:136px;z-index:305;cursor:pointer;border:0 none;background-color:transparent"></img>
          </a>
          <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=295827250&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
            <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:164px;top:80px;width:86px;height:114px;z-index:481;cursor:pointer;border:0 none;background-color:transparent"></img>
          </a>
        </div>
      </div>

      <div class="ShopStyleSpreadLook" style="width:250px;position:relative;background-color:white;border:0px solid #b9b9b9;padding:0;">

        <div style="width:100%;height:218px;position:relative;overflow:hidden">
          <div style="position:absolute;left:3px;top:1px;padding:0;margin:0">
            <img src="http://resources.shopstyle.com/uim/y2012/d110/f2/f2bf40bea42f9ee10b69a6096b2a4076_58.jpg" alt="NP Set, Chamak by Priya Kakkar, Giles & Brother" style="margin:0;padding:0;border:0 none;box-shadow:none;background:none;position:absolute;left:0;top:0"></img>
            <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=299625859&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
              <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:88px;top:157px;width:37px;height:38px;z-index:256;cursor:pointer;border:0 none;background-color:transparent"></img>
            </a>
            <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=311469959&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
                <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:126px;top:166px;width:44px;height:28px;z-index:192;cursor:pointer;border:0 none;background-color:transparent"></img>
            </a>
            <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=194676349&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
                <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:100px;top:22px;width:71px;height:77px;z-index:272;cursor:pointer;border:0 none;background-color:transparent"></img>
            </a>
            <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=184557997&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
              <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:56px;top:38px;width:104px;height:157px;z-index:160;cursor:pointer;border:0 none;background-color:transparent"></img>
            </a>
            <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=18509607&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
              <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:0px;top:28px;width:106px;height:133px;z-index:144;cursor:pointer;border:0 none;background-color:transparent"></img>
            </a>
            <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=327609118&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
              <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:0px;top:97px;width:86px;height:107px;z-index:176;cursor:pointer;border:0 none;background-color:transparent"></img>
            </a>
            <a href="http://www.shopstyle.com/action/apiVisitRetailer?id=331859689&pid=uid3225-2585885-95" target="_blank" style="background-color:transparent">
              <img src="http://resources.shopstyle.com/im/cleardot.gif" style="position:absolute;left:161px;top:0px;width:107px;height:194px;z-index:128;cursor:pointer;border:0 none;background-color:transparent"></img>
            </a>
          </div>
        </div>


         <div style="position:relative;height:38px;width:100%;bottom:0px;left:3px;line-height:normal;letter-spacing:normal;font:11px Verdana,sans-serif;color:#606060;">
          <div style="position:absolute;left:3px;top:5px;width:265px">
            <a href="http://www.shopstyle.com/browse/clutches/Balmain?pid=uid3225-2585885-95" style="color:#606060;background-color:transparent;font:11px Verdana,sans-serif;text-decoration:none">
              <span style="text-decoration:underline">Clutches</span>
            </a><br/>
            <a href="http://www.shopstyle.com/browse/bracelets/Chamak-by-Priya-Kakkar?pid=uid3225-2585885-95" style="color:#606060;background-color:transparent;font:11px Verdana,sans-serif;text-decoration:none">
              <span style="text-decoration:underline">Bracelets</span>
            </a><br/>
          </div>

        </div>
      </div>
    </div>