<div id="sub_footer">
  <div class="inner">
    <div class="one_half">
      <a href="images/terms/ss_terms_and_conditions.png" target="_blank">&copy; 2011 SpottinStyle.com - All Rights Reserved - Terms and Conditions</a></div>
    <div class="one_half last" style="text-align:right;">
      <div id="footer_nav"></div>
    </div>
    <div class="clearboth"></div>
  </div>
  <!-- inner -->
</div>
<!-- sub_footer -->