<div id="body_block" class="framed classic_white_lights">
  <div id="loading_slider" style="position:absolute;"></div>
  <div id="webtreats_tabbed_slider">
    <div id="tabbed_slides">
      <div class="single_tabbed_slide full_slide noscript">
        <a href="">
            <div class="positioning load_slider_img">
              <span class="rm_slider_img">
                 <img alt="" class="single_slide_image" src="{{=URL('static','images/u/london_fw33.jpg') }}"/>
              </span>
            </div>
        </a>
      </div>
      <div class="single_tabbed_slide full_slide noscript">
        <a href="">
            <div class="positioning load_slider_img">
              <span class="rm_slider_img">
                 <img alt="" class="single_slide_image" src="{{=URL('static','images/u/ban_paris2.jpg') }}"/>
              </span>
            </div>
        </a>
      </div>
      <div class="single_tabbed_slide partial_staged_slide noscript">
      <div class="positioning" style="height: 334px; width: 550px; ">
        <span class="vvqbox vvqyoutube" style="width:550px;height:334px;">
          <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/BLcHhEYbkfQ?version=338amp;hl=en_US38amp;rel=0" width="550" height="334" id="vvq-youtube-0" style="visibility: visible; ">
          <param name="wmode" value="opaque">
          <param name="allowfullscreen" value="true">
          <param name="allowscriptacess" value="always">
          </object>
        </span>
      </div>
    <div class="slider_content">
      <h1 class="slider_title">Soho New York</h1>

      <p>With a population of over 8 million people, speaking 800 different languages, New York has become one of the most diverse cities in the world. Soho in particular... See Style Photos New York</p>
    </div>
  </div>

  <div class="single_tabbed_slide partial_staged_slide noscript">
    <div class="positioning">
      <a class="load_slider_img" href="gallery/146/photos.html">
				<span class="rm_slider_img">
					<img src="{{=URL('static','images/u/milan_banner.jpg') }}" alt="" width="567" height="344" class="single_slide_image"/>
				</span>
      </a>
    </div>
    <div class="slider_content">
      <h2 class="slider_title">On The Street: Milan</h2>
      <p>The Italians as you very well know are a passionate people, that sort of emotional outpour is infectious and we feel as passionate about what we captured in their streets. This is one of our most lively galleries...  By Matteo Manzini</p>
      <p>
        <a class="button_link large_button" href="gallery/146/photos.html"><span>SEE PHOTOS</span></a></p>
    </div>
  </div>

  <div class="single_tabbed_slide full_slide noscript">
    <a href="">
        <div class="positioning load_slider_img">
          <span class="rm_slider_img">
            <img alt="" class="single_slide_image" src="{{=URL('static','images/u/980x-420-banner.jpg') }}"/>
          </span>
        </div>
    </a>
  </div>
</div>


<div class="clearboth"></div>
<!-- required for IE6/IE7 -->

<!-- thumbs -->
{{ include 'partials/front/thumbs.html' }} 
<!-- end thumbs -->
</div>
<!-- webtreats_tabbed_slider -->