<div id="thumbs" class="t noscript">
  <div class="navi">
        <a class="tabbed_slider_thumb active">
          <img alt="" class="fade_hover" src="{{=URL('static','images/u/thumb_london_fw33.jpg') }}"/>
        </a>
        <a class="tabbed_slider_thumb active">
          <img alt="" class="fade_hover" src="{{=URL('static','images/u/thumb_ban_paris2.jpg') }}" />
        </a>
        <a class="tabbed_slider_thumb active">
          <img alt="" class="fade_hover" src="{{=URL('static','images/u/new_york_logo_full2.jpg') }}"/>
        </a>
        <a class="tabbed_slider_thumb active">
          <img alt="" class="fade_hover" src="{{=URL('static','images/u/thumb_milan_banner.jpg') }}"/>
        </a>
        <a class="tabbed_slider_thumb active">
          <img alt="" class="fade_hover" src="{{=URL('static','images/u/thumb_980x-420-banner.jpg') }}"/>
        </a>
  </div>
  <!-- navi -->
</div>