      <!-- logo -->
      <div id="logo">
        <a href="index.html"><img alt="Logo" src="{{=URL('static','images/u/logo-1309405380.png') }}" /></a>
      </div>

      <!-- social -->
      <div id="social_header" style="top:21px;">
        <div class="social_header_background">
          <div class="fade_hover">
            <a class="target_blank" href="http://twitter.com/#!/SpottinStyle">
              <img alt="" class="unitPng" src="{{=URL('static','stylesheets/classic_white_lights/header_sociables_twitter.png') }}" height="22px" width="24px"/>
            </a>
          </div>
          <div class="fade_hover">
            <a class="target_blank" href="http://www.facebook.com/pages/SpottinStyle/154993761236106?ref=ts">
              <img alt="" class="unitPng" src="{{=URL('static','stylesheets/classic_white_lights/header_sociables_facebook.png') }}" height="22px" width="24px"/>
            </a>
          </div>
        </div>
      </div>