
{{if auth.is_logged_in() and (auth.has_membership(2)==False):}}

    <div class="notifications" id="logSignIn" style="display:none;">
        <div class="inline" style="width:560px;">
            <span>Loves</span><br/>
            <div class="inline">
                <a href="LINK TO STYLE 1">Style 1</a><!--place name of style/user inside tag-->
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>Trendiest Styles</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
            </div>
            <div class="inline">
                <a href="LINK TO STYLE 2">Style 2</a><!--place name of style/user inside tag-->
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>Trendiest Styles</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
            </div>
            <div class="inline">
                <a href="LINK TO STYLE 3">Style 3</a><!--place name of style/user inside tag-->
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>Trendiest Styles</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
            </div>
        </div>
        <div class="inline" style="width:300px;">
            <span>Followers</span><br/>
            <div class="inline">
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div style="text-align:center;">User A</div>
            </div>
            <div class="inline">
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div style="text-align:center;">User B</div>
            </div>
            <div class="inline">
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div style="text-align:center;">User C</div>
            </div>
            <div class="inline">
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div style="text-align:center;">User D</div>
            </div>
        </div>
        <p>Click here for <a href="{{=URL('default', 'basiclogout')}}">Logout</a> </p>
    </div>

    <script type="text/javascript">
    </script>
    <div class="logSignIn afterfacebook" id="logSignIn" style="display:block;">

       <h2>Welcome to Spottinstyle</h2>
       <p>Now that you are on the top fashion photographers site, we need from you an username</p>
       <p>input form for look for a username</p> 
       <input id="checkUsername" type="text" value="{{=fbusername}}"></input>
       <span id="available"></span>

    </div>

{{pass}}
