<div class="searchResults" id="searchResults" style="display:none;">
    <div class="inline">
        <span>Styles</span><br/>
        <div class="inline swipe" id="swipeSearchStyle" style="width:560px;">
            <div class='swipe-wrap'>
                <div>
                    <div class="inline">
                        <a href="LINK TO STYLE 1">Style 1</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="LINK TO STYLE 2">Style 2</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="LINK TO STYLE 3">Style 3</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="LINK TO STYLE 4">Style 4</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="LINK TO STYLE 5">Style 5</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="LINK TO STYLE 6">Style 6</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="inline">
                        <a href="LINK TO STYLE 7">Style 7</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="LINK TO STYLE 8">Style 8</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="LINK TO STYLE 9">Style 9</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Trendiest Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="nextSlide" onclick='swipeSearchStyle.next()'><i class="icon-angle-right"></i></button>
    </div>
    <div class="inline searchUser">
        <span>Users</span><br />
        <div class="inline swipe"  id="swipeSearchUser" style="width:280px; margin:0; padding-left:20px;">
            <div class='swipe-wrap'>
                <div style="width:280px;">
                    <div>
                        <a href="LINK TO USER 1">User 1</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Alberto</strong></span><br/>
                            <span>Followers: 5043</span><br/>
                            <span>Following: 347</span>
                        </div>
                    </div>
                    <div>
                        <a href="LINK TO USER 2">User 2</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Felipe</strong></span><br/>
                            <span>Followers: 7602</span><br/>
                            <span>Following: 2306</span>
                        </div>
                    </div>
                    <div>
                        <a href="LINK TO USER 3">User 3</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Wombat</strong></span><br/>
                            <span>Followers: 1120</span><br/>
                            <span>Following: 302</span>
                        </div>
                    </div>
                </div>
                <div style="width:280px;">
                    <div>
                        <a href="LINK TO USER 1">User 1</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Alberto</strong></span><br/>
                            <span>Followers: 5043</span><br/>
                            <span>Following: 347</span>
                        </div>
                    </div>
                    <div>
                        <a href="LINK TO USER 2">User 2</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Felipe</strong></span><br/>
                            <span>Followers: 7602</span><br/>
                            <span>Following: 2306</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="nextSlide" onclick='swipeSearchUser.next()'><i class="icon-angle-right"></i></button>
    </div>
</div>