<div class="logSignIn" id="logSignIn" style="display:none;">

    {{#LOAD(ajax=True, target='target1', url='http://localhost/style/default/user.load/login')}}

    <div>
        <div class="inline logA">
            {{#A('Connect with facebook', _class='facebookLog',  _href=URL('default', 'login', args='?social_media=facebook', vars=dict(_next=URL(args=request.args, vars=request.vars))))}}
            {{=A('Connect with facebook', _class='facebookLog',  _href=URL('login', 'facebook', vars=dict(_next=URL(args=request.args, vars=request.vars))))}}
            <div class="drop-shadow curved curved-hz-1" style="background:#eee;background: rgba(20,10,60,0.05); padding:20px 50px;overflow:hidden;">
                <a href="#" id="logButton" style="font-weight:bold;color:#888;left:50px;margin-right:50px;">Basic Login</a>
                <a href="#" id="signButton" style="font-weight:bold;color:#888;right:50px;">Sign up with email</a>
            </div>
        </div>
    </div>
    <div class="login">
        <div class="inline">
            <span>LOGIN</span>
            <form enctype="multipart/form-data" action="{{=URL('default','loginbasic')}}" method="post" id="loginForm">
                <div>
                    <p>
                        <label>Username</label><br/>
                        <input class="string" id="auth_user_username" name="username" type="text" value="" required/>
                    </p>
                    <p>
                        <label>Password</label><br/>
                        <input class="password" id="auth_user_password" name="password" type="password" value="" required/>
                    </p>
                    <p>
                        <input value="http://{{=request.env.http_host}}" type="hidden" name="_next" />
                    </p>
                </div>
                <div class="drop-shadow curved curved-hz-1" style="background:#eee;background: rgba(20,10,60,0.05); padding:20px 56px;overflow:hidden; text-align:center">
                    <input type="submit" value="Login" class="login button"/>
                </div>
                 

            </form>
        </div>
    </div>


    <div class="signUp">
        <div class="inline">
            <span>SIGN UP</span>
            <form id="signUpForm">
                <div>
                    <p><label>Temporally Disabled</label></p>
                </div>
                <div style="display:none;">
                    <p>
                        <label>Username</label><br/>
                        <input type="text" required/>
                    </p>
                    <p>
                        <label>Email</label><br/>
                        <input type="email" required/>
                    </p>
                    <p>
                        <label>Password</label><br/>
                        <input type="text" required/>
                    </p>
                    <p>
                        <label>Confirm Password</label><br/>
                        <input type="text" required/>
                    </p>
                </div>
                <div class="drop-shadow curved curved-hz-1" style="background:#eee;background: rgba(20,10,60,0.05); padding:20px 56px;overflow:hidden; text-align:center">
                    <input style="display: none;" type="submit" value="Sign up" class="register button"/>
                </div>
            </form>
        </div>
    </div>
</div>
