<div class="notifications" id="logSignIn" style="display:none;">
    <div class="inline" style="width:560px;">
        <span>New Loves</span><br/>
        <div class="inline">
          You don't have new loves.
        </div>
        <!--
        <div class="inline">
            <a href="LINK TO STYLE 1">Style 1</a>
            <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
            <div class='inline styleFeedInfo'>
                <span><strong>Trendiest Styles</strong></span><br/>
                <span>76K <i class="icon-heart"></i></span><br/>
                <span>by User</span>
            </div>
        </div>
        <div class="inline">
            <a href="LINK TO STYLE 2">Style 2</a>
            <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
            <div class='inline styleFeedInfo'>
                <span><strong>Trendiest Styles</strong></span><br/>
                <span>76K <i class="icon-heart"></i></span><br/>
                <span>by User</span>
            </div>
        </div>
        <div class="inline">
            <a href="LINK TO STYLE 3">Style 3</a>
            <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
            <div class='inline styleFeedInfo'>
                <span><strong>Trendiest Styles</strong></span><br/>
                <span>76K <i class="icon-heart"></i></span><br/>
                <span>by User</span>
            </div>
        </div>
        -->
    </div>
    <div class="inline" style="width:300px;">
        <span>New Followers</span><br/>
        <div class="inline">
          No new follows.
        </div>
        <!--
        <div class="inline">
            <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
            <div style="text-align:center;">User A</div>
        </div>
        <div class="inline">
            <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
            <div style="text-align:center;">User B</div>
        </div>
        <div class="inline">
            <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
            <div style="text-align:center;">User C</div>
        </div>
        <div class="inline">
            <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
            <div style="text-align:center;">User D</div>
        </div>
        -->
    </div>
    <p>Click here to <a href="{{=URL('default', 'basiclogout')}}">Logout</a> </p>
</div>

