<div id="upload" style="display:none">

{{if auth.is_logged_in():}}

<<<<<<< HEAD
    {{include 'partials/front/contextbox/upload/logged.html'}}

=======
    <form action="localhost" class="dropzone" id="my-awesome-dropzone"></form>
    {{include 'partials/front/tagupload.html'}}
	
>>>>>>> robin
{{else:}}

    {{include 'partials/front/contextbox/upload/notlogged.html'}}

{{pass}}

</div>
