<div id="upload" style="display:none">

{{if auth.is_logged_in():}}

    <form action="/ajax/uploadphoto" class="dropzone" id="my-awesome-dropzone"></form>
    {{include 'partials/front/contextbox/upload/tagupload.html'}}
	
{{else:}}

    {{include 'partials/front/contextbox/upload/notlogged.html'}}

{{pass}}

</div>
