{{extend 'layouts/front.html'}}

{{include 'partials/front/topbar.html'}}

<div class='content'>

	<div class='rightContent'>
	    {{include 'partials/front/shopthestyles.html'}}
	    {{include 'partials/front/looks.html'}}
	    {{include 'partials/front/mostloved.html'}}
	    {{include 'partials/front/recentstyles.html'}}

	</div>

	<div class='mainContent'>
		{{include 'partials/front/userview/userinfo.html'}}

	</div>

</div>