<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">

			<!-- Block title breadcrump -->
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">Photo Edit</div>
				<div class="pull-right"><span class="badge badge-info">ddd</span></div>
			</div>

			<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
					<div class="span12">
						{{=form}}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>