<div class="span9" id="content">
	<div class="row-fluid">
		<div class="block">

			<!-- Block title breadcrump -->
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">Photo Loves</div>
				<div class="pull-right"><span class="badge badge-info"></span></div>
			</div>

			<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
					<div class="span12">

						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Loved by</th>
									<th>Created in</th>
								</tr>
							</thead>
							<tbody>
								{{for love in loves:}}
									<tr>
										<td><b>{{=love.id}}</b></td>
										<td>{{=A(love.owner_id.username, _href=URL(f='user', args=(str(love.owner_id.username))))}}</td>
										<td>{{=love.created}}</td>
									</tr>
								{{pass}}
							</tbody>
						</table>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>