<div class="span9" id="content">
	<div class="row-fluid">

		<div class="block">

			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">
					<i class="icon-chevron-left hide-sidebar"><a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a></i>
					<i class="icon-chevron-right show-sidebar" style="display: none;"><a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a></i>
					<a href="{{=URL(c='panel', f='index')}}">Dashboard</a> <span class="divider">/</span>  
					<a href="{{=URL(f=('photos') )}}">Photos</a> <span class="divider">/</span>  
					<b>{{=request.args[0]}}</b>  
				</div>

				<div class="pull-right">
					<a href="{{=URL('panel', 'photo', args=[int(request.args[0])-1] )}}"><i class="icon-circle-arrow-left"></i></a>
					<a href="{{=URL('panel', 'photo', args=[int(request.args[0])+1] )}}"><i class="icon-circle-arrow-right"></i></a>
				</div>
			</div>

			<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">

                 {{if photo != False:}}
                 	{{ include 'panel/photo/show_content.html'}}
                 {{else:}}
					<h5 class="span12" style="margin-left: 20px;">This photo doesn't exists.</h5>
                 {{pass}}

                  

				</div>
			</div>
		</div>
	</div>
</div>