<div class="span8">
	<a href="#" class="thumbnail">
		<img src="{{=URL('default','download',args=photo.picture)}}" style="width: 100%;"/>
	</a>
</div>

<div class="span4">

	<div class="row-fluid padd-bottom">
		<div class="span12" style="margin-bottom: 50px;">
			<div class="span6">
				<a href="{{=URL('panel','photo', request.args[0])}}" user="{{=auth.user.id}}" love="{{=photo.id}}" class="nolinkstyle">
					{{if loved:}}
						<button style="width: 100%;" class="btn btn-mini btn-success loved">
							<i class="icon-heart" style="color: white;"></i> Loved
						</button>
					{{else:}}
						<button style="width: 100%;" class="btn btn-mini love">
						<i class="icon-heart"></i> Love
						</button>
					{{pass}}
				</a>
			</div>



			<div class="btn-group tagstyle span6 pull-right">
				<button class="btn btn-mini" style="width: 80%;">
					<i class="icon-tag"></i> Tag</span>
				</button>
				<button data-toggle="dropdown" style="width: 20%;" class="btn btn-mini dropdown-toggle">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<i class="icon-search" style="margin-left: 4px;"></i>
						<input type="text" class="text stylesearch" style="margin: 0px 10px 0px 0;">
					</li>
					<li class="createstyle" id="{{=photo.id}}"></li>
				</ul>
			</div>

		</div>
	</div>

	<div class="row-fluid padd-bottom" style="margin-bottom: 40px;">

		<h4>Belonging to styles:</h4>
		{{if len(tags)==None:}} None {{else:}}
			{{for tag in tags:}}
				<a href="{{=URL(f=('style'), args=[str(tag.styles.id)] )}}">
					<span class="badge badge-inverse hover">{{=tag.styles.owner_id.username}}/{{=tag.styles.name}}</span>
				</a>
				<a href="{{=URL('panel','photo', args=(photo.id))}}" class="icon-remove deletestyle" id="{{=tag.styles.id}}"></a>
				<br>
			{{pass}}
		{{pass}}
	</div>


	<div class="row-fluid padd-bottom">
		<table class="table table-bordered table-striped">
			<tbody>
				<tr>
					<td style="width: 60%;"><b>Owner</b></td>
					<td style="text-align: left;">{{=photo.owner.username}}</td>
				</tr>
				<tr>
					<td><b>Loves</b></td>
					<td style="text-align: left;"><span class="badge badge-success">{{=loves}}</span></td>
				</tr>
				<tr>
					<td><b>Unique Link</b></td>
					<td style="text-align: left;">
						<a href="http://{{=request.env.http_host}}/photo/{{=hashid.encrypt(photo.id)}}">
							{{=hashid.encrypt(photo.id)}}
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
