.jqueryslidemenu ul ul{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5'); /* for IE */
	border:1px solid #dddddd;
	border-top:1px solid #fff;}
.jqueryslidemenu ul ul ul{border-top:1px solid #ddd;}	

.avatar, .small_frame img, img.small_frame,
.fancy_table,.widget_calendar table,.fancy_titled_box,.fancy_box,
img.framed,.video_frame{border:1px solid #eee !important;background:#e5e5e5 url("ie.png") top left repeat-x !important;}

.wp-pagenavi a,.wp-pagenavi span.current,.wp-pagenavi span.extend,
.fancy_table,.widget_calendar table,.fancy_titled_box,.fancy_box,
.toggle_frame , .pullquote_right, .pullquote_left,.wp-caption,
.webtreats_flickr_widget img, dl.gallery-item img,
.color_scheme_box_content{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2') !important; /* for IE */
	border:1px solid #eee !important;}

img.fade_hover:hover,img.portfolio_hover:hover,
pre,.simple_box{border:1px solid #ddd !important;}

input.tooltip_search_field:focus,
#footer input[type=text],#footer input[type=password],#footer textarea,
#footer input[type=text]:focus,#footer input[type=password]:focus,#footer textarea:focus
{border:0px none;}

.comment_bubble{background:url("comment_bubble.png") no-repeat scroll -6px 1px transparent;height:30px;margin-top:-7px;}



	
button.fancy_button:active{
	-ms-background-position-y:-164px;
	position:relative;
	left:1px;
	padding-left:1px;}

button.fancy_button:active span{
	position:relative;
	left: -1px;
	top:0px;}