<div class='galleryInfo'>

    {{if currentstyle.id:}}
      <div id="styleid" style="display:none;" data-styleid="{{=hashid.encrypt(currentstyle.id)}}"></div>
    {{pass}}
                    
     {{if currentstyle.stylethumb:}}
        <div class="imgContainer inline"><img src="{{=URL('default','download', args=currentstyle.stylethumb)}}" style="margin-right: 0px;" alt=''/></div>
     {{pass}}

     {{ if auth.is_logged_in(): }}
         {{if db((db.following_styles.follower==auth.user) & (db.following_styles.follows==currentstyle)).count()==0: }}
            <button class='button follow' data-styleid="{{=hashid.encrypt(currentstyle.id)}}">Follow&nbsp;Style</button>
         {{else:}}
         <button class='button follow following' data-styleid="{{=hashid.encrypt(currentstyle.id)}}">Following&nbsp;Style</button>
         {{pass}}
     {{else:}}
         <!-- <button class="button follow">Follow Style</button> -->
     {{pass}}

    <div class="inline">
    	<h1>{{=currentstyle.name.title()}}</h1>
        <span>Style by {{=A(currentstyle.owner_id.username, _href=URL('profile', currentstyle.owner_id.username))}} | {{=currentstyle.totalloves}} <i class="icon-heart"></i></span>
    </div>
    <p id='styleText' style="height: auto;">
       {{if currentstyle.description=="":}}
          No description
       {{else:}}
           {{=currentstyle.description}}
       {{pass}}
    </p>
    <a href="#" id="editInfo"><i class="icon-pencil"></i></a>
</div>
