{{extend 'layouts/front.html'}}

<style type="text/css">
  .tag {
    background: black;
    margin: 0px 4px 4px 0px;
    padding: 0 4px 0 4px;
    color: white;
    display: inline-block;
  }

  .tag a:link, a:visited, a:active {
    color: white;
  }

  .tag a:hover {
    background: white; 
    color: MediumPurple;
  }
</style>

<body>
<div class="body_background">
  <div id="header">
    <div class="inner">
      {{ include 'partials/front/top.html' }}
      {{ #include 'partials/front/navigation.html' }}
      <div id="main_navigation" class="jqueryslidemenu unitPng">
        <ul>
          <li>
            <a href="index.html">
              <h4>{{=style.name}} style</h4>
            </a>
            <ul class="sub-menu">
            </ul>
          </li>
      </div>

    </div>
    <!-- search feature -->    
    <!-- tooltip element -->
  </div>
</div>


<div id="body_block" class="right_sidebar framed classic_white_lights">
  <div class="clearboth"></div>

  <div id="body_block_background">

    <div class="inner2">

      <div id="main" style="width: 605px;">

          <div id="stylename" name="{{=style.id}}"></div>
          <div id="userowner" name="{{=user.id}}" style="float:right; clear:both;">
            Stye belongs to: {{=user.username}}
          </div>
          <div id="photoownedby" name="{{=user.id}}" style="float:right; clear:both;">
            Photo belongs to: <span>nobody (not implemented yet)</span>
          </div>
          <div id="loves" style="float:right; clear:both;">Loves <span>0<span></div>

          <div id="count" style="float:right; clear:both;">
            Count <span id="position">0</span>/<span id="total">0</span>
          </div>

          <br><br><br><br>



        <p>{{=style.description}}</p>



        <div id="tags" >
        </div>
      </divs>


        <div class="photocontainer" style="width: 605px;">
          <div id="photo">
           <div id="controls" style="">
          </div>
           <img class="framed" id="main_photo" src="" alt=""  style="width: 50%;">
          </div>
        </div>
     </div>

        <div id="thumbs" style="width: 605px;">
        </div>


      <div id="sidebar" class="one_third last">
        <div class="content">
          {{ include 'partials/front/shop_the_styles.html' }}
          {{ include 'partials/front/most_loved.html' }}
          {{ include 'partials/front/recent_trends.html' }}
        </div>
        <div id="sidebar_bottom"></div>
      </div>
    </div>
  </div>
</div>


{{ include 'partials/front/footer.html' }} 

{{ #include 'partials/front/subfooter.html' }} 

{{ include 'partials/front/cufon.html' }} 