{{extend 'layouts/front.html'}}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=390228231100178";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class='content'>

  <div class='rightContent'>
    {{include 'partials/front/shopthestyles.html'}}
    {{include 'partials/front/looks.html'}}
    {{include 'partials/front/mostloved.html'}}
    {{include 'partials/front/recentstyles.html'}}

  </div>

  <div class='mainContent'>

    {{include 'partials/front/styleview/newstyle.html'}}


    {{ if auth.is_logged_in(): }}

         {{ if auth.user.slug == request.args[0]: }}
           {{include 'partials/front/styleview/mystyle/galleryinfo.html'}}
         {{ else: }}
           {{include 'partials/front/styleview/galleryinfo.html'}}
         {{ pass }}

    {{ else: }}
      {{include 'partials/front/styleview/galleryinfo.html'}}
    {{ pass }}

        {{include 'partials/front/styleview/newstyle.html'}}

        {{include 'partials/front/styleview/photo.html'}}

        {{include 'partials/front/styleview/comments.html'}}

        {{include 'partials/front/styleview/galleryphotos.html'}}
  </div>

</div>

