{{ extend 'layouts/panel.html'}}


<!--/span-->
<div class="span9" id="content">
    <div class="row-fluid">

<!-- 
		<div class=​"alert alert-success">​
			​<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4>Success</h4>
				The operation completed successfully
		</div>
 -->

		<div class="block">

			<!-- Block title breadcrump -->
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">Galleries</div>
				<div class="pull-right"><span class="badge badge-info">{{=count}}</span></div>
			</div>

			<!-- Input Form -->
			<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
					<div class="span12">
						<button class="btn pull-right add-gallery-button"><i class="icon-plus"></i> Add Gallery</button>
					</div>
					<div class="span12 hide add-gallery">
					    {{=form}}	
					</div>
				</div>
			</div>

			<!-- List of galleries -->
            <div class="block-content collapse in">
                {{if len(galleries) == 0:}}
                    <h6 style="margin-left: 20px;">No galleries added yet. Click on 'Add Gallery' to add one.</h6>
                {{else:}} 
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Gallery Name</th>
                                <th>Gallery Owner</th>
                                <th>Photos</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for gallery in galleries:}}
                            <tr>
                                <td>{{=A(gallery.id, _href=URL(f='gallery', args=str(gallery.id))) }}</td>
                                <td>{{=A(gallery.name, _href=URL(f='gallery', args=str(gallery.id))) }}</td>
                                <td>
                                    <a href="{{=URL(f='user', args=str(gallery.id))}}">
                                       {{=gallery.owner_id.username}} ({{=gallery.owner_id}})
                                    </a>
                                </td>
                                <td><span class="badge badge-info" style="margin-left: 18px;">00</span></td>
                                <td>
                                    <a href="{{=URL(f='gallery', args=('edit', str(gallery.id)))}}">
                                        <button class="btn btn-mini"><i class="icon-edit white"></i></button>
                                    </a>
                                </td>
                            </tr>
                            {{pass}}
                        </tbody>
                    </table>
                {{pass}}
            </div>

    </div>
</div>
