{{ extend 'layouts/panel.html'}}

<!--/span-->
<div class="span9" id="content">
    <div class="row-fluid">

<!-- 
    <div class=​"alert alert-success">​
      ​<div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        The operation completed successfully
    </div>
 -->

    <div class="block">

      <!-- Block title breadcrump -->
      <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">Gallery</div>
        <div class="pull-right"><span class="badge badge-info"></span></div>
      </div>

      <!-- Input Form -->
      <div class="block-content collapse in">
        <div class="row-fluid padd-bottom">
          <div class="span12">
            {{if form !=None:}}
              {{=form}} 
            {{else:}}
              Name: {{=gallery[0].name}} <br>
              Description: {{=gallery[0].description}} <br>
            {{pass}}
          </div>
        </div>
      </div>

    </div>
</div>
