{{ extend 'layouts/panel.html'}}

<!--/span-->
<div class="span9" id="content">

<div class="block">
	<!-- Block title breadcrump -->
	<div class="navbar navbar-inner block-header">
	  <div class="muted pull-left">

	    <!-- Hide Panel Arrow -->
	    <i class="icon-chevron-left hide-sidebar">
	      <a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a>
	    </i>
	    <i class="icon-chevron-right show-sidebar" style="display: none;">
	      <a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a>
	    </i>

	    <a href="{{=URL(c='panel', f='index')}}">Dashboard</a> 
	  </div>
	  <div class="pull-right"><span class="badge badge-info"></span></div>
	</div>

    <div class="block-content collapse in">
        <div class="span6">
            <h6>Last Users</h6>
            {{for user in users:}}
	            <a href="{{=URL('panel','user',args=[user.username])}}">
	               <span class="label label-info">{{=user.username}}</span>
	            </a>
            {{pass}}
        </div>
        <div class="span6">
            <h6>Last Styles</h6>
            {{for style in styles:}}
	            <a href="{{=URL('panel','style',args=[style.id])}}">
	               <span class="label label-success" style="margin-bottom: 4px;">
	               	{{=style.owner_id.username}}/ <span style="font-size: 18px;">{{=style.name}}</span> 
	               </span>
	            </a>
            {{pass}}
        </div>
     </div>
     <div class="block-content collapse in">
        <div class="span13 pull-left">
            <hr>
            <h6>Last Photos</h6>
            {{for photo in photos:}}
	            <a href="{{=URL('panel','photo',args=[photo.id])}}" class="span1">
	             <img src="{{=URL('default','download', args=photo.thumb)}}"/>
	            </a>
            {{pass}}
       </div>

        </div>
    </div>
</div>

</div>
