{{ extend 'layouts/panel.html'}}


<!--/span-->
<div class="span9" id="content">
    <div class="row-fluid">

<!-- 
    <div class=​"alert alert-success">​
      ​<div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        The operation completed successfully
    </div>
 -->

    <div class="block">

      <!-- Block title breadcrump -->
      <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">

          <!-- Hide Panel Arrow -->
          <i class="icon-chevron-left hide-sidebar">
            <a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a>
          </i>
          <i class="icon-chevron-right show-sidebar" style="display: none;">
            <a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a>
          </i>

          <a href="{{=URL(c='panel', f='index')}}">Dashboard</a> <span class="divider">/</span> 
          <a href="{{=URL(c='panel', f='looks')}}">Looks</a> 

        </div>
        <div class="pull-right"><span class="badge badge-info"></span></div>
      </div>

      <!-- Input Form -->
      <div class="block-content collapse in">
        <div class="row-fluid padd-bottom">
          <div class="span12">
            <i class="icon-search" style="margin-left: 4px;"></i>
            <input type="text" class="text stylesearch" style="margin: 0px 10px 0px 0;">
          </div>
        </div>
      </div>

    </div>
</div>