{{ extend 'layouts/panel.html'}}


                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                      {{ #include 'partials/panel/breadcrumb.html'}}
                  	</div>
                    <div class="row-fluid">
                       {{ include 'partials/panel/statistics.html'}}
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            {{ include 'partials/panel/tablelist.html'}}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            {{ include 'partials/panel/tablelist.html'}}
                        </div>
                        <div class="span6">
                            {{ include 'partials/panel/tablelist.html'}}
                        </div>
                    </div>
                    <div class="row-fluid">
                      {{ include 'partials/panel/gallery.html'}}
                    </div>
                </div>
            </div>
