{{ extend 'layouts/panel.html'}}

<!--/span-->
<div class="span9" id="content">
    <div class="row-fluid">

<div class="block">

  <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">Photos</div>
      <div class="pull-right"><span class="badge badge-info">{{=count}}</span></div>
  </div>



     <div class="row-fluid padd-bottom">
      {{ for photo in photos:}}
        <div class="span3">
            <a href="#" class="thumbnail">
              <img src="{{=URL('default','download',args=photo.filename)}}" alt="">
            </a>
        </div>
      {{ pass }}
      </div>



  <div class="block-content collapse in">

	<!-- 
      <div class="row-fluid padd-bottom">
        <div class="span3">
            <a href="#" class="thumbnail">
            	<img src="" alt="">
            </a>
        </div>
      </div>

      <div class="row-fluid padd-bottom">
      </div>

      <div class="row-fluid padd-bottom">
      </div>
       -->
  </div>
  
</div>

    </div>
</div>
