{{ extend 'layouts/panel.html'}}


<!--/span-->
<div class="span9" id="content">
    <div class="row-fluid">

<!-- 
    <div class=​"alert alert-success">​
      ​<div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Success</h4>
        The operation completed successfully
    </div>
 -->

    <div class="block">

        <!-- Block title breadcrump -->
        <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">

            <!-- Hide Panel Arrow -->
            <i class="icon-chevron-left hide-sidebar">
              <a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a>
            </i>
            <i class="icon-chevron-right show-sidebar" style="display: none;">
              <a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a>
            </i>

            <a href="{{=URL(c='panel', f='index')}}">Dashboard</a> <span class="divider">/</span>  
            <a href="{{=URL(f=('photos') )}}">Photos</a> 
            
          </div>
          <div class="pull-right"><span class="badge badge-info">{{=count}}</span></div>
        </div>


      <!-- Input Form -->
      <div class="block-content collapse in">
        <div class="row-fluid padd-bottom">
          <div class="span12">
            <button class="btn pull-right add-gallery-button"><i class="icon-plus"></i> Add Photo</button>
          </div>
          <div class="span12 hide add-gallery">
              {{=form}} 
          </div>
        </div>
      </div>

      <!-- List of galleries -->
      <div class="block-content collapse in" style="height: 450px;">

          {{if photos == False:}}
                <h6 style="margin-left: 20px;">No users added yet. Click on 'Add Photo' to add one.</h6>
          {{else:}} 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><i class="icon-zoom-in"></i></th>
                        <th>Photo Owner</th>
                        <th>Styles</th>
                        <th>Loves</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {{for photo in photos:}}
                    <tr>
                      <td>{{=A(photo.id, _href=URL(f='photo', args=str(photo.id))) }}</td>
                    <td>
                       <a href="{{=URL('panel','photo', args=(photo.id))}}" class="thumbnail" style="width: 24px;">
                        <img src="{{=URL('default','download',args=photo.thumb)}}"/ style="height:24px; width: 24px;">
                       </a>
                        <!-- 
                        <a href="{{=str(URL('default','download',args=photo.filename))}}" rel="shadowbox;height=400;width=auto" style="height:20px;">
                          <img src="{{=URL('default','download',args=photo.filename)}}" style="height:30px;"/>
                        </a>
                         -->
                      </td>
                      <td>
                          <a href="{{=URL(f='user', args=str(photo.owner_id.username))}}">
                            {{=photo.owner_id.username}} 
                          </a>
                        </td>
                        <td style="width: 46%;">

                  <!-- for tag in tags: -->
                          {{for style in photo.styles:}}
                            <a href="{{=URL(f='style', args=[style.styles.id])}}">
                              <span class="label label-info">{{=style.styles.owner_id.username}}/{{=style.styles.name}}</span>
                            </a>
                          {{pass}}
                  <!-- pass -->

                        </td>
                        <td>
                          <a href="{{=URL(f=('photo'), args=['loves',str(photo.id)] )}}">
                            <span class="badge badge-inverse" style="margin-left: 20px;">
                              {{=photo.loves.count()}}
                            </span>
                          </a>
                          </a>
                        </td>
                        <td>
                          <a href="{{=URL(f='photo', args=('edit', str(photo.id)))}}">
                            <button class="btn btn-mini"><i class="icon-edit white"></i></button>
                          </a>
                        </td>
                    </tr>
                    {{pass}}
                </tbody>
            </table>
          {{pass}}
      </div>
    </div>

    <div class="pagination pagination-small" style="text-align: center;">
      <ul>
        <!-- Prev -->
        {{if pagination['offset'] < pagination['itemsperpage']:}}
          <li class="disabled"><a href="#">Prev</a></li>
        {{else:}}
          <li><a href="{{=URL('panel','photos',args=[ (pagination['offset'])-(pagination['itemsperpage']) ] )}}">Prev</a></li>
        {{pass}}

        <!-- Pages -->
        {{actualpage = pagination['offset']/pagination['itemsperpage'] }}
        {{npagesrange=6}}

        {{for i in range( (count/pagination['itemsperpage'])+1 ): }}

          {{if False: #i==0 and i<actualpage: }}
              <li>
                <a href="{{=URL('panel','photos',args=[ (pagination['itemsperpage']*i) ] )}}">First</a>
              </li>
          {{pass}}


          {{if i>actualpage-npagesrange and i<actualpage+npagesrange: }}
              <li {{if i==actualpage:}}class="active"{{pass}} >
                <a href="{{=URL('panel','photos',args=[ (pagination['itemsperpage']*i) ] )}}">{{=i+1}}</a>
              </li>
          {{pass}}

          {{if False: #i==count/pagination['itemsperpage'] and actualpage!=i and actualpage!=i-1: }}
              <li>
                <a href="{{=URL('panel','photos',args=[ (pagination['itemsperpage']*i) ] )}}">Last</a>
              </li>
          {{pass}}


        {{pass}}

        <!-- Next -->
        {{if pagination['offset'] > count-pagination['itemsperpage']:}}
          <li class="disabled"><a href="#">Next</a></li>
        {{else:}}
          <li><a href="{{=URL('panel','photos',args=[ (pagination['offset'])+(pagination['itemsperpage']) ] )}}">Next</a></li>
        {{pass}}

      </ul>
    </div>

</div>
