{{ extend 'layouts/panel.html'}}

<div class="span9" id="content">

	<div class="row-fluid">
		<div class="block">
			<!-- Block title breadcrump -->
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">
					<!-- Hide Panel Arrow -->
					<i class="icon-chevron-left hide-sidebar"><a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a></i>
					<i class="icon-chevron-right show-sidebar" style="display: none;"><a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a></i>

		      		<!-- Breadcump -->
					<a href="{{=URL(c='panel', f='index')}}">Dashboard</a> <span class="divider">/</span>  
					<a href="{{=URL(c='panel', f=('slides') )}}">Slides</a> <span class="divider">/</span> 
					<b>{{=slide.id}}</b>
				</div>
				<div class="pull-right"><span class="badge badge-info"></span></div>
			</div>

			<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
					<h2>{{=form}}</h2>
				</div>
			</div>

		</div>
	</div>

</div>

