{{ extend 'layouts/panel.html'}}


<!--/span-->
<div class="span9" id="content">
    <div class="row-fluid">


      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Info:</strong> In this section we'll add geolocated marketing features in the future.
      </div>


       <div class="block">
          <div class="navbar navbar-inner block-header">
              <div class="muted pull-left">Home Slides</div>
              <div class="pull-right"><span class="badge badge-info">{{=count}}</span></div>
          </div>

          <!-- Input Form -->
          <div class="block-content collapse in">
            <div class="row-fluid padd-bottom">
              <div class="span12">
                <button class="btn pull-right add-gallery-button"><i class="icon-plus"></i> Add Slide</button>
              </div>
              <div class="span12 hide add-gallery">
                  {{=form}} 
              </div>
            </div>
          </div>

      <!-- List of slides -->
      <div class="block-content collapse in">

          {{if slides == False:}}
                <h6 style="margin-left: 20px;">No slides added yet. Click on 'Add Slide' to add one.</h6>
          {{else:}} 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th># </th>
                        <!-- <th><i class="icon-zoom-in"></i></th> -->
                        <th>Slide name</th>
                        <th>Active</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {{for slide in slides:}}
                    <tr>
                      <td><span class="badge badge-info">{{=slide.sortorder}}</span></td>
<!--                       <td>
                       <a href="#" class="thumbnail" style="width: 24px;">
                        <img src="{{=URL('default','download',args=slide.picture)}}"/ style="height:24px; width: 24px;">
                       </a>
                      </td> -->
                      <td>
                        {{if slide.name is None:}}<i>Not defined</i>{{else:}}{{=slide.name}}{{pass}}
                      </td>
                      <td>
                        {{print slide.enabled}}
                        {{if slide.enabled is True:}}
                          <i class="icon-ok"></i>
                        {{else:}}
                          <i class="icon-minus"></i>
                        {{pass}}


                      </td>
                      <td>
                          <a href="{{=URL(f='slide', args=('edit', str(slide.id)))}}">
                            <button class="btn btn-mini"><i class="icon-edit white"></i></button>
                          </a>
                      </td>
                    </tr>

                    <tr>
                      <td></td>
                      <td>
                        <a href="#" class="thumbnail">
                           <img src="{{=URL('default','download',args=slide.picture)}}"/>
                        </a>
                      </td>
                      <td></td>
                      <td></td>

                    </tr>



                    {{pass}}
                </tbody>
            </table>
          {{pass}}
      </div>


        </div>

   	</div>
</div>
