{{ extend 'layouts/panel.html'}}

<!--/span-->
<div class="span9" id="content">
    <div class="row-fluid">

       <div class="block">

            <!-- Block title breadcrump -->
            <div class="navbar navbar-inner block-header">
              <div class="muted pull-left">

                <!-- Hide Panel Arrow -->
                <i class="icon-chevron-left hide-sidebar">
                  <a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a>
                </i>
                <i class="icon-chevron-right show-sidebar" style="display: none;">
                  <a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a>
                </i>

                <a href="{{=URL(c='panel', f='index')}}">Dashboard</a> <span class="divider">/</span>  
                <a href="{{=URL(c='panel', f=('styles') )}}">Styles</a> <span class="divider">/</span>
                <a href="{{=URL(c='panel', f=('user'), args=[owner.username]  )}}">{{=owner.username}}</a> <span class="divider">/</span>
                <b>{{=style.name}}</b>
              </div>
              <div class="pull-right"><!-- <span class="badge badge-info">{{=nphotos}}</span> --></div>
            </div>

            <div class="block-content collapse in">
              <div class="row-fluid padd-bottom">
                <div class="span12">
                    <p>
                      <a href="{{=URL('panel','style', request.args[0])}}" follower="{{=auth.user.id}}" following="{{=style.id}}" type="style">
                        {{if following:}}
                          <button class="btn btn-success btn-mini following pull-right" style="width: 80px;">Following</button>
                        <!-- <button class="btn btn-danger btn-mini">Unfollow</button> -->
                        {{else:}}
                          <button class="btn btn-mini follow pull-right" style="width: 80px;">Follow</button>
                        {{pass}}
                      </a>

                      <b>id: </b>{{=request.args[0]}} <br>
                      <b>Owner: </b> {{=owner.username}} <br>
                      <b>Style Name: </b> {{=style.name}} <br>
                      <b>sumloves: </b> {{=sumloves}} <br>
		      <b>hashed id: </b>{{=hashid.encrypt(style.id)}} <br>

 
                    </p>

                  <hr>

                </div>
              </div>


              <!-- owned photos -->
              <div class="row-fluid padd-bottom">
                <div class="span12">
                  <h4>Photos belonging to {{=owner.username}}/{{=style.name}}:</h4>
                  {{for photo in photos:}}
                     <div class="span3">
                       <a href="{{=URL('panel','photo', args=(photo.photos.id))}}" class="thumbnail">
                        <img src="{{=URL('default','download',args=photo.photos.filename)}}" width="200px" height="200px"/>
                       </a>
                     </div>
                  {{pass}}
                </div>
              </div>
            </div> 

        </div>

   	</div>
</div>
