{{ extend 'layouts/panel.html'}}


<!--/span-->
<div class="span9" id="content">
    <div class="row-fluid">

<!-- 
		<div class=​"alert alert-success">​
			​<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4>Success</h4>
				The operation completed successfully
		</div>
 -->

		<div class="block">
            <!-- Block title breadcrump -->
            <div class="navbar navbar-inner block-header">
              <div class="muted pull-left">

                <!-- Hide Panel Arrow -->
                <i class="icon-chevron-left hide-sidebar">
                  <a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a>
                </i>
                <i class="icon-chevron-right show-sidebar" style="display: none;">
                  <a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a>
                </i>

                <a href="{{=URL(c='panel', f='index')}}">Dashboard</a> <span class="divider">/</span>  
                <a href="{{=URL(c='panel', f=('styles') )}}">Styles</a>  

              </div>
              <div class="pull-right"><span class="badge badge-info">{{=count}}</span></div>
            </div>

			<!-- Input Form -->
			<div class="block-content collapse in">
				<div class="row-fluid padd-bottom">
					<div class="span12">
						<button class="btn pull-right add-gallery-button"><i class="icon-plus"></i> Add Style</button>
					</div>
					<div class="span12 hide add-gallery">
					    {{=form}}	
					</div>
				</div>
			</div>

			<!-- List of galleries -->
            <div class="block-content collapse in" style="height: 450px;">
                {{if styles==False or len(styles) == 0:}}
                    <h6 style="margin-left: 20px;">No style added yet. Click on 'Add Style' to add one.</h6>
                {{else:}} 
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Style Owner</th>
                                <th>Style Name</th>
                                <th>Photos</th>
                                <th>Sum of Loves</th>
                                <th>Follow</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for style in styles:}}
                            <tr>
                                <td>{{=A(style.id, _href=URL(f='style', args=str(style.id))) }}</td>
                                <td>
                                    <a href="{{=URL(f='user', args=str(style.owner_id.username))}}">
                                       {{=style.owner_id.username}} 
                                    </a>
                                </td>
                                <td>
                                    <a href="{{=URL(f='style', args=str(style.id))}}">
                                      <span class="label label-inverse">{{=style.name}}</span>
                                    </a>
                                </td>
                                <td><span class="badge badge-info" style="margin-left: 18px;">{{=style.nphotos}}</span></td>
                                <td><span class="badge badge-info" style="margin-left: 54px;">{{=style.sumloves}}</span></td>
                                <td>
                                   <a href="{{=URL('panel','styles')}}" follower="{{=auth.user.id}}" following="{{=style.id}}" type="style">

                                        {{if style.id in following:}}
                                        <button class="btn btn-mini btn-success following" style="width: 80px;">
                                            <!-- Following <b>{{=style.owner_id.username}}/{{=style.name}}</b> gallery -->
                                            Following
                                        </button>
                                        {{else:}}
                                        <button class="btn btn-mini follow" style="width: 80px;">
                                            Follow
                                            <!-- Follow <b>{{=style.owner_id.username}}/{{=style.name}}</b> gallery -->
                                        </button>
                                        {{pass}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{=URL(f='style', args=('edit', str(style.id)))}}">
                                        <button class="btn btn-mini"><i class="icon-edit white"></i></button>
                                    </a>
                                </td>
                            </tr>
                            {{pass}}
                        </tbody>
                    </table>
                {{pass}}
            </div>
    </div>

    <div class="pagination pagination-small" style="text-align: center;">
      <ul>
        <!-- Prev -->
        {{if pagination['offset'] < pagination['itemsperpage']:}}
          <li class="disabled"><a href="#">Prev</a></li>
        {{else:}}
          <li><a href="{{=URL('panel','styles',args=[ (pagination['offset'])-(pagination['itemsperpage']) ] )}}">Prev</a></li>
        {{pass}}

        <!-- Pages -->
        {{actualpage = pagination['offset']/pagination['itemsperpage'] }}
        {{npagesrange=6}}

        {{for i in range( (count/pagination['itemsperpage'])+1 ): }}

          {{if False: #i==0 and i<actualpage: }}
              <li>
                <a href="{{=URL('panel','styles',args=[ (pagination['itemsperpage']*i) ] )}}">First</a>
              </li>
          {{pass}}


          {{if i>actualpage-npagesrange and i<actualpage+npagesrange: }}
              <li {{if i==actualpage:}}class="active"{{pass}} >
                <a href="{{=URL('panel','styles',args=[ (pagination['itemsperpage']*i) ] )}}">{{=i+1}}</a>
              </li>
          {{pass}}

          {{if False: #i==count/pagination['itemsperpage'] and actualpage!=i and actualpage!=i-1: }}
              <li>
                <a href="{{=URL('panel','styles',args=[ (pagination['itemsperpage']*i) ] )}}">Last</a>
              </li>
          {{pass}}


        {{pass}}

        <!-- Next -->
        {{if pagination['offset'] > count-pagination['itemsperpage']:}}
          <li class="disabled"><a href="#">Next</a></li>
        {{else:}}
          <li><a href="{{=URL('panel','styles',args=[ (pagination['offset'])+(pagination['itemsperpage']) ] )}}">Next</a></li>
        {{pass}}

      </ul>
    </div>




</div>