{{ extend 'layouts/panel.html'}}


                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
<!-- 
                        <div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4>Success</h4>
                        	The operation completed successfully
                        </div>
 -->

                {{ #include 'partials/panel/breadcrumb.html'}}

                    	</div>
                    <div class="row-fluid">
                        <!-- block -->
                       {{ #include 'partials/panel/statistics.html'}}

                        <!-- /block -->
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            {{ include 'partials/panel/tablelist.html'}}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            {{ #include 'partials/panel/tablelist.html'}}
                        </div>
                        <div class="span6">
                            {{ #include 'partials/panel/tablelist.html'}}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <!-- block -->
                            {{ #include 'partials/panel/gallery.html'}}
                        <!-- /block -->
                    </div>
                </div>
            </div>
