{{ extend 'layouts/panel.html'}}

<!--/span-->
<div class="span9" id="content">
  <div class="row-fluid">
    <div class="span12">

      <div class="block">

        <!-- Block title breadcrump -->
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Users</div>
            <div class="pull-right">
                <span class="badge badge-info">{{=count}}</span>
            </div>
        </div>


        <!-- Input Form -->
        <div class="block-content collapse in">
            <div class="row-fluid padd-bottom">
                <div class="span12">
                    <button class="btn pull-right add-gallery-button"><i class="icon-plus"></i> Add Tag</button>
                </div>
                <div class="span12 hide add-gallery">
                    {{=form}}   
                </div>
            </div>
        </div>

        <div class="block-content collapse in">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Edit</th>
                      </tr>
                </thead>

                <tbody>
                    {{for tag in tags:}}
                    <tr>
                        <td>{{=A(tag.id, _href=URL(f='tag', args=('edit', str(tag.id) ) )) }}</td>
                        <td><span class="label label-inverse">{{=tag.name}}</span></td>
                        <td>{{=tag.created}}</td>
                        <td>
                            <a href="{{=URL(f='tag', args=('edit', str(tag.id)))}}">
                                <button class="btn btn-mini"><i class="icon-edit white"></i></button>
                            </a>
                        </td>
                    </tr>
                    {{pass}}
                </tbody>

            </table>
        </div>

      </div> 
      <!-- end block-->

    </div>
  </div>
</div>