{{ extend 'layouts/panel.html'}}

<!--/span-->
<div class="span9" id="content">
  <div class="row-fluid">
    <div class="span12">

      <div class="block">

        <!-- Block title breadcrump -->
        <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">

            <!-- Hide Panel Arrow -->
            <i class="icon-chevron-left hide-sidebar">
              <a href="#" title="Hide Sidebar" rel="tooltip">&nbsp;</a>
            </i>
            <i class="icon-chevron-right show-sidebar" style="display: none;">
              <a href="#" title="Show Sidebar" rel="tooltip">&nbsp;</a>
            </i>

            <a href="{{=URL(c='panel', f='index')}}">Dashboard</a> <span class="divider">/</span>  
            <a href="{{=URL(c='panel', f=('users') )}}">Users</a>  

          </div>
          <div class="pull-right"><span class="badge badge-info">{{=count}}</span></div>
        </div>


        <!-- Input Form -->
        <div class="block-content collapse in">
            <div class="row-fluid padd-bottom">
                <div class="span12">
                    <button class="btn pull-right add-gallery-button"><i class="icon-plus"></i> Add User</button>
                </div>
                <div class="span12 hide add-gallery">
                    {{=form}}   
                </div>
            </div>
        </div>

        <div class="block-content collapse in">
            {{if len(users) == 0:}}
                <h6 style="margin-left: 20px;">No users added yet. Click on 'Add User' to add one.</h6>
            {{else:}} 
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 6%;">#</th>
                            <th>Username</th>
                            <th style="width: 44%;">Email</th>
                            <th>Follow</th>
                            <th>Edit</th>
                        </tr>
                    </thead>

                    <tbody>

                            {{for user in users:}}
                            <tr>
                                <td>{{=A(user.id, _href=URL(f='user', args=(str(user.username) ) )) }}</td>
                                <td>{{=A(user.username, _href=URL(f='user', args=(str(user.username) ) )) }}</td>
                                <td>{{=user.email}}</td>
                                <!-- <td>{{=A(user.id, _href=URL(f='user', args=('edit', str(user.id) ) )) }}</td> -->
                                <!-- <td>{{=A(user.first_name, _href=URL(f='user', args=('edit', str(user.id) ) )) }}</td> -->
                                <!-- <td>{{=A(user.last_name, _href=URL(f='user', args=('edit', str(user.id) ) )) }}</td> -->
                                <!-- <td>{{=A(user.email, _href=URL(f='user', args=('edit', str(user.id) ) )) }}</td> -->
                                <td>
                                    <a href="{{=URL('panel','users')}}" follower="{{=auth.user.id}}" following="{{=user.id}}">
                                        {{if int(user.id) in following:}}
                                          <button class="btn btn-success btn-mini following" style="width: 80px;">Following</button>
                                          <!-- <button class="btn btn-danger btn-mini">Unfollow</button> -->
                                        {{else:}}
                                          <button class="btn btn-mini follow" style="width: 80px;">Follow</button>
                                        {{pass}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{=URL(f='user', args=('edit', str(user.id)))}}">
                                        <button class="btn btn-mini"><i class="icon-edit white"></i></button>
                                    </a>
                                </td>
                            </tr>
                            {{pass}}
                    </tbody>
                </table>
            {{pass}}
        </div>
      </div> 
      <!-- end block-->

    </div>
  </div>

    <div class="pagination pagination-small" style="text-align: center;">
      <ul>
        <!-- Prev -->
        {{if pagination['offset'] < pagination['itemsperpage']:}}
          <li class="disabled"><a href="#">Prev</a></li>
        {{else:}}
          <li><a href="{{=URL('panel','users',args=[ (pagination['offset'])-(pagination['itemsperpage']) ] )}}">Prev</a></li>
        {{pass}}

        <!-- Pages -->
        {{actualpage = pagination['offset']/pagination['itemsperpage'] }}
        {{npagesrange=6}}

        {{for i in range( (count/pagination['itemsperpage'])+1 ): }}

          {{if False: #i==0 and i<actualpage: }}
              <li>
                <a href="{{=URL('panel','users',args=[ (pagination['itemsperpage']*i) ] )}}">First</a>
              </li>
          {{pass}}


          {{if i>actualpage-npagesrange and i<actualpage+npagesrange: }}
              <li {{if i==actualpage:}}class="active"{{pass}} >
                <a href="{{=URL('panel','users',args=[ (pagination['itemsperpage']*i) ] )}}">{{=i+1}}</a>
              </li>
          {{pass}}

          {{if False: #i==count/pagination['itemsperpage'] and actualpage!=i and actualpage!=i-1: }}
              <li>
                <a href="{{=URL('panel','users',args=[ (pagination['itemsperpage']*i) ] )}}">Last</a>
              </li>
          {{pass}}


        {{pass}}

        <!-- Next -->
        {{if pagination['offset'] > count-pagination['itemsperpage']:}}
          <li class="disabled"><a href="#">Next</a></li>
        {{else:}}
          <li><a href="{{=URL('panel','users',args=[ (pagination['offset'])+(pagination['itemsperpage']) ] )}}">Next</a></li>
        {{pass}}

      </ul>
    </div>





</div>
