@import "01_normalize.css";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
}
h1 {
  margin-bottom: 10px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Link style
 */
a {
  text-decoration: none;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Base styles
   ========================================================================== */
* {
  vertical-align: top;
}
html {
  position: relative;
}
body {
  background: url(img/background.jpg) repeat-x center top, url(img/background_bottom.jpg) repeat center top, #e8e1ee;
}
body > div {
  height: 100%;
  background: rgba(127, 69, 119, 0.3);
  margin: 0;
  padding-top: 8px;
}
header {
  height: 30px;
  max-width: 980px;
  padding: 10px 0 30px 0;
  margin: 0 auto;
  text-align: right;
}
header > a > img {
  float: left;
  margin-left: -10px;
}
input,
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  font-weight: 300;
}
input:focus {
  outline: none;
  border: 2px solid #7f4577;
}
a {
  color: #7f4577;
}
.inline {
  display: inline-block;
  *display: inline;
}
.blackOverlay {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8000;
}
.socialIcons {
  float: right;
  margin-top: 8px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 4px;
}
.socialIcons a {
  transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  /* Firefox 4 */

  -webkit-transition: opacity 0.3s linear;
  /* Safari and Chrome */

  -o-transition: opacity 0.3s linear;
  /* Opera */

  -ms-transition: opacity 0.3s linearr;
  /* Explorer 10 */

}
.socialIcons a:hover {
  opacity: 0.5;
}
.contentWrap {
  max-width: 980px;
  margin: 0 auto;
  opacity: 1;
}
.topBar {
  background: #EEE;
  border-bottom: 1px solid #888;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 23px 23px rgba(0, 0, 0, 0.9), 0 -70px 56px -56px rgba(0, 0, 0, 0.2) inset;
  padding: 20px 0;
  text-align: left;
}
.topBar .buttonDiv {
  float: left;
}
.topBar .searchDiv {
  margin-left: 628px;
}
.topBar .button {
  background: none;
  color: #555;
  background: #FFF;
  font-size: 90%;
  border: 1px solid #AAA;
  box-shadow: none;
  cursor: pointer;
  margin: 0 -2px;
  box-shadow: 0 -26px 12px -12px rgba(120, 120, 120, 0.1) inset, 0 1px 1px rgba(255, 255, 255, 0.9);
}
.topBar .button i {
  margin-right: 6px;
}
.topBar .imgContainer {
  padding: 3px;
  margin-top: -4px;
}
.topBar .userButton {
  display: inline-block;
  padding-top: 5px;
  margin: 0 12px 0 4px;
  color: #7f4577;
}
.topBar .notificationButton {
  background: #788cd2;
  background: #d9454f;
  border-radius: 50px;
  color: #fff;
  font-size: 100%;
  padding: 1px 6px;
  margin-right: 6px;
  margin-left: -2px;
}
.topBar #loginButton {
  border-radius: 3px 0 0 3px;
}
#loginButtonTrigger {
  margin-top: 12px;
}
.topBar #uploadButton {
  border-radius: 0 3px 3px 0;
}
.topBar .activeButton {
  color: #fff;
  background: #7f4577;
  border: 1px solid #555;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 1px #ffffff;
}
.activeButton .notificationButton {
  color: #788cd2;
  background: #FFF;
}
.contextBox {
  background: #f2eff7;
  /*border-bottom: 1px solid #CCC;*/

  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.6) inset, 0 20px 20px rgba(0, 0, 0, 0.9);
}
.logSignIn {
  padding: 100px 20px;
}
.logSignIn span {
  font-size: 140%;
  font-weight: bold;
  color: #7f4577;
}
.logSignIn > div {
  text-align: center;
}
.logSignIn form div {
  padding: 20px 60px;
}
.logSignIn label {
  font-weight: 600;
  color: #888;
}
.logSignIn input {
  width: 200px;
  height: 30px;
  padding-left: 4px;
  border: none;
  border: 1px solid #ddd;
  border-left: 3px solid #7f4577;
  background: #eee;
}
.logSignIn .button {
  width: auto;
  height: auto;
  border: none;
  background: #7f4577;
  font-size: 100%;
  padding: 8px 20px;
  cursor: pointer;
}
.logA {
  background: #fff;
  text-align: center;
  padding: 30px 0 0 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.login {
  display: none;
}
.login > div {
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 3px #AAA;
  margin: 0 auto;
}
.login > div > span {
  display: inline-block;
  padding: 40px 60px 0 60px;
  margin-bottom: -20px;
}
.facebookLog {
  display: inline-block;
  background: #3B5998;
  color: #fff;
  font-size: 100%;
  font-weight: 400;
  border: none;
  padding: 8px 18px;
  border-radius: 3px;
  margin: 30px 0;
  margin: 30px;
}
.signUp {
  display: none;
}
.signUp > div {
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 3px #AAA;
  margin: 0 auto;
}
.signUp > div > span {
  display: inline-block;
  padding: 40px 60px 0 60px;
  margin-bottom: -20px;
}
label.error {
  display: block;
}
.search {
  width: 100%;
  font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: #555;
  padding: 6px 6px 8px 6px;
  background: #FFF;
  border: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(255, 255, 255, 0.9);
  margin-top: 0px;
}
.search:focus {
  box-shadow: 0 1px 8px #AAA inset;
  border: 1px solid #AAA;
}
.searchResults,
.notifications {
  display: none;
  width: 100%;
  padding: 40px 40px;
}
.searchResults > div > div > div > div,
.notifications > div,
.styleBox > div > div {
  margin: 0;
  position: relative;
}
.searchResults > div > span,
.notifications > div > span {
  font-size: 120%;
  font-weight: bold;
  padding: 0 0 0 0px;
}
.searchResults .searchUser > span {
  margin-left: 20px;
}
.searchResults > div > div > div > div > div > div,
.notifications > div > div {
  padding: 10px 10px 10px 0;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.searchResults > div > div > div > div > div > div {
  width: 212px;
}
.searchResults > div > div > div > div > div > div:hover,
.notifications > div > div:hover {
  background: rgba(20, 10, 60, 0.1);
}
.searchResults > div > div > div > div a,
.notifications > div a {
  width: 212px;
  height: 107px;
  vertical-align: top;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  margin: -8px 0 0 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.searchResults a:focus {
  opacity: 1;
  color: rgba(0, 0, 0, 0);
  background: rgba(20, 10, 60, 0.1);
}
#upload {
  padding: 40px 0;
}
#upload .tagStyle {
  width: 80%;
  max-width: 560px;
  background: #FFF;
  padding: 20px;
  text-align: center;
  margin: 30px auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
#upload .tagStyle input {
  width: 100%;
  max-width: 600px;
  height: 30px;
  border: 1px solid #ddd;
  border-left: 3px solid #7f4577;
  padding-left: 4px;
  font-weight: 300;
}
#upload .tagStyle .button {
  width: auto;
  float: right;
  padding-left: 12px;
}
.styleBox {
  padding-top: 40px;
}
.styleBox > div > div {
  width: 200px;
  padding: 10px 10px 10px 0;
}
.styleBox .imgContainer {
  padding: 4px;
}
.readmore-js-section {
  overflow: hidden;
  display: block;
  width: 100%;
}
.readmore-js-toggle {
  max-width: 80px;
}
.dropzone,
.fakeDropzone {
  width: 80%;
  max-width: 600px;
  text-align: center;
  font-size: 120%;
  border: 3px dashed #AAA;
  border-radius: 10px;
  margin: 0 auto;
  padding: 100px 0 100px 0;
  cursor: pointer;
}
.button {
  color: #fff;
  font-size: 80%;
  font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
  font-weight: 300;
  background: #7f4577;
  padding: 6px 12px;
  border-radius: 3px;
  margin: 0 4px;
  vertical-align: top;
  border: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.arrow-down-a,
.arrow-down-b,
.arrow-down-c {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #555;
  position: absolute;
  margin-left: 114px;
  margin-top: -10px;
}
.arrow-down-b {
  margin-left: 274px;
  margin-top: -50px;
}
.arrow-down-c {
  margin-left: 474px;
}
.content {
  width: 100%;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 23px 23px rgba(0, 0, 0, 0.9);
}
.mainContent {
  margin-right: 330px;
  padding: 0 36px 0 32px;
  /*border-right:1px solid #CCC;*/

}
.follow {
  float: right;
  margin-top: 6px;
  margin-right: -15px;
  background: #7f4577;
  border: none;
  font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
  font-weight: 300;
  color: #fff;
  border-radius: 3px;
  padding: 6px 12px;
  cursor: pointer;
}
.readMore {
  color: #555;
}
.noBackground {
  background: none;
}
.selected {
  background-color: #9AB2DD;
}
.styleBox > div > .selected:hover {
  background-color: #9AB2DD;
}
.comments {
  display: none;
}
.mainContent .comments {
  padding: 0 2px;
}
.rightContent {
  float: right;
  width: 330px;
  height: inherit;
  background: #f2eff7;
  text-align: center;
  /*border-left:1px solid #CCC;*/

}
.rightContent h3 {
  text-align: left;
  margin: 26px 0 10px 34px;
}
.imgContainer {
  background: #FFF;
  padding: 7px;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  vertical-align: top;
}
.imgContainer img {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.searchResults .imgContainer,
.notifications .imgContainer {
  border-radius: 3px;
  padding: 4px;
}
.looks .info {
  margin-bottom: 16px;
}
.looks .button {
  float: right;
  margin: -38px 38px 0 0;
  background: #7f4577;
}
.recentStyles div {
  text-align: left;
}
.nextSlide {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 140px 6px;
  font-size: 200%;
  color: #888;
}
.love {
  background: #fff;
  border: none;
  font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
  font-weight: 300;
  font-size: 90%;
  color: #555;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 0 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  outline: none;
  margin-right: 12px;
  margin-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.love span {
  display: inline-block;
  padding: 5px 0;
}
.love .loveHeart {
  height: 100%;
  padding-right: 6px;
  border-right: 1px solid #CCC;
}
.love .loveText {
  padding-left: 6px;
}
.loveBox {
  display: none;
  background: #f2eff7;
  padding: 12px;
}
.loveBox .twitter-share-button {
  margin: 0 20px;
}
.icon-heart,
.icon-heart-empty {
  color: #7f4577;
  color: #d94577;
  color: #d9454f;
  font-size: 100%;
  text-align: center;
}
.icon-heart-empty {
  color: #7f4577;
}
.sliderBar {
  background: #f2eff7;
}
#position {
  margin: 0;
  padding: 12px 20px;
}
#position li {
  display: inline-block;
  margin: 0 2px;
  padding: 7px;
  background: #c0bdc5;
  border-radius: 3px;
  cursor: pointer;
}
#position .on {
  background: #7f4577;
}
#position img {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
/* Curved shadows */
.drop-shadow {
  position: relative;
}
.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: 2;
}
.curved-hz-1:before {
  top: -180%;
  bottom: 120%;
  left: 0;
  right: 0;
  -moz-border-radius: 30%;
  border-radius: 30%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
}
.lifted {
  position: relative;
  z-index: 5;
}
.lifted:before,
.lifted:after {
  content: "";
  position: absolute;
  z-index: -1;
  -ms-transform: skew(-3deg, -2deg);
  /* IE 9 */

  -webkit-transform: skew(-3deg, -2deg);
  /* Safari and Chrome */

  -o-transform: skew(-3deg, -2deg);
  /* Opera */

  -moz-transform: skew(-3deg, -2deg);
  /* Firefox */

  bottom: 14px;
  box-shadow: 0 15px 5px rgba(0, 0, 0, 0.3);
  height: 20px;
  left: 1px;
  max-width: 50%;
  width: 50%;
}
.lifted:after {
  -ms-transform: skew(3deg, 2deg);
  /* IE 9 */

  -webkit-transform: skew(3deg, 2deg);
  /* Safari and Chrome */

  -o-transform: skew(3deg, 2deg);
  /* Opera */

  -moz-transform: skew(3deg, 2deg);
  /* Firefox */

  left: auto;
  right: 1px;
}
.fadeIn {
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pulse {
  animation: pulse 0.2s;
  -moz-animation: pulse 0.2s;
  -webkit-animation: pulse 0.2s;
  -o-animation: pulse 0.2s;
  animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
}
@keyframes pulse {
  from {
    font-size: 100%;
  }
  to {
    font-size: 140%;
  }
}
@-moz-keyframes pulse {
  /* Firefox */
  from {
    font-size: 100%;
  }
  to {
    font-size: 140%;
  }
}
@-webkit-keyframes pulse {
  /* Safari and Chrome */
  from {
    font-size: 100%;
  }
  to {
    font-size: 140%;
  }
}
/* ==========================================================================
   Swipe classes
   ========================================================================== */
.sliderBox {
  box-shadow: 0 23px 23px rgba(0, 0, 0, 0.9);
}
.sliderBox .swipe img {
  width: 100%;
  height: auto;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
/* ==========================================================================
   User Page
   ========================================================================== */
.userBox {
  width: 100%;
  margin: 10px 0 20px 0;
  color: #555;
}
.userBox .follow {
  /*margin:0;*/

}
.userBox img {
  vertical-align: top;
  margin-right: 7px;
}
.userInfo {
  padding: 16px 16px 0 0;
}
.userInfo h1 {
  margin: 0;
  vertical-align: top;
}
.tabs-2 {
  padding-top: 40px;
}
#tabs-3 .inline {
  text-align: center;
  margin-left: 22px;
  margin-top: 12px;
}
#tabs-3 {
  text-align: left;
  margin-left: -44px;
}
#tabs ul {
  max-width: 580px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding: 0;
  background: #7f4577;
  background: #555;
}
#tabs ul li {
  display: inline-block;
  margin: 8px 10%;
}
#tabs ul a {
  color: #fff;
}
.userSettings {
  display: none;
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
}
.userSettings > div > span {
  margin-left: 30px;
  font-size: 110%;
  font-weight: 700;
}
.userSettings > div {
  display: inline-block;
  width: 80%;
  max-width: 360px;
  background: #FFF;
  padding: 30px 0 0 0;
  text-align: left;
  margin: 0 auto;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.5);
}
#userSettings {
  padding-left: 8px;
}
#userSettings i {
  margin-right: 6px;
}
#editInfo {
  position: absolute;
  margin-left: 86px;
  margin-top: -21px;
  color: #888;
}
.editInfo {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 120px;
  width: 100%;
  padding: 10px;
  font-size: 90%;
  font-weight: 300;
  color: #555;
  line-height: 1.3;
}
/* ==========================================================================
   Styles
   ========================================================================== */
.galleryInfo {
  /*padding:8px 12px 20px 12px;
	border:1px solid #BBB;*/

  margin: 32px 0 40px 0;
  /*box-shadow:0 5px 4px -4px #CCC;*/

}
.galleryInfo img {
  vertical-align: top;
  margin-right: 7px;
}
.galleryInfo h1 {
  margin: 0;
  vertical-align: top;
}
.galleryInfo .follow {
  margin-right: 0px;
}
.galleryInfo p {
  height: 120px;
  margin-bottom: 6px;
}
.styleFeed h3 {
  margin: 27px 0 10px 4px;
}
.styleFeed > div,
.recentStyles > div,
.tabs-2 > div,
.styleBox > div > div {
  text-align: left;
  margin: 0 2% 12px 0;
  cursor: pointer;
}
.styleFeed > div:hover,
.recentStyles > div:hover,
.tabs-2 > div:hover,
.styleBox > div > div:hover {
  background: rgba(20, 10, 60, 0.1);
  border-radius: 3px;
}
.myStyleFeed {
  position: relative;
}
.removeStyleFeed {
  font-size: 100%;
  position: absolute;
  top: -4px;
  left: -6px;
  background: #fff;
  border: none;
  border: 1px solid #888;
  border-radius: 50%;
  font-weight: bold;
  padding: 0px 9px 4px 9px;
  color: #555;
  cursor: pointer;
  z-index: 60;
}

.removePhoto {
  margin-left: 564px; 
  font-size: 100%;
  position: absolute;
  top: -4px;
  left: -6px;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border: 1px solid #888;
  border-radius: 50%;
  font-weight: bold;
  padding: 0px 9px 4px 9px;
  color: #fff;
  cursor: pointer;
  z-index: 60;
}



.removeStyleFeed:hover {
  background: #7f4577;
  color: #FFF;
}
.styleFeed .divLink,
.recentStyles .divLink,
.tabs-2 .divLink,
.styleBox .divLink {
  width: 268px;
  height: 135px;
  vertical-align: top;
  background: none;
  outline: none;
  border: none;
  border-radius: 3px;
  position: absolute;
  margin: 0px 0 0 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.styleBox .divLink {
  width: 210px;
  height: 108px;
  vertical-align: top;
  background: none;
  outline: none;
  border: none;
  border-radius: 3px;
  position: absolute;
  margin: -10px 0 0 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.styleFeed .divLink:focus,
.recentStyles .divLink:focus,
.tabs-2 .divLink:focus,
.styleBox .divLink:focus {
  opacity: 1;
  color: rgba(0, 0, 0, 0);
  background: rgba(20, 10, 60, 0.1);
}
.styleFeedInfo {
  max-width: 130px;
}
.addStyleFeed {
  display: none;
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
}
.addStyleFeed > div {
  display: inline-block;
  width: 80%;
  max-width: 622px;
  background: #f2eff7;
  padding: 30px 0 0 0;
  text-align: left;
  margin: 0 auto;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.5);
}
.addStyleFeed > div > span {
  margin-left: 30px;
  font-size: 110%;
  font-weight: 700;
}
.searchStyles {
  padding: 30px;
}
.searchStyles input {
  width: 100%;
  max-width: 600px;
  height: 30px;
  border: 1px solid #ddd;
  border-left: 3px solid #7f4577;
  padding-left: 4px;
  font-weight: 300;
}
.addStyleFeed > div > div {
  margin-top: -20px;
}
.addStyle {
  width: 122px;
  height: 122px;
  vertical-align: top;
  margin: 4px;
  text-align: center;
  border: 2px dashed #CCC;
  border-radius: 5px;
}
.addStyle span {
  top: 48px;
  position: relative;
}
.newStyle {
  display: none;
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
}
.newStyle > div > span {
  margin-left: 30px;
  font-size: 110%;
  font-weight: 700;
}
.newStyle > div {
  display: inline-block;
  width: 80%;
  max-width: 360px;
  background: #FFF;
  padding: 30px 0 0 0;
  text-align: left;
  margin: 0 auto;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.5);
}
.newStyleTitle,
.newStyle textarea {
  width: 100%;
  margin: 4px 0 0 0;
  color: #555;
  border: none;
  border: 1px solid #AAA;
  border-left: 3px solid #7f4577;
  padding-left: 4px;
}
.newStyleTitle {
  height: 30px;
  margin-bottom: 20px;
}
.newStyle textarea {
  min-height: 80px;
  padding: 10px 4px;
}
.newStyle .button {
  width: auto;
  color: #FFF;
}
.galleryPhotos {
  margin-top: 20px;
  margin-left: -2px;
}
.galleryPhotos .thumb {
  background: none;
  padding: 5px;
  margin: 4px 1px;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: 0 5px 4px -4px #cccccc;
}
/* ==========================================================================
   Photos
   ========================================================================== */
.photo {
  width: 100%;
  max-width: 580px;
  padding: 16px 0px 0px 0px;
  background: #dedbe3;
  margin-bottom: 20px;
}
.photo .tagStyle {
  display: none;
  width: 100%;
  max-width: 561px;
  background: #f2eff7;
  padding: 20px 10px;
  text-align: center;
  margin: 10px auto 0 auto;
  border-bottom: 1px solid #dedbe3;
}
.photo .tagStyle input {
  width: 100%;
  max-width: 600px;
  height: 30px;
  border: 1px solid #ddd;
  border-left: 3px solid #7f4577;
  padding-left: 4px;
  font-weight: 300;
}
.photo .tagStyle .button {
  width: auto;
  float: right;
  border: none;
  padding-left: 12px;
  margin-left: -28px;
}
.photoDiv {
  position: relative;
  margin-bottom: 18px;
}
.photoDiv .photoButtons {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  z-index: 5000;
}
.photoDiv div:hover {
  opacity: 1;
}
.previous {
  position: absolute;
  height: 66px;
  top: 50%;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 300%;
  border: none;
  border-radius: 0 50% 50% 0;
  margin-top: -33px;
}
.next {
  right: 0%;
  margin-right: 1px;
  border-radius: 50% 0 0 50%;
}
.photoDiv img {
  width: 100%;
  max-width: 580px;
}
.photo .photoOwner {
  text-align: right;
  margin: 0 0 16px 12px;
  position: relative;
}
.photo > span {
  display: inline-block;
  margin-top: 6px;
}
.photoOwner i {
  margin-right: 6px;
  color: #7f4577;
}
.photoOwner > span {
  float: left;
}
.photoOwner .button {
  margin: -2px 8px 0 0;
  background: #7f4577;
  color: #FFF;
}
.photoOwner .button i {
  color: #FFF;
}
.commentButton {
  color: #7f4577;
}
.commentButton span {
  margin: 0 8px;
}
/* ==========================================================================
   Tags
   ========================================================================== */
.tagBox {
  background: #f2eff7;
  padding: 6px 12px 14px 12px;
  overflow: auto;
  position: relative;
}
.tagBox .button {
  float: right;
  cursor: pointer;
}
.tagBox .tags {
  font-size: 90%;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 2px;
  margin-left: -2px;
}
.tags div {
  margin-bottom: 10px;
}
.tags a {
  display: inline-block;
  background: #FFF;
  padding: 5px 0 5px 6px;
  border-radius: 3px;
  color: #555;
  font-size: 110%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin: 6px 4px 0 0;
}
.tags span {
  margin: 0 6px 0 0;
}
.tags .icon-heart {
  display: inline-block;
  margin: 3px 0 0 0;
}
.readmore-js-toggle {
  color: #776eb2;
}
#tagCreator {
  display: none;
  background: #dedbe3;
  position: absolute;
  padding: 2px;
  right: 102px;
  bottom: -2px;
  margin: 0 4px 0 0;
}
#tagCreator input {
  height: 28px;
  float: left;
  margin-top: -1px;
  margin-right: 8px;
  padding-left: 4px;
}
#tagCreator button {
  float: left;
}
.tagStyle .nextSlide,
.addStyleFeed .nextSlide {
  padding: 80px 6px;
  margin-top: 55px;
}
/* ==========================================================================
   Looks
   ========================================================================== */
.lookCreator {
  display: none;
  padding-top: 14px;
}
.lookCreator .dropBox {
  width: 247px;
  height: 247px;
  position: relative;
  text-align: center;
  background: #fff;
  margin-left: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.lookCreator .dropBox span {
  padding-top: 120px;
}
.lookCreator .productBox {
  width: 100%;
  max-width: 300px;
  padding: 0 8px;
}
.productBox input {
  width: 100%;
}
.productThumb {
  display: inline-block;
}
.dropBox .item {
  position: absolute;
  display: inline-block;
}
.productThumb img,
.item img {
  max-width: 100px;
  max-height: 100px;
}
.lookCreator .bottomBar {
  padding: 8px;
  background: #444;
  margin-top: 14px;
}
.looks .inline {
  position: relative;
}
.looks .removeStyleFeed {
  top: 4px;
  left: 10px;
}
footer {
  padding-top: 28px;
  margin-bottom: 10px;
}
footer p {
  margin: 0 0 2px 0;
}


/* uploadSearchTagResults */
#uploadSearchTagResults .inline {
   width: 240px;
   margin: 10px 30px 0 0;
   clear: none;
}

#uploadSearchTagResults a:hover {
   background: grey;
}

#uploadSearchTagResults img{
  clear:none;
}
#uploadSearchTagResults .styleTagInfo{
  width: auto;
  display: inline-block;
}



/* searchstyleresults */
/*
#searchstyleresults .inline {
   width: 240px;
   margin: 0 30px 0 0;
   clear: none;
}

#searchstyleresults a:hover {
   background: grey;
}

#searchstyleresults img{
  clear:none;
}
#searchstyleresults .styleTagInfo{
  width: auto;
  display: inline-block;
}
*/

#styleText {
   height: auto;
}

