/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-family:'Source Sans Pro', Verdana, Geneva, sans-serif;
    font-size: 1em;
	font-weight:300;
    line-height: 1.4;
}

h1 {
	margin-bottom:10px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Link style
 */
 
a {
	text-decoration:none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
	vertical-align:top;
}

body {
	background:url(img/background.jpg) repeat-x center top, url(img/background_bottom.jpg) repeat center top, rgb(40,0,33);
}

header {
	height:50px;
	max-width:980px;
	padding:20px 0 10px 0;
	margin:0 auto;
	text-align:right;
}

header > a > img {
	float:left;
}

.socialIcons {
	float:right;
	margin-top:8px;
	background:rgba(0,0,0,0.2);
	border-radius:5px;
	padding:0 4px;
}

.socialIcons a {
	transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear; /* Firefox 4 */
    -webkit-transition: opacity 0.3s linear; /* Safari and Chrome */
    -o-transition: opacity 0.3s linear; /* Opera */
    -ms-transition: opacity 0.3s linearr; /* Explorer 10 */
}

.socialIcons a:hover {
	opacity:0.5;
}

.contentWrap {
	max-width:980px;
	margin:0 auto;
}

.topBar {
	background:#fff;
	border-radius:8px 8px 0 0;
	box-shadow:0 1px 3px #000, 0 -100px 96px -96px #DDD inset;
	padding:20px;
	text-align:left;
}

.topBar .buttonDiv {
	float:left;
}

.topBar .searchDiv {
	margin-left:260px;
	padding-right:10px;
}

.topBar .button {
	background:none;
	color:#888;
	border:1px solid #AAA;;
	box-shadow:none;
}

.topBar .button i {
	margin-right:6px;
}

.search {
	width:100%;
	font-family:'Source Sans Pro', Verdana, Geneva, sans-serif;
	font-weight:300;
	color:#555;
	padding:6px;
	border:none;
	border:1px solid #CCC;
	border-radius:3px;
	box-shadow:0 0 3px rgba(0,0,0,0.2) inset, 0 1px 2px rgb(255,255,255);
}

.button {
	color:#fff;
	font-size:80%;
	font-family:'Source Sans Pro', Verdana, Geneva, sans-serif;
	font-weight:300;
	background:#555;
	padding:8px 12px;
	border-radius:3px;
	margin:0 4px;
	vertical-align:top;
	border:none;
	box-shadow:0 -3px 2px -2px rgba(0,0,0,0.5) inset, 0 3px 2px -2px rgba(255,255,255,0.5) inset, 0 1px 3px rgba(0,0,0,0.2);
}

nav {
	background:#eee;
	margin:0;
}

nav ul {
	margin-top:0;
	margin-bottom:0;
	padding:4px 0px 4px 30px;
}

nav ul li {
	display:inline;
}

nav ul li span {
	padding:0 4px;
}

.content {
	width:100%;
	overflow:hidden;
	background:#fff;
	box-shadow:0 1px 3px #000;
}

.mainContent {
	margin-right:330px;
	padding:0 36px 0 28px;
	border-right:1px solid #CCC;
}

.galleryInfo {
	padding:8px 12px 20px 12px;
	border:1px solid #BBB;
	margin:32px 0 40px 0;
	box-shadow:0 5px 4px -4px #CCC;
}

.galleryInfo h1 {
	margin:0;
}

.follow {
	float:right;
	margin-top:6px;
	margin-right:-15px;
	background:rgb(80,40,73);
	border:none;
	font-family:'Source Sans Pro', Verdana, Geneva, sans-serif;
	font-weight:300;
	color:#fff;
	border-radius:3px;
	padding:6px 12px;
	box-shadow:0 -3px 2px -2px rgba(0,0,0,0.5) inset, 0 3px 2px -2px rgba(255,255,255,0.5) inset, 0 1px 3px #CCC;
}

.galleryInfo .follow {
	margin-right:-3px;
}

.galleryInfo p {
	height:120px;
	border-bottom:1px solid #CCC;
	margin-bottom:6px;
}

.galleryInfo div {
	margin-top:16px;
}

.readMore {
	color:#555;
}

.tagBox {
	background:#eee;
	border:1px dashed #888;
	padding:6px 12px 14px 12px;
	overflow:auto;
	position:relative;
}

.tagBox .button {
	float:right;
	background:#36C;
}

.tagBox .tags {
	font-size:90%;
	padding-top:10px;
	margin-bottom:10px;
	overflow:hidden;
}

.tags div {
	margin-bottom:10px;
}

.tags a {
	background:#81629E;
	padding:2px 4px;
	border-radius:5px;
	color:#fff;
}

.tags span {
	margin:0 6px;
}

#tagCreator {
	display:none;
	background:#fff;
	position:absolute;
	padding:8px;
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
	right:0%;
	bottom:4px;
	margin:0 4px 0 0;
}

#tagCreator input {
	height:26px;
	float:left;
}

#tagCreator button {
	float:left;
}

.photo {
	padding:40px 2px 20px 2px;
}

.photoDiv {
	height:720px;
	position:relative;
	margin-bottom:18px;
}

.photoDiv div {
	height:100%;
	width:100%;
	position:absolute;
	opacity:0;
}

.photoDiv div:hover {
	opacity:1;
}

.previous {
	position:absolute;
	height:66px;
	top:50%;
	background:#000;
	background:rgba(0,0,0,0.4);
	color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:300%;
	border:none;
	border-radius:0 50% 50% 0;
	margin-top:-33px;
}

.next {
	right:0%;
	margin-right:1px;
	border-radius:50% 0 0 50%;
}

.photo img {
	width:100%;
	max-width:580px;
}

.photo .photoOwner {
	margin-bottom:6px;
}

.photoOwner i {
	margin-right:6px;
}

.photo .commentButton {
	float:right;
	margin-top:-4px;
}

.photo .commentButton span {
	margin-left:8px;
}

.lookCreator {
	display:none;
	position:fixed;
	top:30%;
	right:50%;
	background:#fff;
	box-shadow:0 1px 5px rgba(0,0,0,0.5);
    margin-right:-400px;
    width:800px;
	z-index:6000;
}

.lookCreator .dropBox {
	width:247px;
	height:247px;
	text-align:center;
}

.lookCreator .productBox {
	width:100%;
	padding:8px;
}

.productBox input {
	width:100%;
}

.lookCreator .bottomBar {
	padding:8px;
	background:#444;
}

.comments {
	display:none;
}

.galleryPhotos .thumb {
	background:none;
	padding:5px;
	margin:4px 2px;
	border:1px solid #CCC;
	border-radius:3px;
	box-shadow:0 5px 4px -4px #CCC;
}

.mainContent .comments {
	padding:0 2px;
}

.rightContent {
	float:right;
	width:330px;
	height:inherit;
	text-align:center;
	border-left:1px solid #CCC;
}

.rightContent h3 {
	text-align:left;
	margin:26px 0 10px 34px;
}

.imgContainer {
	padding:7px;
	margin:4px;
	border:1px solid #CCC;
	border-radius:5px;
	box-shadow:0 5px 4px -4px #CCC;
	vertical-align:top;
}

.looks .info {
	margin-bottom:16px;
}

.looks .button {
	float:right;
	margin:-38px 38px 0 0;
}

.love {
	height:26px;
	background:#fff;
	border:none;
	font-family:'Source Sans Pro', Verdana, Geneva, sans-serif;
	font-weight:300;
	font-size:90%;
	color:#555;
	border-radius:3px;
	padding:0 6px;
	box-shadow:0 0 2px #000 inset, 0 -4px 2px -2px #DDD inset, 0 1px 3px #CCC;
	margin-right:6px;
}

.icon-heart {
	color:#81629E;
}

.styleFeed h3 {
	margin:27px 0 10px 4px;
}

.styleFeed > div {
	margin:0 2% 12px 0;
}

.myStyleFeed {
	position:relative;
}

.myStyleFeed .removeStyleFeed {
	position:absolute;
	top:0%;
	left:108px;
	background:#fff;
	border:none;
	border:1px solid #888;
	border-radius:50%;
	font-weight:bold;
	padding:4px 8px;
}

.styleFeedInfo {
	max-width:130px;
}

.addStyle {
	width:124px;
	height:124px;
	background:#eee;
	vertical-align:top;
	margin:4px;
	text-align:center;
	border:1px dashed #CCC;
	border-radius:5px;
}

.addStyle span {
	top:48px;
	position:relative;
}

.sliderBar {
	background:#555;
}

#position {
	margin:0;
	padding:6px 20px;
}

#position li {
	display:inline-block;
	margin:0 2px;
	padding:7px;
	background:#444;
	border-radius:3px;
	box-shadow:0 1px 4px #222 inset;
	cursor:pointer;
}

#position .on {
	background:rgb(80,40,73);
}

.inline {
	display:inline-block;
	*display:inline;
}

/* ==========================================================================
   User Page
   ========================================================================== */

.userBox {
	width:100%;
	margin:0;
}

.userBox .follow {
	margin:0;
}

.userBox img {
	vertical-align:top;
	margin-right:7px;
}

.userInfo {
	padding:16px 16px 20px 2px;
}

.userInfo h1 {
	margin:0;
	vertical-align:top;
}

#tabs ul {
	margin-bottom:60px;
	text-align:center;
	padding:0;
}

#tabs ul li {
	display:inline-block;
	margin:8px;
	
}

/* ==========================================================================
   Swipe classes
   ========================================================================== */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
