<form action="{{=URL('style','ajax', 'uploadphoto')}}" class="dropzone" id="my-awesome-dropzone"></form>
<div class="tagStyle">

    {{#upload form widget}}
    <form>
	<input type="submit" value="Create new style" class="button" />
	<div class="ui-widget" style="margin-right:100px;">
            <input id="tags" name="tagUpload" placeholder="search for existing styles or create a new one" />
        </div>
    </form>

    {{#search tags widget}}
    <div class="styleBox" style="display:none; text-align:left;">

        <div class="inline">
            <a href="#" class="divLink">Click</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>Click</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
        </div>

        <div class="inline">
            <a href="#" class="divLink">On</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                     <span><strong>On</strong></span><br/>
                     <span>76K <i class="icon-heart"></i></span><br/>
                     <span>by User</span>
                </div>
        </div>

        <div class="inline">
            <a href="#" class="divLink">Click</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>Click</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
        </div>

        <div class="inline">
            <a href="#" class="divLink">On</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                     <span><strong>On</strong></span><br/>
                     <span>76K <i class="icon-heart"></i></span><br/>
                     <span>by User</span>
                </div>
        </div>

        <div class="inline">
            <a href="#" class="divLink">Click</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>Click</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
        </div>

        <div class="inline">
            <a href="#" class="divLink">On</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                     <span><strong>On</strong></span><br/>
                     <span>76K <i class="icon-heart"></i></span><br/>
                     <span>by User</span>
                </div>
        </div>

    </div>
</div>
