	<div action="/file-upload" class="fakeDropzone" id="my-awesome-dropzone" style="cursor:default">
		<span>You need to login to upload photos.</span><br/>
		<button class="button" id="loginButtonTrigger"><i class="icon-signin"></i> Login / Signup</button>
	</div>
