<!-- <div class="tagStyle" id="tagStyle" style="display: none;"> -->
<div class="tagStyle" id="tagStyle">
    <form method="link" action="javascript://">
        <input type="submit" value="Create new Style" name="createStyle" class="button" id="tagUploadButton" />
        <div class="ui-widget" style="margin-right:124px;">
            <input id="tagsInput" name="tagStyle" placeholder="search for existing styles or create a new one" />
        </div>
        
    </form>
    <div style="display:none; text-align:left;">
        
        <script type='text/ejs' id='uploadTagSearchItemEJS'>
           <div class="inline" data-styleid="<%= styleid %>">
               <a href="javascript://" class="divLink" style="display: none;" data-link="<%= stylelink %>" data-styleid="<%= styleid %>"><%= name %></a>
                <div class='imgContainer inline'>
                  <img src='http://placehold.it/70/70' alt='' width='70px' height='70px'/>
                     <div class='styleTagInfo'>
                        <span style="font-size: 14px;"><strong><%= name  %></strong></span><br/>
                        <span>76K <i class="icon-heart"></i></span><br/>
                        <span style="font-size: 12px;" >by <%= owner %></span>
                     </div>
                  </div>
            </div>
        </script>
       
        <div id="uploadSearchTagResults"></div>
   </div>
</div>
