<div class="span3" id="sidebar">
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">

        <li {{ if request.function == 'index': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','index')}}"><i class="icon-chevron-right"></i> Dashboard</a>
        </li>

        <li {{ if request.function == 'slides': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','slides')}}"><i class="icon-chevron-right"></i> Home Slides</a>
        </li>

        <li {{ if request.function == 'users': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','users')}}"><i class="icon-chevron-right"></i> Users</a>
        </li>


        <li {{ if request.function == 'photos': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','photos')}}"><i class="icon-chevron-right"></i> Photos</a>
        </li>
<!-- 
        <li {{ if request.function=='galleries' or request.function=='gallery': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','galleries')}}"><i class="icon-chevron-right"></i> Galleries</a>
        </li>
 -->
        <li {{ if request.function=='styles' or request.function=='styles': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','styles')}}"><i class="icon-chevron-right"></i> Styles</a>
        </li>


        <!-- 
        <li {{ if request.function == 'tags': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','tags')}}"><i class="icon-chevron-right"></i> Tags</a>
        </li>
         -->
        <li {{ if request.function == 'looks': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','looks')}}"><i class="icon-chevron-right"></i> Looks</a>
        </li>
        <!--
        <li {{ if request.function == 'posts': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','posts')}}"><i class="icon-chevron-right"></i> Posts</a>
        </li>
        <li {{ if request.function == 'events': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','events')}}"><i class="icon-chevron-right"></i> Events</a>
        </li>
        <li {{ if request.function == 'photos': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','photos')}}"><i class="icon-chevron-right"></i> Style Photos</a>
        </li>
        <li {{ if request.function == 'videos': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','videos')}}"><i class="icon-chevron-right"></i> Videos</a>
        </li>
    -->
<!--         <li {{ if request.function == 'loves': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','loves')}}">
                <i class="icon-chevron-right"></i> Loves
            </a>
        </li> -->
        <!--
        <li {{ if request.function == 'tagging': }} class="active" {{ pass }}>
            <a href="{{=URL('panel','tagging')}}">
                <i class="icon-chevron-right"></i> Tagging <span style="float:right;" class="badge badge-warning">341</span>
            </a>
        </li>
 -->
<!-- 
        <li class="active">
            <a href="index.html"><i class="icon-chevron-right"></i> Dashboard</a>
        </li>
        <li>
            <a href="calendar.html"><i class="icon-chevron-right"></i> Calendar</a>
        </li>
        <li>
            <a href="stats.html"><i class="icon-chevron-right"></i> Statistics</a>
        </li>
        <li>
            <a href="buttons.html"><i class="icon-chevron-right"></i> Buttons & Icons</a>
        </li>
        <li>
            <a href="interface.html"><i class="icon-chevron-right"></i> UI & Interface</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-success pull-right">731</span> Orders</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-success pull-right">812</span> Invoices</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-info pull-right">27</span> Clients</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-info pull-right">1,234</span> Users</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-info pull-right">2,221</span> Messages</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-info pull-right">11</span> Reports</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-important pull-right">83</span> Errors</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-warning pull-right">4,231</span> Logs</a>
        </li>
         -->
    </ul>
</div>