<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">Statistics</div>
        <div class="pull-right"><span class="badge badge-warning">View More</span>

        </div>
    </div>
    <div class="block-content collapse in">
        <div class="span3">
            <div class="chart" data-percent="73">73%</div>
            <div class="chart-bottom-heading"><span class="label label-info">Visitors</span>

            </div>
        </div>
        <div class="span3">
            <div class="chart" data-percent="53">53%</div>
            <div class="chart-bottom-heading"><span class="label label-info">Page Views</span>

            </div>
        </div>
        <div class="span3">
            <div class="chart" data-percent="83">83%</div>
            <div class="chart-bottom-heading"><span class="label label-info">Users</span>

            </div>
        </div>
        <div class="span3">
            <div class="chart" data-percent="13">13%</div>
            <div class="chart-bottom-heading"><span class="label label-info">Orders</span>

            </div>
        </div>
    </div>
</div>