<!-- block -->
<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">Users</div>
        <div class="pull-right">
            <span class="badge badge-info">1,234</span>
        </div>
    </div>
    <div class="block-content collapse in">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vincent</td>
                    <td>Gabriel</td>
                    <td>@gabrielva</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /block -->