
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="brand" href="http://{{=request.env.http_host}}">
                spottinstyle <span>admin</span>
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                     <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="icon-user"></i> {{=auth.user.username}} <i class="caret"></i>
                     </a>
                    <ul class="dropdown-menu">
                        <li>
                          <a tabindex="-1" href="{{=URL(f='user', args=['edit',str(auth.user.id)] )}}">Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            {{=A('Logout', _href=URL('panel', 'logout')) }}
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
            
