{{extend 'layouts/front.html'}}

<div class='content'>

  <div class='rightContent'>
    {{include 'partials/front/shopthestyles.html'}}
    {{include 'partials/front/looks.html'}}
    {{include 'partials/front/mostloved.html'}}
    {{include 'partials/front/recentstyles.html'}}

  </div>

  <div class='mainContent'>

    <h1>Terms & Conditions </h1>

    <h2>Terms you agree to when using SpottinStyle.com</h2>
    <p>Spottinstyle.com is a global trend spotting platform that gives people around the world the chance to inspire and be inspired by the gamification of ‘spotting styles.’ 
    </p>

    <p>As a registered user you will be able to upload photos to your own style gallery - anyone can have access to this information.
    </p>

    <p style="text-decoration: underline;">As a registered user, you will be able to:</p>

   <ul>
     <li>Create a profile</li>
     <li>Upload photos</li>
     <li>Create Style galleries</li>
     <li>Create looks of products</li>
     <li>Comment on photos</li>
     <li>"love" photos</li>
   </ul>

    <p>Published content can be collected, distributed and shared on other websites, as long as the company's name and the account holders information is posted along with the information gathered from SpottinStyle website. 
    </p>

    <h1>Terms of Use</h1>

    <p>These Terms  of Use are valid and effective from OCT 2013. The Terms of Use is subject to change at any time, you must check this page on a regular basis to see if any changes have been implemented. 
    </p>

    <p>SpottinStyle will not be held liable if you are unable to access the website for any reason.
    </p>

    <p>By having access to the SpottinStyle website, you will be automatically agreeing and legally bound by the Terms of Use set out in this document. Please read and accept the Terms of Use before using this site, If you do not agree with the Terms of Use, then please do not use this website.  
    </p>

    <h3>Content</h3>
    <p>
    Published content can be collected, distributed and shared on other websites, as long as the company's name and the account holders information is posted along with the information gathered from SpottinStyle website. 
    </p>

    <p>
    We are referring to:
    </p>

    <ul>
      <li>Photos</li>
      <li>Thematic Style</li>
    </ul>

    <h3>Privacy</h3>
    <p>
     The content and information that you post on SpottinStyle will be accessible to everyone, including non SpottinStyle users, so allowing anyone to use and access your information. Account holders information such as "Images" and "Thematic Styles" will be out of the users control once posting the content to the website.
    </p>

    <h3>Safety</h3>
    <ul>
      <li>Children under tohe age of 13 are prohibited from accessing and using this site. Only children aged 13 years of age or older can use this site. If we become aware that a child is using the site, we will take steps to disable the account.</li>
      <li>You must not post unlawful, offensive, hateful, discriminatory, violent, threatening, abusive, nude, pornographic images or sexually suggestive photos on this site. Any inappropriate images posted will automatically be removed from the site without notice. Users will have the option to "report" an image, and SpottinStyle will be able to review the image and remove it if necessary.</li>
      <li>You must not impersonate any person on this site or create an account containing false information, in order to mislead other users as to your identity. In this circumstance we would take appropriate action to disable the account without permission.</li>
      <li>You must not promote illegal, unlawful or fradulent activity on SpottinStyle or any activity that may be contrary to law or regulation. •You must not post the same or irrelevant content repeatedly.</li>
      <li>You must not post the same or irrelevant content repeatedly.</li>
      <li>You must not post inappropriate comments or hash tags on any users style galleries or photos. This sort of behavior will not be tolerated and if you are found to be violating any account, then your account will be terminated immediately. SpottinStyle will not be responsible for any comments or hash tags posted on the site. </li>
      <li>You must not post content containing child pornography on this site. •You must not upload viruses, trojan horses, corrupted data, or other potentially harmful data or software. </li>
      <li>You must not post unauthorised communications (such as "spam") on SpottinStyle. Violation of this policy, will result in automatic termination of your account. </li>
      <li>You must not bully, harass, threaten or stalk other users.</li>
      <li>Convicted sex offenders must not use or access this site.</li>
      <li>We do not share personal information with third-parties nor do we store information we collect about your visit to this blog for use other than to analyse content performance throught the use of cookies, which you can turn off any time by modifying your internet brower's settings. we are not responsible for the republishing of the content found on SpottinStyle.com on other websites or media without our permission. The privacy policy is subject to change at any time without notice. </li>
      <li>We do not have control over the information atnd content posted on the site and SpottinStyle will not be held liable for any unlawful content on the site. At all times the user will be held liable for any content posted on the site.</li>
    </ul>

    <h3>Accessing Our Site</h3>
    <p>
    You may have access to our site, however any breach of any Terms of Use, may result in termination of your account. At all times you will be responsible for the maintenance of your account.
    </p>
    <p>
    You must regsiter with SpottinStyle to use and acess our website. Information provided on registration must be at all times be up-to-date and accurate, failure to do so will result in termination of your account.
    </p>
    <p>
    Non-registered users, may have access to our site, however only certain parts of the webiste will be accessible. The option to "love", comment and upload content will not be availble in this condition, you must be a registered user to ennjoy theses services. 
    </p>
    <p>
    You may deactivate or delete your our account at any point in time.By deleting your account, all existing content and information will be automatically removed from the site and the information will no longer be accessible to other users.
    </p>

    <h3>Copyright</h3>

    <p>
    You must not infringe or violent other people's intellectual property rights, privacy rights, trademark or copyrights,  terms  if you are found to be infringing or violating  any users account, we would disable your account without notice. Any violation of copyright will be removed from the SpottinStyle website and you may be prosecuted by the 3rd party offended.  
    </p>

    <p>
    You can "report" copyright infringement and SpottinStyle will take necessary steps in order to remove the content.
    </p>

    <h3>Password</h3>

    <p>
    The account holder must at all times keep their personal details private. Your password  and account details to your account, should not be shared with any person(s). If anyone gains access to your account details, you must agree to notify SpottinStyle.
    </p>

    <h3>Mobile</h3>

    <p>
    SpottinStyle offers users the option of using our mobile application (SpottinStyle app) we do not charge for using this service after purchased on the Apple store, however data charges may apply depending on your network provider, you will be responsible for any charges incurred.
    </p>

    <h3>Disclaimer</h3>

    <p>
    We make sure everything is up to date on this site, however we do not guarantee that everything on this site is up to date and accurate.
    </p>


    <h3>Third Party Content</h3>

    <p>
    When using the SpottinStyle website you may have access to third-party websites, this is beyond our control and we would not be responsible for any losses or damage incurred whilst using third party websites. 
    </p>

    <p>
    Spottinstyle will not be liable for third party content, so please be aware when using third party websites you will be using it at your own risk.
    </p>

    <p>
    SpottinStyle will not be responsible for any rewards in style competitions offered by third party websites. 
    </p>

    <p>
    This service contains links to third party websites, the terms and conditions will be governed by their website and not the SpottinStyle terms and conditions. Therefore, it is strongly advised that you must read their terms and conditions before proceeding with using their website.
    </p>


    <h3>Exclusion of Liability</h3>

    <p>
    SpottinStyle, under no circumstance we will not be liable for any loss or damage sustained as a result of using this site, you will be solely responsible for any losses, injuries or damages. Certain jurisdictions may not allow the exclusion of liability, so the above limitations may not apply to you.  
    </p>

    <p>
    SpottinStyle will hereby act promptly to minimize any risk or damage that the use of the site may cause by removing the content once aware of any risk. You must understand that you will be accessing and using the site at your own risk.
    </p>

    <h3>&nbsp;</h3>

  </div>

</div>

