<div class='galleryPhotos' style="margin-bottom: 80px;">

    {{ #phototags from controller/style }}
    {{ for phototag in phototags: }}
    <button class='thumb inline photo_view_open'>
        <img class="lazy" src="{{=URL('static','front/img/whitethumb.jpg')}}" data-original="{{=URL('default','download', args=phototag.photos.thumb )}}" alt='{{=hashid.encrypt(phototag.photos.id)}}' data-photoid="{{=hashid.encrypt(phototag.photos.id)}}" width='65px' height='45px'/>
    </button>
    {{ pass }}
    

    {{ #photos from controller/profile }}
    {{ for photo in photos: }}
    <button class='thumb inline photo_view_open'>
      <img class="lazy" src="{{=URL('static','front/img/whitethumb.jpg')}}" data-original="{{=URL('default','download', args=photo.thumb )}}" alt='{{=hashid.encrypt(photo.id)}}' data-photoid="{{=hashid.encrypt(photo.id)}}" width='65px' height='45px'/>
    </button>
    {{ pass }}
     <!-- Dynamic Thumbnails by CANjs template -->
    <script type='text/ejs' id='galleryThumbnailEJS'>
        <button class='thumb inline photo_view_open'>
            <img src='http://lorempixel.com/65/45' alt='' width='65px' height='45px'/>
        </button>
    </script>

</div>
