<div class='galleryInfo'>

    {{if currentstyle.id:}}
        <div id="styleid" style="display:none;" data-styleid="{{=hashid.encrypt(currentstyle.id)}}"></div>
    {{pass}}

    {{if currentstyle.stylethumb:}}
        <div class="imgContainer inline"><img src="{{=URL('default','download', args=currentstyle.stylethumb)}}" style="margin-right: 0px;" alt=''/></div>
    {{pass}}
 




    {{ if auth.is_logged_in(): }}
        {{if db((db.following_styles.follower==auth.user) & (db.following_styles.follows==currentstyle)).count()==0: }}
           <button class='button follow' data-styleid="{{=hashid.encrypt(currentstyle.id)}}">Follow&nbsp;Style</button>
        {{else:}}
        <button class='button follow following' data-styleid="{{=hashid.encrypt(currentstyle.id)}}">Following&nbsp;Style</button>
        {{pass}}
    {{else:}}
        <!-- <button class="button follow">Follow Style</button> -->
    {{pass}}

    {{ if auth.is_logged_in(): }}
        {{ if auth.user.username == request.args[0]: }}
            <a href="javascript://"><img src="{{=URL('static', 'front/img/editstyle.png')}}" alt=''/></a>
        {{ else:}}
           {{ if style.preview: }}
               <img src="{{=URL('default', 'downloads', style.preview)}}" alt=''/>
           {{ pass }}
        {{ pass }}
    {{ pass }}
    
    <div class="inline" style="margin-left: 2px; margin-top: 0px;">
    	<h1>{{=currentstyle.name}}</h1>
        <span>
            Style by <a href="/profile/{{=currentstyle.owner_id.slug}}">{{=currentstyle.owner_id.username}}</a> |
            {{=currentstyle.totalloves}} <i class="icon-heart"></i>
        </span>

    </div>

    {{ if auth.is_logged_in(): }}
        {{ if auth.user.username == request.args[0]: }}
           <p style="height: 20px;">
              You are the owner of this style and it has not description yet,  
              <a href="javascript://">click here for edit</a>.
           </p>
        {{ else:  }}
        
            {{if currentstyle.description!="":}}
                <p id='styleText'>{{=currentstyle.description}}</p>
            {{else:}}
                <p id='stylenodescription' style="height:20px;">No description.</p>
            {{pass}}
        {{ pass }}

    {{else:}}
        {{if currentstyle.description!="":}}
                <p id='styleText'>{{=currentstyle.description}}</p>
        {{else:}}
                <p id='stylenodescription' style="height:20px;">No description.</p>
        {{pass}}

    {{ pass }}
</div>
