     {{ if auth.is_logged_in():}}
         <button class="love">
     {{ else: }}
         <button class="love nosignedup">
     {{ pass }}
 
     <span class="loveHeart">
         {{ if len(phototags)>0: }}
           {{ if phototags.first().photos.loved>0: }}
           <i class="icon-heart"></i>
           {{ else: }}
           <i class="icon-heart-empty"></i>
           {{ pass }}
         {{ else: }}
           <i class="icon-heart-empty"></i>
         {{ pass }}
 
     </span><span class="loveText">I&nbsp;LOVE&nbsp;IT!</span>
     </button>
     <span id="nloves">{{=loves}} </span><span>&nbsp;people love this photo</span>

     {{print "=========="}}
     {{print request.controller}}
     {{print "=========="}}

     {{if request.controller=="allphotos":}}
     {{else:}}
    
         {{ if not auth.is_logged_in(): }}
         <div class="loveBox" style="background: #dedbe3; padding: 0px 0 20px 12px;">
             <span><strong>You need to be logged in to love this photo.</strong></span>
         </div>
         {{ pass }}
     
         <div class="loveBox">
             <span>Spread the love!</span>
             <a href="https://twitter.com/share" class="twitter-share-button" data-text="Just Spotted!" data-via="SpottinStyle" data-related="SpottinStyle" data-                     hashtags="SpottinStyle">Tweet</a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;   js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
             <div class="fb-like" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-   action="like" data-show-faces="false" data-send="false"></div>
         </div>
    
     {{pass}}
