{{ if request.controller=="allphotos" or request.controller=="latestlooks" or request.controller=="trendiest" or request.controller=="profile": }}

<div class="counter" style="padding: 0 6px 20px 16px;">
    <span id="nloves" style="display:none;">{{=loves}}</span>

         {{ 
            if int(loves)==0:
               nlovestext="0 person loves this photo in all the styles"
            elif int(loves)==1:
               nlovestext="1 person loves this photo in all the styles"
            else:
               nlovestext=str(loves)+" people love this photo in all the styles"
            pass
         }}

    <span id="nlovestext">{{=nlovestext}}</span>
</div>

{{ else: }}
    {{ if auth.is_logged_in(): }}

        <button class="love">
         <span class="loveHeart">
          {{ if len(phototags)>0: }}
            {{ if phototags.first().photos.loved>0: }}
               <i class="icon-heart"></i>
            {{ else: }}
               <i class="icon-heart-empty"></i>
            {{ pass }}
          {{ else: }}
            <i class="icon-heart-empty"></i>
          {{ pass }}
          </span>
          <span class="loveText">I&nbsp;LOVE&nbsp;IT!</span>
        </button>

        <span id="nloves" style="display:none;">{{=loves}}</span>
        {{ 
           if int(loves)==0:
              nlovestext="0 person loves this photo"
           elif int(loves)==1:
              nlovestext="1 person loves this photo"
           else:
              nlovestext=str(loves)+" people love this photo"
           pass
        }}
        <span id="nlovestext">{{=nlovestext}}</span>

    {{ else: }}
      <button class="love nosignedup">
      <span class="loveHeart">
            <i class="icon-heart-empty"></i>
      </span>
      <span class="loveText">I&nbsp;LOVE&nbsp;IT!</span>
      </button>
      <span id="nloves">{{=loves}} </span><span>&nbsp;people love this photo</span>

      <div class="loveBox" style="background: #dedbe3; padding: 0px 0 20px 12px;">
          <span><strong>You need to be logged in to love this photo.</strong></span>
      </div>

    {{ pass }}
{{ pass }}


     
<div class="loveBox">
    <span>Spread the love!</span>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Just Spotted!" data-via="SpottinStyle" data-related="SpottinStyle" data-hashtags="SpottinStyle">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;   js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="fb-like" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
</div>
    
