<div class="newStyle">
	<div>
		<span>Create new Style</span>
		<form>
			<div style="padding:16px 30px 30px 30px">
				<label for="newStyleTitle">Title</label>
				<input type="text" name="newStyleTitle" class="newStyleTitle" id="newStyleTitle"/><br />
				<label for="newStyleDescription">Description (optional)</label>
				<textarea name="newStyleDescription" id="newStyleDescription"></textarea>
			</div>
			<div class="drop-shadow curved curved-hz-1" style="background:#eee;background: rgba(20,10,60,0.05); padding:20px 50px;text-align:center;overflow:hidden;">
				<input type="submit" value="Create Style" name="createStyle" class="button inline"/>
				<a href="#" class="button inline" id="cancelNewStyle">Cancel</a>
			</div>
		</form>
	</div>
</div>