<div class="photo">
    <div class="photoOwner">

      {{ if len(photos)>0: }}
      <span id="ownerphoto">
          <i class="icon-camera"></i>
          Photo by <a href="/profile/{{=IS_SLUG.urlify(photos[0].owner_id.username)}}">{{=photos[0].owner_id.username}}</a>
      </span>
         {{ if False: #photos[0].frommobile == True: }}<span style="font-size: 12px; margin: 6px 0 0 5px;">via iOS app</span>{{ pass }}
      {{ pass }}

      {{ if len(phototags)>0: }}
      <span id="ownerphoto">
          <i class="icon-camera"></i>
          Photo by <a href="/profile/{{=IS_SLUG.urlify(phototags[0].photos.owner_id.username)}}">{{=phototags[0].photos.owner_id.username}}</a>
      </span>
      {{ if False: #phototags[0].photos.frommobile == True: }}<span style="margin-left: 4px;">via iOS</span>{{ pass }}
      {{ pass }}

    	<button class="button" id="showTagCreator"><i class="icon-tag"></i>Tag a Style</button>
        <button class="button" id="showLookCreator"><i class="icon-eye-open"></i>Create a Look</button>
    </div>

    {{ include 'partials/front/tagcreator.html' }}
    {{ include 'partials/front/lookcreator.html' }}
    {{ include 'partials/front/styleview/tagbox.html' }}

    <div class="photoDiv">
      <div class="photoButtons">
            <a href="javascript://" class="removePhoto">x</a>
            <button class="previous" onclick='swipePhoto.prev()'>&lt;</button>
            <button class="previous next" onclick='swipePhoto.next()'>&gt;</button>
      </div>
      <div class="swipe" id="swipePhoto" style="height: {{=height}}px;">

            <div class="swipe-wrap">

              {{ for i in range(len(photos)):}}
                 {{ if i==0: }}
                    <div>
                       <img class="lazy stylephoto" 
                            src="{{=URL('default', 'download', args=photos[i].picture)}}" 
                            data-original="{{=URL('default', 'download', args=photos[i].picture)}}" 
                            data-owner="{{=photos[i].owner_id.username}}" 
                            alt="{{=hashid.encrypt(photos[i].id)}}" 
                            data-photoid="{{=hashid.encrypt(photos[i].id)}}" 
                            data-loved="0"
                            data-nloves="{{=photos[i].totalloves}}"
                            width="580px" 
                            data-height="{{=photos[i].height}}" />
                    </div>
                 {{ else: }}
                    <div>
                       <img class="lazy stylephoto" 
                            src="{{=URL('default', 'download', args=photos[i].preview)}}" 
                            data-original="{{=URL('default', 'download', args=photos[i].picture)}}" 
                            data-owner="{{=photos[i].owner_id.username}}" 
                            alt="{{=hashid.encrypt(photos[i].id)}}" 
                            data-photoid="{{=hashid.encrypt(photos[i].id)}}" 
                            data-loved="0"
                            data-nloves="{{=photos[i].totalloves}}"
                            width="580px" 
                            data-height="{{=photos[i].height}}" />
                    </div>
                 {{ pass }}
               {{ pass }}

              {{ for i in range(len(phototags)):}}
                  {{ if i==0:}}
                    <div>
                       <img class="lazy stylephoto" 
                            src="{{=URL('default', 'download', args=phototags[i].photos.picture)}}" 
                            data-original="{{=URL('default', 'download', args=phototags[i].photos.picture)}}" 
                            data-owner="{{=phototags[i].photos.owner_id.username}}" 
                            alt="{{=hashid.encrypt(phototags[i].photos.id)}}" 
                            data-photoid="{{=hashid.encrypt(phototags[i].photos.id)}}" 
                            data-loved="{{=phototags[i].photos.loved}}" 
                            data-nloves="{{=phototags[i].photos.nloves}}"
                            width="580px"
                            data-height="{{=phototags[i].photos.height}}">
                    </div>
                  {{ else: }}
                    <div>
                       <img class="lazy stylephoto" 
                            src="{{=URL('default', 'download', args=phototags[i].photos.preview)}}" 
                            data-original="{{=URL('default', 'download', args=phototags[i].photos.picture)}}" 
                            data-owner="{{=phototags[i].photos.owner_id.username}}" 
                            alt="{{=hashid.encrypt(phototags[i].photos.id)}}" 
                            data-photoid="{{=hashid.encrypt(phototags[i].photos.id)}}" 
                            data-loved="{{=phototags[i].photos.loved}}" 
                            data-nloves="{{=phototags[i].photos.nloves}}"
                            width="580px"
                            data-height="{{=phototags[i].photos.height}}">
                    </div>
                  {{ pass }}
               {{ pass }}


            </div>
        </div>
    </div>

    {{ include 'partials/front/styleview/lovebar.html'}} 

</div>
