<div class='tagBox'>
    <div class='tags'>

        <div class="inline">
             <script type='text/ejs' id='styleviewPhotoTagEJS'>
                <a href='<%= taglink %>'>
                   <span><%= tagname %></span>
                   <span> | </span>
                   <span><%= tagnumloves %> <i class="icon-heart"></i></span>
                </a>
             </script>

            {{ if tags: }}
               {{ for tag in tags:}}
                  <a href="/{{=IS_SLUG.urlify(tag.styles.owner_id.username)}}/{{=tag.styles.name}}">
                      <span>{{=tag.styles.name}}</span><span>|</span><span>{{=tag.styles.totalloves}} <i class="icon-heart"></i></span>
                  </a>
               {{ pass }}
            {{ pass }}
        </div>

        {{ if not tags: }}
          <span id="tagempty">This  photo has not been tagged any style yet.</span>
        {{ pass }}


    </div>
</div>
