    <div class="inline searchUser">
        <span>Users</span><br />
        <div class="inline swipe"  id="swipeSearchUser" style="width:280px; margin:0; padding-left:20px;">
            <div class='swipe-wrap'>
                <div style="width:280px;">
                    <div>
                        <a href="LINK TO USER 1">User 1</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Alberto</strong></span><br/>
                            <span>Followers: 5043</span><br/>
                            <span>Following: 347</span>
                        </div>
                    </div>
                    <div>
                        <a href="LINK TO USER 2">User 2</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Felipe</strong></span><br/>
                            <span>Followers: 7602</span><br/>
                            <span>Following: 2306</span>
                        </div>
                    </div>
                    <div>
                        <a href="LINK TO USER 3">User 3</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Wombat</strong></span><br/>
                            <span>Followers: 1120</span><br/>
                            <span>Following: 302</span>
                        </div>
                    </div>
                </div>
                <div style="width:280px;">
                    <div>
                        <a href="LINK TO USER 1">User 1</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Alberto</strong></span><br/>
                            <span>Followers: 5043</span><br/>
                            <span>Following: 347</span>
                        </div>
                    </div>
                    <div>
                        <a href="LINK TO USER 2">User 2</a><!--place name of style/user inside tag-->
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Felipe</strong></span><br/>
                            <span>Followers: 7602</span><br/>
                            <span>Following: 2306</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="nextSlide" onclick='swipeSearchUser.next()'><i class="icon-angle-right"></i></button>
    </div>

