<div class="inline">
    <span>Styles</span><br/>
    <div class="inline swipe" id="swipeSearchStyle" style="width:560px;">
        <div class='swipe-wrap'>
            <div>
             <script type='text/ejs' id='searchresultStyleItemEJS'>
                <div class='inline'>
                    <a href="/<%= sluglink %>/<%= stylename %>"><%= stylename %></a>
                    <div class='imgContainer inline'>
                       <img src='/style/default/download/<%= thumb %>' alt='' width='70px' height='70px'/>
                    </div>
                    <div class='inline styleFeedInfo'>
                      <span><strong><%=stylename%></strong></span><br/>
                      <span><%=numloves%> <i class="icon-heart"></i></span><br/>
                      <span>by <%=owner%></span>
                    </div>
                </div>
             </script>
             <div id="styleresults"></div>
            </div>
        </div>

    </div>

    <!-- <button class="nextSlide" onclick='swipeSearchStyle.next()'><i class="icon-angle-right"></i></button> -->
</div>
