<div class="inline searchUser">
    <span>Users</span><br />
    <div class="inline swipe"  id="swipeSearchUser" style="width:280px; margin:0; padding-left:20px;">
        <div class='swipe-wrap'>
            <div style="width:280px;">

                <script type='text/ejs' id='searchresultUserItemEJS'>
                    <div class="inline">
                        <a href="/profile/<%= sluglink %>" >User 1</a>
                        <div class='imgContainer inline'>
                            <img src='/style/static/front/img/defaultUserIcon.png' alt='' width='70px' height='70px'/>
                        </div>
                        <div class='inline styleFeedInfo'>
                            <span><strong><%= username %></strong></span><br/>
                            <span>Followers: <%= followers %></span><br/>
                            <span>Following: <%= following %></span>
                        </div>
                    </div>
                </script>
                <div id="userresults"></div>

            </div>
        </div>
    </div>
    <!-- <button class="nextSlide" onclick='swipeSearchUser.next()'><i class="icon-angle-right"></i></button> -->
</div>

