{{extend 'layouts/front.html'}}

<div class='content'>
    <div class='rightContent'>
        {{include 'partials/front/shopthestyles.html'}}
        {{include 'partials/front/looks.html'}}
        {{include 'partials/front/mostloved.html'}}
        {{include 'partials/front/recentstyles.html'}}
    </div>
    
    <div class='mainContent'>

        {{try:}}
          {{photo}}
          {{include 'partials/front/photo/box.html'}}
        {{except:}}
          <h3>Photo not given or not found.</h3>
        {{pass}}

    </div>
</div>