<div class="photo" style="margin-top: 40px;">

    <div class="photoOwner">
        <span>
            <i class="icon-camera"></i>Photo by <a href="">{{=photo.owner_id.username}}</a>
        </span>
    </div>

    <div class="photoContainer">
        <img src="{{=URL('default','download',args=photo.picture)}}" alt="" width="580px" />
	</div>

</div>
<a href="#" class="commentButton"><i class="icon-comments"></i> COMMENTS<span>(1324)</span></a>
