<div class='userInfo'>
    <div class="userBox">
    	<button class='button follow' id="userSettings"><i class="icon-cog"></i>Settings</button>
        <img src='http://lorempixel.com/75/80' alt=''/>
        <div class="inline">
            <h1>{{=auth.user.username}}</h1>
            <span>768 followers | 11 following</span>
        </div>
        <p id='styleText'>Catching up with young Hollywood in one of the trendiest places to see and be seen, The Grove and Farmers Market. Known for a place where the stars shop it is an excellent forum for checking out the latest looks. We caught up with some of hollywood's up and coming to see what is happening in fall fashion with these trend setters! Photos by http://www.JTProImaging.com/</p><a href="#" id="editInfo"><i class="icon-pencil"></i></a>
    </div>
</div>
