<div class='userInfo'>
    <div class="userBox">

        <button class='button' id="userSettings" style="float: right;"><i class="icon-cog"></i>Settings</button>


        {{if user.avatar:}}
           <img src="{{=URL('default','download', args=user.avatar)}}" width="100px" alt=''/>
        {{pass}}


        <div class="inline">
            <h1>{{=user.first_name}} {{=user.last_name}} {{#IS_SLUG.urlify(auth.user.username)}}</h1>
            <span>0 followers | 0 following</span>
        </div>

        {{ if user.bio:}}
        <p id='styleBio'>{{=user.bio}}</p>
        {{ pass }}
    </div>
</div>
