<div class="addStyleFeed">
	<div>
		<span>Add a Style to your Feed</span>
        <form class="searchStyles">
            <div>
                <input id="tagsInput" name="tagStyle" placeholder="search for styles" />
            </div>
        </form>
        <div class="stylesResults" style="display:none; padding:0px 10px 30px 30px">
            <script type='text/ejs' id='addStyleStylesResultsEJS'>
                <div class="inline" data-styleid="<%= styleid %>" style="width: 280px;">
                   <a href="#" class="divLink" id="style_3">the</a>
                   <div class='imgContainer inline' style="width:270px;">
                       <img src='<%= stylethumb %>' alt='' width='70px' height='70px' style="margin-right: 4px;"/>
                        <div class='inline styleFeedInfo'>
                             <span><strong><%= name %></strong></span><br/>
                             <span><%= loves %> <i class="icon-heart"></i></span><br/>
                             <span>by <%= owner %></span>
                        </div>
                   </div>
                </div>
            </script>

            <div class="styleBox" style="padding-top: 10px;"> </div>
		</div>
        <form>
			<div class="drop-shadow curved curved-hz-1" style="background:#eee;background: rgba(20,10,60,0.05); padding:20px 50px;text-align:center;overflow:hidden;">
                <!-- <input type="submit" value="Add to Style Feed" name="updateUserSettings" class="button inline"/> -->
				<a href="#" class="button inline" id="canceladdStyleFeed" style="text-align: ;">Cancel</a>
			</div>
		</form>
	</div>
</div>
