<div class="topBar">
    <div style="padding:0 20px;">
    	<div class="buttonDiv">
    	{{ if auth.is_logged_in() and auth.has_membership(2): }}
    		<div class="inline imgContainer">
          {{if auth.user.avatar:}}
            <img src='{{=URL('download',args=auth.user.avatar)}}' width="35" heigth="35" alt='avatar'/>
          {{else:}}
            <img src="{{=URL('static','front/35x35_generic_avatar.gif')}}" width="35" heigth="35" alt='genericAvatar'/>
          {{pass}}
    		</div>
    	    <a href="/profile/{{=auth.user.username}}" class="userButton">{{=auth.user.username}}</a>
    	    <button class="button loginButton" id="loginButton"><span class="notificationButton">4</span>Notifications</button>
            <button class="button" id="uploadButton"><i class="icon-camera"></i>Upload Photo</button>
       	{{ elif auth.is_logged_in(): }}
            <div class="inline imgContainer"><img src="{{=URL('static','front/35x35_generic_avatar.gif')}}" width="35" heigth="35" alt='genericAvatar'/></div>
       	    <span>Please choose an username </span>
       	    <!-- <span><input type="text"></input></span> -->
            <span><a href="{{=URL('style', 'default', 'basiclogout')}}">logout</a></span>
       	{{ else: }}
       	    <button class="button" id="loginButton"><i class="icon-signin"></i>Login / Signup</button>
            <button class="button" id="uploadButton"><i class="icon-camera"></i>Upload Photo</button>
       	{{ pass }}
        
    </div>
    <div class="searchDiv"><input type="text" name="search" class="search" placeholder="search" /></div>
  </div>
    
</div>
{{include 'partials/front/contextbox.html'}}
