<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
<!--script>window.jQuery || document.write('<script src="{{=URL('static','front/js/vendor/jquery-1.9.1.min.js')}}"><\/script>')</script-->
<script>window.jQuery || document.write('<script src="http://zeptojs.com/zepto.min.js"><\/script>')</script>
<script src="{{=URL('static','front/js/jquery-ui.min.js')}}"></script>
<script src="{{=URL('static','front/js/can.custom.js')}}"></script>
<script src="{{=URL('static','front/js/jquery.validate.min.js')}}"></script>
<script src="{{=URL('static','front/js/dropzone.js')}}"></script>
<script src="{{=URL('static','front/js/readmore.min.js')}}"></script>
<script src="{{=URL('static','front/js/jquery.typing-0.2.0.min.js')}}"></script>
<script src="{{=URL('static','front/js/draggabilly.pkgd.min.js')}}"></script>
<script src="{{=URL('static','front/js/swipe.js')}}"></script>
<script src="{{=URL('static','front/js/jquery.lazyload.min.js')}}"></script>
<script src="{{=URL('static','front/js/main.js')}}"></script>
<script src="{{=URL('static','front/js/plugins.js')}}"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45080219-1', 'spottinstyle.com');
  ga('send', 'pageview');
</script>
