<nav>
  <ul>
    <li><a href='http://{{=request.env.http_host}}'>Home</a><span>/</span></li>
    <li><a href=''>Styles</a><span>/</span></li>
    <li><a href=''>{{=user.username}}</a><span>/</span></li>
    <li>{{=style.name}}</li>
  </ul>
</nav>
