<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header>

	<a href="http://{{=request.env.http_host}}">
		<img src="{{=URL('static','front/css/img/logo.png')}}" alt="spottinstyle">
	</a>

    <div class='socialIcons'>
        <a href='https://twitter.com/SpottinStyle' target="_blank"><img src="{{=URL('static','front/css/img/header_social_twitter.png')}}"/></a>
        <a href='https://www.facebook.com/SpottinStyle' target="_blank"><img src="{{=URL('static','front/css/img/header_social_facebook.png')}}"/></a>
        <a href='http://www.pinterest.com/search/pins/?q=spottinstyle' target="_blank"><img src="{{=URL('static','front/css/img/header_social_pinterest.png')}}"/></a>
    </div>

</header>
