<div class="looks">
    <h3>LOOKS</h3>
    
    <div class="imgContainer inline"><img src="{{=URL('static', 'front/img/look1.jpg')}}" alt="" width="247px" height="247px"></div>
    <div class="info"><span>by Robin | 65 loves</span></div>
    <div class="imgContainer inline"><img src="{{=URL('static', 'front/img/look2.jpg')}}" alt="" width="247px" height="247px"></div>
    <div class="info"><span>by Robin | 65 loves</span></div>
</div>
