{{ if auth.is_logged_in(): }}
<div class="lookCreator">
    <div class="dropBox inline"><span>Drag products here</span></div>
    <div class="productBox inline">
        <input type="text" class="search" placeholder="search products"/>

        <script type='text/ejs' id='looksdisplayproductsEJS'>
          <a href="#" class="productThumb ui-widget-content" id="product1" style="position: static;">
              <img src="<%= imgurl  %>"/>
          </a>
        </script>
        <div class="lookLeftArrow" style="background: #fff;margin-top: 8px; padding: 0 4px; width: 8px; height: 200px; vertical-align: middle; float: left;">
            <img style="vertical-align: middle; width: 8px; padding-top: 100px;" src="http://www.docduo.com.br/assets/images/left-arrow.png"/>
        </div>
        <div class="lookProducts" style="margin: 8px 4px; max-height: 200px ; width: 254px; overflow-y: auto; float:left;" id="canvas"></div>
        <div class="lookRightArrow" style="background: #fff;margin-top: 8px; padding: 0 4px; width: 8px; height: 200px; vertical-align: middle; float: right;">
            <img style="vertical-align: middle; width: 8px; padding-top: 100px;" src="http://www.docduo.com.br/assets/images/right-arrow.png"/>
        </div>

    </div>
    <div class="bottomBar">
        <button id='savelook' class='button'>Save this Look</button>
        <button class='button' id='hideLookCreator'>Cancel</button>
    </div>
  </div>
{{ else: }}
<div class="lookCreator" style="text-align: center; padding-bottom: 20px; width: 100%; float: left;">
  <h4>You need to log in to use this feature.</h4>
</div>
{{ pass }}
