<div class='mostLoved'>
	<h3>MOST LOVED</h3>
	<div class='imgContainer inline'><img src='http://lorempixel.com/110/110/fashion/5' alt='' width='110px' height='110px'/></div>
	<div class='imgContainer inline'><img src='http://lorempixel.com/110/110/fashion/2' alt='' width='110px' height='110px'/></div>
	<div class='imgContainer inline'><img src='http://lorempixel.com/110/110/fashion/3' alt='' width='110px' height='110px'/></div>
	<div class='imgContainer inline'><img src='http://lorempixel.com/110/110/fashion/4' alt='' width='110px' height='110px'/></div>
</div>