<div class='mostLoved recentStyles'>
	<h3>RECENT STYLES</h3>
  {{for style in rightSidebar_recentStyles:}}
  <div class="inline" style="width: 268px; margin-left: 18px;">
      <a href="/{{=IS_SLUG.urlify(style.owner_id.username)}}/{{=style.name}}" class="divLink">{{=style.name}}</a>
      <div class='imgContainer inline'>
          {{ if style.stylethumb: }}
             <img src="{{=URL('default','download', args=style.stylethumb)}}" alt='' width='110px' height='110px'/>
          {{ else: }}
             <img src="http://placehold.it/110/110" alt='' width='110px' height='110px'/>
          {{ pass }}
      </div> 
      <div class='inline styleFeedInfo'>
         <span><strong>{{if len(style.name)>14:}}{{=style.name[0:14]}}...{{else:}}{{=style.name}}{{pass}}</strong></span><br/>
         {{ if style.description:}}
            <span>{{=style.description[0:26]}}...</span><br/>
         {{ else: }}
            <span>No description</span><br/>
         {{ pass }}
         <span>{{=db(db.loves.style_id==style.id).count()}}  <i class="icon-heart"></i></span><br/>
         <span>by {{if len(style.owner_id.username)>16:}}{{=style.owner_id.username[0:16]}}...{{else:}}{{=style.owner_id.username}}{{pass}}</span><br/>
      </div>
  </div>
  {{ pass }}

</div>
