<div class='shopTheStyles'>
	<h3>SHOP THE STYLES</h3>
    <div class='imgContainer inline'>
        <img src='{{=URL('static','front/img/110p110.png')}}' alt='' width='110px' height='110px'/>
    </div>
    <div class='imgContainer inline'>
        <img src='{{=URL('static','front/img/110p110.png')}}' alt='' width='110px' height='110px'/>
    </div>
    <div class='imgContainer inline'>
        <img src='{{=URL('static','front/img/110p110.png')}}' alt='' width='110px' height='110px'/>
    </div>
    <div class='imgContainer inline'>
        <img src='{{=URL('static','front/img/110p110.png')}}' alt='' width='110px' height='110px'/>
    </div>

</div>
