<div class="sliderBox">
  <div id='slider' class='swipe'>
    <div class='swipe-wrap'>
      {{for i in range(len(slides)):}}
        {{ if i==0: }}
          <div>
            <a href="{{=slides[0].linkurl}}">
              <img src="{{=URL('default', 'download', args=slides[0].picture)}}" 
                   data-original="{{=URL('default', 'download',args=slides[i].picture)}}" 
                   class="lazy slidephoto" 
                   alt=''/>
            </a>
          </div>
       {{ else: }}
          <div>
            <a href="{{=slides[i].linkurl}}">
              <img src="{{=URL('default', 'download', args=slides[i].preview)}}" 
                   data-original="{{=URL('default', 'download',args=slides[i].picture)}}" 
                   class="lazy slidephoto" 
                   alt=''/>
            </a>
          </div>
       {{ pass }}
      {{pass}}
    </div>
  </div>

  <div class='sliderBar'>
    <ul id='position'>
      {{i=0}}
      {{for slide in slides:}}
        <li {{if i==0:}}class='on'{{pass}}>
          <a href='#' onclick='mySwipe.slide({{=i}})'>
            <img src='{{=URL('download',args=slide.preview)}}' width="100" heigth="80" alt=''/>
          </a>
        </li>
        {{i+=1}}
      {{pass}}
    </ul>
  </div>
</div>

