<div class='styleFeed'>
    <h3>STYLE FEED</h3>

    <!-- Fixed Galleries -->
    <div class='inline'>
        <a href="/all-photos" class="divLink">Style 1</a><!--place name of style/user inside tag-->
        {{ allphotosthumb = db().select(db.specialthumbs.ALL, cache=(cache.ram,3600),cacheable=True).last().allphotosthumb }}

        <div class='imgContainer inline'><img src='{{=URL("download", args=allphotosthumb)}}' alt='' width='110px' height='110px'/></div>
        <div class='inline styleFeedInfo'>
            <span><strong>All Style Photos</strong></span><br/>
            <span>Live SpottinStyle Feed</span><br/>
            <span>{{=db(db.loves.id>0).count()}} <i class="icon-heart"></i></span><br/>
            <span>by SpottinStyle</span>
        </div>
    </div>
    <div class='inline'>
        <a href="/latest-looks" class="divLink">Style 1</a><!--place name of style/user inside tag-->
        {{ latestthumb = db().select(db.specialthumbs.ALL, cache=(cache.ram,3600),cacheable=True).last().latestthumb}}
        <div class='imgContainer inline'><img src='{{=URL("download", args=latestthumb)}}' alt='' width='110px' height='110px'/></div>
        <div class='inline styleFeedInfo'>
            <span><strong>Latest Looks</strong></span><br/>
            <span>Latest Spotted Looks</span><br/>
            <span>76K <i class="icon-heart"></i></span><br/>
            <span>by SpottinStyle</span>
        </div>
    </div>
    <div class='inline'>
        <a href="trendiest" class="divLink">Style 1</a><!--place name of style/user inside tag-->
        {{ trendiestthumb = db().select(db.specialthumbs.ALL, cache=(cache.ram,3600),cacheable=True).last().trendiestthumb}}
        <div class='imgContainer inline'><img src='{{=URL("download", args=trendiestthumb)}}' alt='' width='110px' height='110px'/></div>
        <div class='inline styleFeedInfo'>
            <span><strong>Trendiest Styles</strong></span><br/>
            <span>Most loved Styles, Style Competitions</span><br/>
            <span>76K <i class="icon-heart"></i></span><br/>
            <span>by SpottinStyle</span>
        </div>
    </div>


    <!-- Dynamic Styles by CANjs template -->
    <script type='text/ejs' id='stylefeedItemEJS'>
        <div class='inline myStyleFeed styleid' data-styleid="<%= styleid %>" style="width: 268px;">
            <a class="removeStyleFeed">x</a>
            <a href="<%=link%>" class="divLink"><%= name %></a>
            <div class='imgContainer inline'><img src='<%=stylethumb%>' alt='' width='110px' height='110px'/></div>
            <div class='inline styleFeedInfo'>
                <span><strong><%=name%></strong></span><br/>
                <span><%=styledescription%></span><br/>
                <span><%=loves%> <i class="icon-heart"></i></span><br/>
                <span>by <%=owner%></span>
            </div>
        </div>
    </script>
    {{ if stylesfollowing!=False: }}
        {{ for style in stylesfollowing: }}
        <div class='inline myStyleFeed styleid' data-styleid="{{=hashid.encrypt(style.follows.id)}}" style="width: 268px;">
            <a href="#" class="removeStyleFeed">x</a>
            <a href="/{{=IS_SLUG.urlify(style.follows.owner_id.username)}}/{{=style.follows.name}}" class="divLink">Style 1</a>
            <div class='imgContainer inline'>
               {{ if style.follows.stylethumb:  }}
                   <img src="{{=URL('default','download', args=style.follows.stylethumb)}}" alt='' width='110px' height='110px'/>
               {{ else: }}
                   <img src='http://placehold.it/110x110' alt='' width='110px' height='110px'/>
               {{ pass }}
            </div>
            <div class='inline styleFeedInfo'>
                <span><strong>{{=style.follows.name}}</strong></span><br/>
                {{ if style.follows.description: }}<span>{{=style.follows.description[0:30]}}...</span><br/>{{else:}}<span>No description.</span><br>{{pass}}
                <span>{{=db(db.loves.style_id==style.follows.id).count()}} <i class="icon-heart"></i></span><br/>
                <span>by {{=style.follows.owner_id.username}}</span>
            </div>
        </div>
        {{ pass }}
    {{pass}}
    <a href='' class='addStyle inline' id="addStyleFeed">
        <span>Add a Style</span>
    </a>
</div>
