<div class="tagStyle" id="tagStyle">
    <form>
        <input type="submit" value="Create new Style" name="createStyle" class="button" id="tagStyleButton" />
        <div class="ui-widget" style="margin-right:124px;">
            <input id="tagsInput" name="tagStyle" placeholder="search for existing styles or create a new one" />
        </div>
    </form>
    <div style="display:none; text-align:left;">
        <button class="nextSlide" onclick='swipeTagStyle.prev()'><i class="icon-angle-left"></i></button>
<<<<<<< HEAD
    <div class="inline swipe" id="swipeTagStyle" style="width:480px; margin-left:29px;">
    <div class="styleBox swipe-wrap">

        <script type='text/ejs' id='styleviewSearchStyleItemEJS'>
           <div class="inline">
               <a href="#" class="divLink" id="style_1">Click</a>
               <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
               <div class='inline styleFeedInfo'>
                   <span><strong>cliiiiick</strong></span><br/>
                   <span>76K <i class="icon-heart"></i></span><br/>
                   <span>by User</span>
               </div>
           </div>
        </script>
        <!-- <div id="#searchstyleresults"></div> -->
        {{ #el de dalt es el code de deveres, el de baix el de relleno }}

        <div>
            <div class="inline">
                <a href="#" class="divLink" id="style_1">Click</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>cliiiiick</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
            </div>
            <div class="inline">
                <a href="#" class="divLink" id="style_2">On</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>On</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
            </div>
            <div class="inline">
                <a href="#" class="divLink" id="style_3">The</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>The</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
            </div>
            <div class="inline">
                <a href="#" class="divLink" id="style_4">Styles</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>Styles</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
            </div>
        </div>
        <div>
            <div class="inline">
                <a href="#" class="divLink">Click</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>Click</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
                </div>
            </div>
            <div class="inline">
                <a href="#" class="divLink">On</a>
                <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                <div class='inline styleFeedInfo'>
                    <span><strong>On</strong></span><br/>
                    <span>76K <i class="icon-heart"></i></span><br/>
                    <span>by User</span>
=======
        <div class="inline swipe" id="swipeTagStyle" style="width:480px; margin-left:29px;">
            <div class="styleBox swipe-wrap">
                <div>
                    <div class="inline">
                        <a href="#" class="divLink" id="style_1">Click</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Click</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="#" class="divLink" id="style_2">On</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>On</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="#" class="divLink" id="style_3">The</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>The</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="#" class="divLink" id="style_4">Styles</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="inline">
                        <a href="#" class="divLink">Click</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Click</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="#" class="divLink">On</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>On</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="#" class="divLink">The</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>The</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="#" class="divLink">Styles</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Styles</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    
>>>>>>> robin
                </div>
                <div>
                    <div class="inline">
                        <a href="#" class="divLink">Click</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>Click</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="#" class="divLink">On</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>On</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                    <div class="inline">
                        <a href="#" class="divLink">The</a>
                        <div class='imgContainer inline'><img src='http://lorempixel.com/110/110' alt='' width='70px' height='70px'/></div>
                        <div class='inline styleFeedInfo'>
                            <span><strong>The</strong></span><br/>
                            <span>76K <i class="icon-heart"></i></span><br/>
                            <span>by User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="nextSlide" onclick='swipeTagStyle.next()'><i class="icon-angle-right"></i></button>
    </div>
<<<<<<< HEAD
</div>
<button class="nextSlide" onclick='swipeTagStyle.next()'><i class="icon-angle-right"></i></button>
</div>
</div>
=======
</div>
>>>>>>> robin
