{{ if auth.is_logged_in(): }}


<div class="tagStyle tagStyleBox" id="tagStyle">
    <form>
        <input type="submit" value="Create new Style" name="createStyle" class="button" id="tagStyleButton" />
        <div class="ui-widget" style="margin-right:124px;">
            <input id="tagsInput" name="tagStyle" placeholder="search for existing styles or create a new one" />
        </div>
    </form>
    <div style="text-align:left;">

        <script type='text/ejs' id='styleviewSearchStyleItemEJS'>
           <div class="inline" data-styleid="<%= styleid %>">
               <a href="javascript://" class="divLink" style="display:none;" data-link="<%= stylelink %>"><%= name %></a>
               <div class='imgContainer inline' style="width: 239px;">
                 <img src='http://placehold.it/70/70' alt='' width='70px' height='70px'/>
                   <div class='inline styleFeedInfo'>
                     <span style="font-size: 14px;"><strong><%= name %></strong></span><br/>
                     <span><%= loves %>K <i class="icon-heart"></i></span><br/>
                     <span style="font-size: 12px;">by <%= owner %></span>
                  </div>
               </div>
           </div>
        </script>

        <div style="display:none; margin-top: 12px;" id="searchstyleresults">
        </div>

    </div>
</div>

{{ else: }}
  <div class="tagStyle" id="tagStyle">
    <h4>You need to log in to use this feature.</h4>
  </div>
{{ pass }}
