{{
	response.files.insert(0,URL('static','js/jquery.js'))
	response.files.insert(1,URL('static','css/calenadar.css'))
	response.files.insert(2,URL('static','js/calendar.js'))
	response.include_meta()
	response.include_files()
}}
<script type="text/javascript">
    <!-- // These variables are used by the web2py_ajax_init function in web2py.js (which is loaded below). //-->
    var w2p_ajax_confirm_message = "{{=T('Are you sure you want to delete this object?')}}";
    var w2p_ajax_date_format     = "{{=T('%Y-%m-%d')}}";
    var w2p_ajax_datetime_format = "{{=T('%Y-%m-%d %H:%M:%S')}}";
</script>
<script src="{{=URL('static','js/web2py.js')}}" type="text/javascript"></script>