<div class="tabs-2" id="tabs-2">
    <div style="width:100%; height:0px; position: relative;">
        <div class="arrow-down-b"></div> 
    </div>
    <div class='inline'>
        <a href="LINK TO STYLE 1" class="divLink">Style 1</a><!--place name of style/user inside tag-->
        <div class='imgContainer inline'><img src='http://placehold.it/110x110' alt='' width='110px' height='110px'/></div>
        <div class='inline styleFeedInfo'>
            <span><strong>All Style Photos</strong></span><br/>
            <span>Live SpottinStyle Feed</span><br/>
            <span>76K <i class="icon-heart"></i></span><br/>
            <span>by User</span>
        </div>
    </div>
    <div class='inline'>
        <a href="LINK TO STYLE 1" class="divLink">Style 1</a><!--place name of style/user inside tag-->
        <div class='imgContainer inline'><img src='http://placehold.it/110x110' alt='' width='110px' height='110px'/></div>
        <div class='inline styleFeedInfo'>
            <span><strong>All Style Photos</strong></span><br/>
            <span>Live SpottinStyle Feed</span><br/>
            <span>76K <i class="icon-heart"></i></span><br/>
            <span>by User</span>
        </div>
    </div>
    <div class='inline'>
        <a href="LINK TO STYLE 1" class="divLink">Style 1</a><!--place name of style/user inside tag-->
        <div class='imgContainer inline'><img src='http://placehold.it/110x110' alt='' width='110px' height='110px'/></div>
        <div class='inline styleFeedInfo'>
            <span><strong>All Style Photos</strong></span><br/>
            <span>Live SpottinStyle Feed</span><br/>
            <span>76K <i class="icon-heart"></i></span><br/>
            <span>by User</span>
        </div>
    </div>
    <div class='inline'>
        <a href="LINK TO STYLE 1" class="divLink">Style 1</a><!--place name of style/user inside tag-->
        <div class='imgContainer inline'><img src='http://placehold.it/110x110' alt='' width='110px' height='110px'/></div>
        <div class='inline styleFeedInfo'>
            <span><strong>All Style Photos</strong></span><br/>
            <span>Live SpottinStyle Feed</span><br/>
            <span>76K <i class="icon-heart"></i></span><br/>
            <span>by User</span>
        </div>
    </div>
</div>