<div id="tabs-3">
    <div style="width:100%; height:0px; position: relative;">
        <div class="arrow-down-c"></div> 
    </div>
	<div class='looks'>

         {{ if looks != False: }}
             {{ for look in looks:}}
                 <div class="inline">
                    <div class='imgContainer inline'>
                       <img src='http://lorempixel.com/247/247' alt='' width='247px' height='247px'/>
                    </div>
                    <div class='info'>
                        <span>by User | 65 <i class="icon-heart"></i></span>
                    </div>
                 </div>
             {{ pass }} 
         {{ else: }}
            <div class="inline">User has not created any looks yet.</div>
         {{ pass }}
	</div>
</div>
