<div class="userSettings">
	<div>
		<span>Settings</span>
		<form>
			<div style="padding:16px 30px 30px 30px">
				<label for="userFirstName">First Name</label>
				<input type="text" name="First Name" class="newStyleTitle" id="userFirstName"/><br />
				<label for="userLastName">Last Name</label>
				<input type="text" name="Last Name" class="newStyleTitle" id="userLastName"/><br />
				<label for="userEmail">Email</label>
				<input type="text" name="Email" class="newStyleTitle" id="userEmail"/><br />
				<label for="userPassword">Password</label>
				<input type="text" name="Password" class="newStyleTitle" id="userPassword"/>
			</div>
			<div class="drop-shadow curved curved-hz-1" style="background:#eee;background: rgba(20,10,60,0.05); padding:20px 50px;text-align:center;overflow:hidden;">
				<input type="submit" value="Save" name="updateUserSettings" class="button inline"/>
				<a href="#" class="button inline" id="cancelUserSettings">Cancel</a>
			</div>
		</form>
	</div>
</div>
